<div class="navbar-area" [ngClass]="{'sticky': isSticky}">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg" [class.active]="classApplied">
            <a class="navbar-brand" routerLink="/">
                <img src="assets/images/logo-white.png" alt="logo">
            </a>
            <button class="navbar-toggler" type="button" (click)="toggleClass()">
                <span class="burger-menu">
                    <span class="top-bar"></span>
                    <span class="middle-bar"></span>
                    <span class="bottom-bar"></span>
                </span>
            </button>
            <div class="collapse navbar-collapse" [class.show]="!isNavbarCollapsed" id="navbarNav">
                <ul class="navbar-nav">
                    <!-- <li class="nav-item">
                        <a routerLink="/index-3" (click)="collapseNavbar()" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                            Home
                        </a>
                    </li> -->

                    <li class="nav-item">
                        <a href="javascript:void(0)" (click)="collapseNavbar()" class="dropdown-toggle nav-link">
                            Resume
                        </a>
                        <ul class="dropdown-menu">
                            <li class="nav-item">
                                <a href="https://drive.google.com/file/d/1JgrGGqm3nq41-1Hm_nx2Se2VmBDB4_80/view?usp=sharing" (click)="collapseNavbar()" class="nav-link" target="_blank" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                    CV
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="javascript:void(0)" class="dropdown-toggle nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                    {{ 'NAVBAR.A1L2' | translate }}
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a routerLink="/licence-2" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                            {{ 'NAVBAR.A1L2U1' | translate }}
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a routerLink="/licence-1" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                            {{ 'NAVBAR.A1L2U2' | translate }}
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a routerLink="/lycee" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                            {{ 'NAVBAR.A1L2U3' | translate }}
                                        </a>    
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="javascript:void(0)" class="dropdown-toggle nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                    {{ 'NAVBAR.A1L3' | translate }}
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a routerLink="/info" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                            {{ 'NAVBAR.A1L3U1' | translate }}
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a routerLink="/competences" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                            {{ 'NAVBAR.A1L3U2' | translate }}
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a href="javascript:void(0)" class="dropdown-toggle nav-link">
                            {{ 'NAVBAR.A2' | translate }}
                        </a>
                        <ul class="dropdown-menu">
                            <li class="nav-item">
                                <a href="javascript:void(0)" class="dropdown-toggle nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                    {{ 'NAVBAR.A2L1' | translate }} 
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a routerLink="/java-projets" (click)="collapseNavbar()" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                            Java
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a routerLink="/python-projets" (click)="collapseNavbar()" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                            Python
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a routerLink="/lang-web" (click)="collapseNavbar()" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                            Web
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a routerLink="/c-projets" (click)="collapseNavbar()" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                            C, C++
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="javascript:void(0)" class="dropdown-toggle nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                    {{ 'NAVBAR.A2L2' | translate }}
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a routerLink="/lindo" (click)="collapseNavbar()" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                            LINDO
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a routerLink="/sql-projets" (click)="collapseNavbar()" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                            Database SQL
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a routerLink="/matlab-projets" (click)="collapseNavbar()" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                            Matlab
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a href="javascript:void(0)" class="dropdown-toggle nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                            Orientation
                        </a>
                        <ul class="dropdown-menu">
                            <li class="nav-item">
                                <a routerLink="/etudes" (click)="collapseNavbar()" class="nav-link">
                                    {{ 'NAVBAR.A3L1' | translate }}
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/metiers" (click)="collapseNavbar()" class="nav-link">
                                    {{ 'NAVBAR.A3L2' | translate }}
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>

                <!--Responsive version nav bar-->
                <ul class="navbar-nav for-responsive">
                    <li class="nav-item">
                        <a routerLink="/" (click)="collapseNavbar()" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="toggleClass()">
                            Home
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="javascript:void(0)" class="dropdown-toggle nav-link">
                            Resume
                        </a>
                        <ul class="dropdown-menu">
                            <li class="nav-item">
                                <a href="https://drive.google.com/file/d/1JgrGGqm3nq41-1Hm_nx2Se2VmBDB4_80/view?usp=sharing" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="toggleClass()">
                                    CV
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="javascript:void(0)" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="toggleClass()">
                                    {{ 'NAVBAR.A1L2' | translate }}
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a routerLink="/licence-2" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="toggleClass()">
                                            {{ 'NAVBAR.A1L2U1' | translate }}
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a routerLink="/licence-1" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="toggleClass()">
                                            {{ 'NAVBAR.A1L2U2' | translate }}
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a routerLink="/lycee" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="toggleClass()">
                                            {{ 'NAVBAR.A1L2U3' | translate }}
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="javascript:void(0)" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="toggleClass()">
                                    {{ 'NAVBAR.A1L3' | translate }}
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a routerLink="/info" (click)="collapseNavbar()" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="toggleClass()">
                                            {{ 'NAVBAR.A1L3U1' | translate }}
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a routerLink="/competences" (click)="collapseNavbar()" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="toggleClass()">
                                            {{ 'NAVBAR.A1L3U2' | translate }}
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="javascript:void(0)" class="dropdown-toggle nav-link">
                            {{ 'NAVBAR.A2' | translate }}
                        </a>
                        <ul class="dropdown-menu">
                            <li class="nav-item">
                                <a href="javascript:void(0)" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="toggleClass()">
                                    {{ 'NAVBAR.A2L1' | translate }} 
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a routerLink="/java-projets" (click)="collapseNavbar()" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="toggleClass()">
                                            Java 
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a routerLink="/python-projets" (click)="collapseNavbar()" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="toggleClass()">
                                            Python
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a routerLink="/lang-web" (click)="collapseNavbar()" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="toggleClass()">
                                            Lang Web
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a routerLink="/c-projets" (click)="collapseNavbar()" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="toggleClass()" >
                                            C, C++
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="javascript:void(0)" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="toggleClass()">
                                    {{ 'NAVBAR.A2L2' | translate }}
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a routerLink="/lindo" (click)="collapseNavbar()" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="toggleClass()">
                                            LINDO 
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a routerLink="/sql-projets" (click)="collapseNavbar()" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="toggleClass()">
                                            Database SQL
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a routerLink="/matlab-projets" (click)="collapseNavbar()" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="toggleClass()">
                                            Matlab
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a href="javascript:void(0)" class="dropdown-toggle nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                            Orientation
                        </a>
                        <ul class="dropdown-menu">
                            <li class="nav-item">
                                <a routerLink="/etudes" (click)="collapseNavbar()" class="nav-link" (click)="toggleClass()">
                                    {{ 'NAVBAR.A3L1' | translate }}
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/metiers" (click)="collapseNavbar()" class="nav-link" (click)="toggleClass()">
                                    {{ 'NAVBAR.A3L2' | translate }}
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <!--End Responsive version nav bar-->
                
                <div class="others-option d-flex align-items-center">
                    <div class="option-item">
                        <a routerLink="/contact" (click)="collapseNavbar()" class="default-btn two" (click)="toggleClass()">{{ 'NAVBAR.BUTTON' | translate }}</a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>