<!-- Page Banner -->
<div
    class="page-banner-area ptb-100"
    style="background-image: url(assets/images/shapes/page-banner-bg8.jpg);"
>
    <div class="overlay"></div>
    <div class="container">
        <div class="page-banner-content text-center">
            <h1 style="color: #ffffff;">C/C++ Projets</h1>
            <ul class="ps-0 mb-0 list-unstyled">
                <li class="d-inline-block position-relative"><a routerLink="/">Home</a></li>
                <li class="d-inline-block position-relative" style="color: #ffffff;">C/C++ Projets</li>
            </ul>
        </div>
    </div>
</div>

<!-- Blog Grid -->
<div class="blog-area ptb-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="blog-card">
                    <div class="image">
                        <a routerLink="/c-projet-1" class="d-block">
                            <img src="assets/images/blogs/blog9.png" alt="blog-image">  
                        </a>
                    </div>
                    <div class="content">
                        <h3>
                            <a routerLink="/c-projet-1">
                                Parking Application 
                            </a>
                        </h3>
                        <ul class="meta ps-0 list-unstyled">
                            <li class="d-inline-block position-relative">
                                <i class='bx bx-calendar'></i>
                                2022
                            </li>
                        </ul>
                        <p>Projet avec C.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="blog-card">
                    <div class="image">
                        <a routerLink="/c-projet-2" class="d-block">
                            <img src="assets/images/blogs/blog10.png" alt="blog-image">  
                        </a>
                    </div>
                    <div class="content">
                        <h3>
                            <a routerLink="/c-projet-2">
                                Contact Management System
                            </a>
                        </h3>
                        <ul class="meta ps-0 list-unstyled">
                            <li class="d-inline-block position-relative">
                                <i class='bx bx-calendar'></i>
                                2024
                            </li>
                        </ul>
                        <p>Project avec C++.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="blog-card">
                    <div class="image">
                        <a routerLink="/c-projet-3" class="d-block">
                            <img src="assets/images/blogs/blog11.png" alt="blog-image">  
                        </a>
                    </div>
                    <div class="content">
                        <h3>
                            <a routerLink="/c-projet-3">
                                Pointeurs et Listes chainées 
                            </a>
                        </h3>
                        <ul class="meta ps-0 list-unstyled">
                            <li class="d-inline-block position-relative">
                                <i class='bx bx-calendar'></i>
                                2023
                            </li>
                        </ul>
                        <p>Programmes utilisés C.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>