<!-- Page Banner -->
<div
    class="page-banner-area ptb-100"
    style="background-image: url(assets/images/shapes/page-banner-bg.jpg);"
>
    <div class="container">
        <div class="page-banner-content text-center">
            <h1>Pricing</h1>
            <ul class="ps-0 mb-0 list-unstyled">
                <li class="d-inline-block position-relative"><a routerLink="/">Home</a></li>
                <li class="d-inline-block position-relative">Pricing</li>
            </ul>
        </div>
    </div>
</div>

<!-- Pricing -->
<div class="pricing-area pt-100 pb-75">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="pricing-box">
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="price">
                            <span class="sub-title d-block">Basic</span>
                            <h2>Free <span>/Per Month</span></h2>
                        </div>
                        <div class="icon">
                            <img src="assets/images/icons/car.gif" alt="car-icon">
                        </div>
                    </div>
                    <p>Standard listing submission, active for 30 days</p>
                    <ul class="features-list ps-0 mb-0 list-unstyled">
                        <li>
                            <i class='bx bx-check'></i>
                            All Operating Supported
                        </li>
                        <li>
                            <i class='bx bx-check'></i>
                            Great Interface
                        </li>
                        <li>
                            <i class='bx bx-check'></i>
                            Allows Encryption
                        </li>
                        <li>
                            <i class='bx bx-x'></i>
                            Face Recognized System
                        </li>
                        <li>
                            <i class='bx bx-x'></i>
                            24/7 Full support
                        </li>
                    </ul>
                    <a href="javascript:void(0);" class="default-btn">Get Started Now</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="pricing-box">
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="price">
                            <span class="sub-title d-block">Professional</span>
                            <h2>$599 <span>/Per Month</span></h2>
                        </div>
                        <div class="icon">
                            <img src="assets/images/icons/car.gif" alt="car-icon">
                        </div>
                    </div>
                    <p>Standard listing submission, active for 30 days</p>
                    <ul class="features-list ps-0 mb-0 list-unstyled">
                        <li>
                            <i class='bx bx-check'></i>
                            All Operating Supported
                        </li>
                        <li>
                            <i class='bx bx-check'></i>
                            Great Interface
                        </li>
                        <li>
                            <i class='bx bx-check'></i>
                            Allows Encryption
                        </li>
                        <li>
                            <i class='bx bx-check'></i>
                            Face Recognized System
                        </li>
                        <li>
                            <i class='bx bx-x'></i>
                            24/7 Full support
                        </li>
                    </ul>
                    <a href="javascript:void(0);" class="default-btn two">Get Started Now</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="pricing-box">
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="price">
                            <span class="sub-title d-block">Business</span>
                            <h2>$999 <span>/Per Month</span></h2>
                        </div>
                        <div class="icon">
                            <img src="assets/images/icons/car.gif" alt="car-icon">
                        </div>
                    </div>
                    <p>Standard listing submission, active for 30 days</p>
                    <ul class="features-list ps-0 mb-0 list-unstyled">
                        <li>
                            <i class='bx bx-check'></i>
                            All Operating Supported
                        </li>
                        <li>
                            <i class='bx bx-check'></i>
                            Great Interface
                        </li>
                        <li>
                            <i class='bx bx-check'></i>
                            Allows Encryption
                        </li>
                        <li>
                            <i class='bx bx-check'></i>
                            Face Recognized System
                        </li>
                        <li>
                            <i class='bx bx-check'></i>
                            24/7 Full support
                        </li>
                    </ul>
                    <a href="javascript:void(0);" class="default-btn">Get Started Now</a>
                </div>
            </div>
        </div>
    </div>
</div>