<!-- Page Banner -->
<div
    class="page-banner-area ptb-100"
    style="background-image: url(assets/images/shapes/page-banner-bg6.jpg);"
>
    <div class="overlay"></div>
    <div class="container">
        <div class="page-banner-content text-center">
            <h1 style="color: #ffffff;">Algorithms</h1>
            <ul class="ps-0 mb-0 list-unstyled">
                <li class="d-inline-block position-relative"><a routerLink="/python-projets">Python Projets</a></li>
                <li class="d-inline-block position-relative" style="color: #ffffff;">Algorithms</li>
            </ul>
        </div>
    </div>
</div>

<!-- Blog Details -->
<div class="blog-details-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="blog-details-desc">
                    <div class="post-thumb" style="text-align: center;">
                        <img src="assets/images/blogs/blog8.jpg" alt="blog-details" style="height: 400px;">
                    </div>
                    <h3>Algorithms</h3>
                    <div class="post-meta">
                        <ul class="ps-0 list-unstyled mb-0">
                            <li class="d-inline-block position-relative">
                                <i class='bx bx-calendar'></i>
                                2022-Présent
                            </li>
                        </ul>
                    </div>
                    <p>
                        Résoudre des problèmes réels avec du code a toujours été ma passion. Les problèmes nécessitent un raisonnement et une lecture attentive avant de les résoudre, ce qui m'aide à apprendre à réfléchir, à trouver des solutions et à corriger lorsqu'il y a des exceptions. Ici je ne peux pas lister tous les problèmes sur lesquels j'ai travaillé, mais il y en aura quelques exemples.
                    </p>
                    <h4>Sujets et solutions</h4>
                    <app-informatique2></app-informatique2>
                    <!--5 problemes-->

                </div>
            </div>
        </div>
    </div>
</div>