<!-- Page Banner -->
<div
    class="page-banner-area ptb-100"
    style="background-image: url(assets/images/shapes/page-banner-bg.jpg);"
>
    <div class="container">
        <div class="page-banner-content text-center">
            <h1>FORMATION VIS-VALORISER MON IDENTITE SOURDE</h1>
            <ul class="ps-0 mb-0 list-unstyled">
                <li class="d-inline-block position-relative"><a routerLink="/">Accueil</a></li>
                <li class="d-inline-block position-relative">Inscription Formation « VIS-Valoriser mon Identité Sourde »</li>
            </ul>
        </div>
    </div>
</div>

<!-- Conditions générales de vente -->
<section class="register-page section-b-space">
    <div class="container">
        <div class="row"  style="padding: 8%;">
            <div class="col-lg-12 text-left">
                <h3>Inscription</h3>
                <div class="widget">
                <div class="theme-card">
                    <form method="POST" class="theme-form" [formGroup]="signUpForm" (ngSubmit)="onSaveUser()">
                        <div class="row">
                            <div class="col-md-12">
                                <label>Sexe<span class="text-danger">*</span></label>
                                <div class="text-left">
                                    <label class="radio-inline">
                                        <input type="radio" formControlName="sexe" value="Male"> Masculin
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" formControlName="sexe" value="Female"> Féminin
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" formControlName="sexe" value="Other"> Autre
                                    </label>
                                </div>
                                <div *ngIf="signUpForm.get('sexe')?.touched && signUpForm.get('sexe')?.invalid" class="text text-danger">
                                    <div *ngIf="signUpForm.get('sexe')?.errors?.['required']">Prénom obligatoire.</div>
                                </div>
                            </div>

                        </div>
                        <div class="row" text-left>
                            

                            <div class="col-md-6" style="margin: 20px 0;">
                                <label for="fName">Prénom<span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="fName" placeholder="Prénom" formControlName="firstName">
                                <div *ngIf="signUpForm.get('firstName')?.touched && signUpForm.get('firstName')?.invalid" class="text text-danger">
                                    <div *ngIf="signUpForm.get('firstName')?.errors?.['required']">Prénom obligatoire.</div>
                                </div>
                            </div>

                            <div class="col-md-6" style="margin: 20px 0;">
                                <label for="lName">Nom<span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="lName" placeholder="Nom" formControlName="lastName">
                                <div *ngIf="signUpForm.get('lastName')?.touched && signUpForm.get('lastName')?.invalid" class="text text-danger">
                                    <div *ngIf="signUpForm.get('lastName')?.errors?.['required']">Nom obligatoire.</div>
                                </div>
                            </div>
                        </div>

                        <div class="row" text-left>

                            <div class="col-md-6">
                                <label for="email">Email<span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="email" placeholder="Email" required="" formControlName="email">
                                <div *ngIf="signUpForm.get('email')?.touched && signUpForm.get('email')?.invalid" class="text text-danger">
                                    <div *ngIf="signUpForm.get('email')?.errors?.['required']">Formation Suivie obligatoire.</div>
                                  </div>
                            </div>
                            <div class="col-md-6">
                                <label for="birthdate">Né(e) le<span class="text-danger">*</span></label>
                                <input type="date" class="form-control" id="birthdate" placeholder="14/01/1999" required="" formControlName="birthdate">
                                <div *ngIf="signUpForm.get('birthdate')?.touched && signUpForm.get('birthdate')?.invalid" class="text text-danger">
                                    <div *ngIf="signUpForm.get('birthdate')?.errors?.['required']">Formation Suivie obligatoire.</div>
                                  </div>
                                
                            </div>

                        </div>
                        <div class="row" text-left>

                            <div class="col-md-6">
                                <label for="email">Profession<span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="profession" placeholder="Enseignant" formControlName="profession">
                                <div *ngIf="signUpForm.get('profession')?.touched && signUpForm.get('profession')?.invalid" class="text text-danger">
                                    <div *ngIf="signUpForm.get('profession')?.errors?.['required']">Profession obligatoire.</div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="email">Adresse<span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="adresse" placeholder="98 Rue Paris" formControlName="adresse">
                                <div *ngIf="signUpForm.get('adresse')?.touched && signUpForm.get('adresse')?.invalid" class="text text-danger">
                                    <div *ngIf="signUpForm.get('adresse')?.errors?.['required']">Adresse obligatoire.</div>
                                </div>
                            </div>

                        </div>
                        <div class="row" text-left>

                            <div class="col-md-6">
                                <label for="email">Code Postal<span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="zip" placeholder="75000" required="" formControlName="zip">
                                <div *ngIf="signUpForm.get('zip')?.touched && signUpForm.get('zip')?.invalid" class="text text-danger">
                                    <div *ngIf="signUpForm.get('zip')?.errors?.['required']">Formation Suivie obligatoire.</div>
                                  </div>
                            </div>
                            <div class="col-md-6">
                                <label for="email">Ville<span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="city" placeholder="Paris" required="" formControlName="city">
                                <div *ngIf="signUpForm.get('city')?.touched && signUpForm.get('city')?.invalid" class="text text-danger">
                                    <div *ngIf="signUpForm.get('city')?.errors?.['required']">Formation Suivie obligatoire.</div>
                                  </div>
                            </div>

                        </div>

                        <div class="row" text-left>
                            <div class="col-md-12" style="margin-top: 20px;">
                                <label>En cas de financement par un tiers (Prise en charge ou Formation Continue)</label>
                            </div>
                            <div class="col-md-6" style="margin: 20px 0;">
                                <label for="financerName">Nom de l’entreprise/organisme financeur</label>
                                <input type="text" class="form-control" id="financerName" formControlName="financerName" placeholder="Nom de l’entreprise/organisme financeur">
                            </div>
                            <div class="col-md-6" style="margin: 20px 0;">
                                <label for="financerContact">Personne chargée du dossier</label>
                                <input type="text" class="form-control" id="financerContact" formControlName="financerContact" placeholder="Personne chargée du dossier">
                            </div>
                        </div>
                        <div class="row" text-left>
                            <div class="col-md-6">
                                <label for="financerPhone">Tél.</label>
                                <input type="text" class="form-control" id="financerPhone" formControlName="financerPhone" placeholder="__ / __ / __ / __ / __">
                            </div>
                            <div class="col-md-6">
                                <label for="financerEmail">Adresse mail</label>
                                <input type="text" class="form-control" id="financerEmail" formControlName="financerEmail" placeholder="adresse@domaine.com">
                            </div>
                        </div>


                        <div class="row" text-left>
                            <div class="col-md-12" style="margin: 20px 0;">
                                <label>Tarif<span class="text-danger">*</span></label>
                                <div class="niveau-container">
                                    <label class="radio-inline niveau-option">
                                        <input type="radio" formControlName="niveau" value="A"> Tarif Plein : 420Є + 15 euros d'adhésion
                                    </label>
                                    <label class="radio-inline niveau-option">
                                        <input type="radio" formControlName="niveau" value="B"> Tarif Réduit (Demandeurs d'emploi, étudiants) : 360Є + 15 euros d'adhésion
                                    </label>
                                    <label class="radio-inline niveau-option">
                                        <input type="radio" formControlName="niveau" value="C"> Prise en charge (MDPH, Agefiph, Pôle Emploi..): 600Є + 15 euros d'adhésion
                                    </label>
                                    <label class="radio-inline niveau-option">
                                        <input type="radio" formControlName="niveau" value="D"> Formation Continue (Plan de formation ..) : 1200Є + 15 euros d'adhésion
                                    </label>
                                </div>
                                <div *ngIf="signUpForm.get('niveau')?.touched && signUpForm.get('niveau')?.invalid" class="text text-danger">
                                    <div *ngIf="signUpForm.get('niveau')?.errors?.['required']">Formation Suivie obligatoire.</div>
                                  </div>
                            </div>
                        </div>


                        <div class="row submit-row">
                            <div class="col-md-2">
                                <button type="submit" [disabled]="!signUpForm.valid" class="btn btn-solid" >S'inscrire</button>
                            </div>
                            <div class="col-md-10">
                                <div *ngIf="serverErrorMessage" class="text text-danger">{{serverErrorMessage}}</div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
            </div>
        </div>
    </div>
</section>                