<aside class="widget-area">
    <div class="widget widget_search">
        <h3 class="widget-title"><span>Search</span></h3>
        <form class="search-form">
            <input type="search" class="search-field" placeholder="Search...">
            <button type="submit"><i class='bx bx-search-alt'></i></button>
        </form>
    </div>
    <div class="widget widget_categories">
        <h3 class="widget-title"><span>Categories</span></h3>
        <ul>
            <li><a routerLink="/blog-grid">Business <span class="count">(6)</span></a></li>
            <li><a routerLink="/blog-grid">Privacy <span class="count">(4)</span></a></li>
            <li><a routerLink="/blog-grid">Technology <span class="count">(5)</span></a></li>
            <li><a routerLink="/blog-grid">Tips <span class="count">(3)</span></a></li>
            <li><a routerLink="/blog-grid">Log in <span class="count">(8)</span></a></li>
            <li><a routerLink="/blog-grid">Uncategorized <span class="count">(1)</span></a></li>
        </ul>
    </div>
    <div class="widget widget_toledo_posts_thumb">
        <h3 class="widget-title"><span>Popular Posts</span></h3>
        <article class="item">
            <a routerLink="/blog-details" class="thumb">
                <img src="assets/images/blogs/blog1.jpg" alt="blog-image">
            </a>
            <div class="info">
                <h4 class="title"><a routerLink="/blog-details">Eco-Education in Our Lives: We Can Change the Future</a></h4>
                <span class="date">16 May 2024</span>
            </div>
        </article>
        <article class="item">
            <a routerLink="/blog-details" class="thumb">
                <img src="assets/images/blogs/blog2.jpg" alt="blog-image">
            </a>
            <div class="info">
                <h4 class="title"><a routerLink="/blog-details">The Link Between Vendor Certification and Growth in IT</a></h4>
                <span class="date">15 May 2024</span>
            </div>
        </article>
        <article class="item">
            <a routerLink="/blog-details" class="thumb">
                <img src="assets/images/blogs/blog3.jpg" alt="blog-image">
            </a>
            <div class="info">
                <h4 class="title"><a routerLink="/blog-details">Corporate Online Learning Trends 2024 You Still Need</a></h4>
                <span class="date">14 May 2024</span>
            </div>
        </article>
        <article class="item">
            <a routerLink="/blog-details" class="thumb">
                <img src="assets/images/blogs/blog4.jpg" alt="blog-image">
            </a>
            <div class="info">
                <h4 class="title"><a routerLink="/blog-details">4 Ways to Flex Your Leadership From The Classroom</a></h4>
                <span class="date">13 May 2024</span>
            </div>
        </article>
    </div>
    <div class="widget widget_follow_us">
        <h3 class="widget-title"><span>Follow Us</span></h3>
        <ul>
            <li><a href="#" target="_blank">Facebook</a></li>
            <li><a href="#" target="_blank">Twitter</a></li>
            <li><a href="#" target="_blank">Instagram</a></li>
            <li><a href="#" target="_blank">Pinterest</a></li>
            <li><a href="#" target="_blank">Linkedin</a></li>
        </ul>
    </div>
    <div class="widget widget_tag_cloud">
        <h3 class="widget-title"><span>Tags</span></h3>
        <div class="tagcloud">
            <a routerLink="/blog-grid">Advertisment</a>
            <a routerLink="/blog-grid">Business</a>
            <a routerLink="/blog-grid">Life</a>
            <a routerLink="/blog-grid">Lifestyle</a>
            <a routerLink="/blog-grid">Fashion</a>
            <a routerLink="/blog-grid">Ads</a>
            <a routerLink="/blog-grid">Advertisment</a>
            <a routerLink="/blog-grid">Business</a>
        </div>
    </div>
</aside>
<div class="widget-box text-center">
    <h3>We Help You Learn While Staying Home</h3>
    <a routerLink="/courses-grid" class="default-btn">Get Started Now</a>
    <img src="assets/images/man.png" class="d-block ms-auto me-auto" alt="man">
</div>