<!-- Page Banner -->
<div
    class="page-banner-area ptb-100"
    style="background-image: url(assets/images/shapes/page-banner-bg.jpg);"
>
    <div class="container">
        <div class="page-banner-content text-center">
            <h1>Conditions générales de vente</h1>
            <ul class="ps-0 mb-0 list-unstyled">
                <li class="d-inline-block position-relative"><a routerLink="/">Accueil</a></li>
                <li class="d-inline-block position-relative">CGV</li>
            </ul>
        </div>
    </div>
</div>

<!-- Conditions générales de vente -->
<div class="terms-conditions-area ptb-100">
    <div class="container">
        <div class="terms-conditions-content">
            <p>
            <h4>Désignation</h4>
            <span>
                L’Association LSFMED désigne un organisme de formation professionnelle, dont le siège social est situé
                au 20 Rue Raphaël, 13008 MARSEILLE.
                LSFMED met en place et dispense des formations intra et inter-entreprises, à Marseille et sur
                l’ensemble du territoire national, seule ou en partenariat.
            </span><br><br>
            <h4>Objet et champ d’application</h4>
            <span>
                Les présentes Conditions Générales de Vente déterminent les conditions applicables aux prestations
                de formation effectuées par l’association LSFMED pour le compte d’un client. Toute commande de
                formation auprès de l’organisme implique l’acception sans réserve du client des présentes Conditions
                Générales de Vente. Ces conditions prévalent sur tout autre document du client, en particulier sur
                toutes conditions générales d’achat.
            </span><br><br>
            <h4>Devis et attestation</h4>
            <span>
                Pour chaque formation, LSFMED s’engage à fournir un devis au client. Ce dernier est tenu de retourner
                à l’organisme un exemplaire renseigné, daté, signé et tamponné, avec la mention « Bon pour accord ».
                À la demande du client, une attestation de présence ou de fin de formation peut lui être fournie.
                Prix et modalités de paiement
                Les prix des formations sont indiqués en euros hors taxes et sont exonérés de TVA, selon l’article 293
                B du CGI. Le paiement est à effectuer après exécution de la prestation, à la réception de facture, au
                comptant. Le règlement des factures peut être effectué par virement bancaire, par chèque ou en
                espèces.
            </span><br><br>
            <h4>Prise en charge</h4>
            <span>
                Si le client bénéficie d’un financement par un tiers, il doit faire une demande de prise en charge avant
                le début de la prestation. Le client est tenu de fournir l’accord de financement lors de l’inscription.
                Dans le cas où LSFMED ne reçoit pas la prise en charge du tiers au 1er jour de la formation, l’intégralité
                des coûts de formation sera facturée au client.
            </span><br><br>
            <h4>Conditions de report et d’annulation d’une séance de formation</h4>
            <span>
                En cas d’annulation ou d’interruption de la formation par l’organisme de formation ou par le stagiaire
                pour un autre motif que la force majeure dûment reconnue, le présent contrat est résilié selon les
                modalités financières suivantes :
                <ul>
                    <li>
                        En cas d’annulation par le stagiaire passé le délai de rétractation mentionné à l’article 5 du
                        présent contrat, l’acompte de 30% ne peut pas être retourné et sera encaissé. Les autres chèques ne
                        sont pas encaissés et lui sont retournés par voie postale.
                    </li>
                    <li>
                        En cas d’annulation par l’organisme de formation, l’acompte de 30% et les autres chèques ne
                        sont pas encaissés et sont retournés par voie postale au stagiaire.
                        Version16.05.21
                    </li>
                    <li>
                        En cas d’interruption par le stagiaire en cours de formation, la totalité du prix de l’action de
                        formation est due. Tous les chèques sont encaissés aux dates prévues et aucun remboursement ne
                        peut être demandé.
                    </li>
                    <li>
                        En cas d’interruption par l’organisme de formation en cours de formation, seules les
                        prestations effectivement dispensées sont dues au prorata temporis de leur valeur prévue au présent
                        contrat.
                    </li>
                    <li>
                        Si le stagiaire est empêché de suivre la formation par suite de force majeure dûment reconnue,
                        le contrat est résilié. Dans ce cas, seules les prestations effectivement dispensées sont dues au prorata
                        temporis de leur valeur prévue au présent contrat.
                    </li>
                </ul>
            </span><br>
            <h4>Programme des formations</h4>
            <span>
                S’il le juge nécessaire, l’intervenant pourra modifier les contenus des formations suivant la dynamique
                de groupe ou le niveau des participants. Les contenus des programmes figurant sur les fiches de
                présentation ne sont ainsi fournis qu’à titre indicatif.
                Propriété intellectuelle et droit d’auteur
                Les supports de formation, quelle qu’en soit la forme (papier, numérique, électronique…), sont
                protégés par la propriété intellectuelle et le droit d’auteur. Leur reproduction, partielle ou totale, ne
                peut être effectuée sans l’accord exprès de LSFMED. Le client s’engage à ne pas utiliser, transmettre
                ou reproduire tout ou partie de ces documents en vue de l’organisation ou de l’animation de
                formations.
            </span><br><br>
            <h4>Informatique et libertés</h4>
            <span>
                Les informations à caractère personnel communiquées par le client à LSFMED sont utiles pour le
                traitement de l’inscription ainsi que pour la constitution d’un fichier clientèle pour des prospections
                commerciales.
                En application du RGPD et de la Loi Informatique et Libertés, nous vous informons que nous collectons
                et traitons des données à caractère personnel vous concernant.
                <ul>
                    <li>Le Responsable du traitement est Laure Arnal, 20 Rue Raphaël, 13008 MARSEILLE</li>
                    <li>le traitement a pour finalité la tenue du dossier de l’usager ;</li>
                    <li>
                        vous avez le droit d’accès au traitement pour lequel nous collectons les données ainsi que, le
                        cas échéant, des droits complémentaires.
                    </li>
                </ul>
            </span><br>
            <h4>Loi applicable et attribution de compétence</h4>
            <span>
                Les présentes Conditions Générales de Vente sont encadrées par la loi française. En cas de litige
                survenant entre LSFMED et le client, la recherche d’une solution à l’amiable sera privilégiée. À défaut,
                l’affaire sera portée devant les tribunaux de Marseille.
            </span><br><br>
        </div>
    </div>
</div>