<!-- Page Banner -->
<div
    class="page-banner-area ptb-100"
    style="background-image: url(assets/images/shapes/page-banner-bg.jpg);"
>
    <div class="container">
        <div class="page-banner-content text-center">
            <h1>Mentions légales</h1>
            <ul class="ps-0 mb-0 list-unstyled">
                <li class="d-inline-block position-relative"><a routerLink="/">Accueil</a></li>
                <li class="d-inline-block position-relative">Mentions légales</li>
            </ul>
        </div>
    </div>
</div>

<!-- Mention légales -->
<div class="terms-conditions-area ptb-100">
    <div class="container">
        <div class="terms-conditions-content">
            <p><strong>Raison sociale: </strong>LSF Med (LANGUE DES SIGNES FRANCAISE MEDITERRANEE)</p>
            <p><strong>Immatriculée au RNA de MARSEILLE sous le numéro: </strong>W133000120</p>
            <p><strong>Adresse: </strong>20 RUE RAPHAEL 13008 MARSEILLE</p>
            <p><strong>Téléphone: </strong>04 91 79 96 81</p>
            <p><strong>N°TVA intracommunautaire: </strong>FR73329368823</p>
            <p><strong>Directeur de la publication: </strong>LAURE ARNAL</p>
            <p><strong>Conception & réalisation: </strong>SAS KALI - <a href="https://societe-kali.fr/">societe-kali.fr</a></p>
            <p><strong>Adresse: </strong>7 PL PAUL CEZANNE 13006 MARSEILLE</p>
            <p><strong>Téléphone: </strong>06 95 89 68 66</p>
            <p><strong>Coordonnées de l’hébergeur: </strong> HOSTINGER</p>
            <p><strong>Adresse: </strong>HOSTINGER INTERNATIONAL LTD, 61 Lordou Vironos Street, 6023 Larnaca, Chypre</p>
            <p><strong>Contact hébergeur: </strong><a href="https://www.hostinger.fr/">https://www.hostinger.fr/contact</a></p>
            <!-- <p>
                <strong>1.</strong> Complimentary ground shipping within 1 to 7 business days<br>
                <strong>2.</strong> In-store collection available within 1 to 7 business days<br>
                <strong>3.</strong> Next-day and Express delivery options also available<br>
                <strong>4.</strong> Purchases are delivered in an orange box tied with a Bolduc ribbon, with the exception of certain items<br>
                <strong>5.</strong> See the delivery FAQs for details on shipping methods, costs and delivery times
            </p> -->
        </div>
    </div>
</div>