<!-- Page Banner -->
<div
    class="page-banner-area ptb-100"
    style="background-image: url(assets/images/shapes/page-banner-bg5.jpg);"
>
    <div class="overlay"></div>
    <div class="container">
        <div class="page-banner-content text-center">
            <h1 style="color: #ffffff;">{{ 'JAVA.PROJ5.TITLE' | translate }}</h1>
            <ul class="ps-0 mb-0 list-unstyled">
                <li class="d-inline-block position-relative"><a routerLink="/java-projets">{{ 'JAVA.TITLE' | translate }}</a></li>
                <li class="d-inline-block position-relative" style="color: #ffffff;">{{ 'JAVA.PROJ5.TITLE' | translate }}</li>
            </ul>
        </div>
    </div>
</div>

<!-- Blog Details -->
<div class="blog-details-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="blog-details-desc">
                    <div class="post-thumb" style="text-align: center;">
                        <img src="assets/images/blogs/blog5.jpg" alt="blog-details" style="height: 400px;">
                    </div>
                    <h3>{{ 'JAVA.PRO5' | translate }}</h3>
                    <div class="post-meta">
                        <ul class="ps-0 list-unstyled mb-0">
                            <li class="d-inline-block position-relative">
                                <i class='bx bx-calendar'></i>
                                2023
                            </li>
                        </ul>
                    </div>
                    <p [innerHTML]=" 'JAVA.PROJ5.P1' | translate "></p>
                    <h4>{{ 'JAVA.PROJ5.SUB1' | translate }}</h4>
                    <p [innerHTML]=" 'JAVA.PROJ5.P2' | translate "></p>
                    <h4>{{ 'JAVA.PROJ1.SUB3' | translate }}</h4>
                    <p [innerHTML]=" 'JAVA.PROJ5.P3' | translate "></p>
                    <h4>{{ 'JAVA.PROJ1.IMG' | translate }}</h4>
                    
                    <owl-carousel-o [options]="{items: 3, dots: true, nav: false, margin: 10}">
                        <ng-template carouselSlide>
                            <img src="assets/images/blogs/unnamed-1.png" class="img-fluid rounded" alt="Image 1" (click)="openModal('assets/images/blogs/unnamed-1.png')">
                        </ng-template>
                        <ng-template carouselSlide>
                            <img src="assets/images/blogs/unnamed-2.png" class="img-fluid rounded" alt="Image 2" (click)="openModal('assets/images/blogs/unnamed-2.png')">
                        </ng-template>
                        <ng-template carouselSlide>
                            <img src="assets/images/blogs/unnamed-3.png" class="img-fluid rounded" alt="Image 3" (click)="openModal('assets/images/blogs/unnamed-3.png')">
                        </ng-template>
                        <ng-template carouselSlide>
                            <img src="assets/images/blogs/unnamed-4.png" class="img-fluid rounded" alt="Image 4" (click)="openModal('assets/images/blogs/unnamed-4.png')">
                        </ng-template>
                    </owl-carousel-o>

                    <div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="imageModalLabel">Image</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <img id="modalImage" src="" class="img-fluid" alt="Modal Image">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="post-footer d-flex align-items-center flex-wrap">
                        <div class="article-share text-md-end">
                            <ul class="social ps-0 mb-0 mt-0 list-unstyled">
                                <li class="d-inline-block mb-0"><span class="fw-medium position-relative d-inline-block">Source code:</span></li>
                                <li class="d-inline-block mb-0"><a href="https://docs.google.com/document/d/1ddWJXpkpiA0D5KAk3r1FaK2FFNod2K41_XRR3-Y33Hw/edit?usp=sharing" class="google-docs d-block rounded-circle text-center" target="_blank">
                                    <i class="fas fa-file-alt"></i>
                                </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>