<!-- Page Banner -->
<div
    class="page-banner-area ptb-100"
    style="background-image: url(assets/images/shapes/page-banner-bg5.jpg);"
>
    <div class="overlay"></div>
    <div class="container">
        <div class="page-banner-content text-center">
            <h1 style="color: #ffffff;">Gestion librairie</h1>
            <ul class="ps-0 mb-0 list-unstyled">
                <li class="d-inline-block position-relative"><a routerLink="/java-projets">Java Projets</a></li>
                <li class="d-inline-block position-relative" style="color: #ffffff;">Gestion librairie</li>
            </ul>
        </div>
    </div>
</div>

<!-- Blog Details -->
<div class="blog-details-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="blog-details-desc">
                    <div class="post-thumb" style="text-align: center;">
                        <img src="assets/images/blogs/blog5.jpg" alt="blog-details" style="height: 400px;">
                    </div>
                    <h3>Gestion d'une librairie vendant des cahiers</h3>
                    <div class="post-meta">
                        <ul class="ps-0 list-unstyled mb-0">
                            <li class="d-inline-block position-relative">
                                <i class='bx bx-calendar'></i>
                                2023
                            </li>
                        </ul>
                    </div>
                    <p>
                        C'est mon dernière projet Java POO à Licence 2. Je vais laisser le sujet ici.
                    </p>
                    <h4>Sujet:</h4>
                    <p>
                        On veut écrire un programme de gestion d’une librairie vendant des cahiers. Chaque cahier possède un nombre de pages. Un achat est constitué de plusieurs cahiers. Le prix d'un cahier est égal à son nombre de pages divisé par 2. 
                        L'affichage d'un achat doit indiquer un cahier par ligne avec la couleur du cahier, son nombre de pages, sa quantité (1 pour l'instant), puis une ligne indiquant le prix total de l’achat. 
                        Exemple : Jaune 20 x 1 Rouge 40 x 1 prix: 30 
                        <br>
                        Il n'y a pas de nombre maximal de cahiers pour un achat. 
                        On utilisera donc la classe HashSet dans une première version et ensuite java.util.ArrayList pour stocker les cahiers.
                        <br>
                        - Écrire les classes Cahier et Achat ainsi que leurs méthodes nécessaires (constructeurs, getters, setters, affiche, toString, … ) 
                        <br>
                        - Vérifier que le code suivant fonctionne correctement  (le résultat doit être vrai); sinon, corriger le code : [...]
                        <br>
                        - On vend un autre article : le carnet ; un carnet possède juste une valeur de 0 à 9 indiquant un facteur de qualité. Le prix d'un carnet est égal à 3 fois son facteur de qualité.
                        <br>
                        Écrire et modifier les classes et les méthodes nécessaires.
                        On veut permettre d'ajouter plusieurs cahiers ou plusieurs carnets à notre achat d'un coup en indiquant un paramètre supplémentaire à la méthode add, indiquant la quantité des cahiers ou des carnets que l'on veut mettre dans l’achat.
                    </p>
                    <h4>Conclusion</h4>
                    <p>Peut-être que le code du programme n'est pas écrit correctement, mais il répond aux exigences de résultats.</p>
                    <h4>Quelques images de ce projet</h4>
                    
                    <owl-carousel-o [options]="{items: 3, dots: true, nav: false, margin: 10}">
                        <ng-template carouselSlide>
                            <img src="assets/images/blogs/unnamed-1.png" class="img-fluid rounded" alt="Image 1" (click)="openModal('assets/images/blogs/unnamed-1.png')">
                        </ng-template>
                        <ng-template carouselSlide>
                            <img src="assets/images/blogs/unnamed-2.png" class="img-fluid rounded" alt="Image 2" (click)="openModal('assets/images/blogs/unnamed-2.png')">
                        </ng-template>
                        <ng-template carouselSlide>
                            <img src="assets/images/blogs/unnamed-3.png" class="img-fluid rounded" alt="Image 3" (click)="openModal('assets/images/blogs/unnamed-3.png')">
                        </ng-template>
                        <ng-template carouselSlide>
                            <img src="assets/images/blogs/unnamed-4.png" class="img-fluid rounded" alt="Image 4" (click)="openModal('assets/images/blogs/unnamed-4.png')">
                        </ng-template>
                    </owl-carousel-o>

                    <div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="imageModalLabel">Image</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <img id="modalImage" src="" class="img-fluid" alt="Modal Image">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="post-footer d-flex align-items-center flex-wrap">
                        <div class="article-share text-md-end">
                            <ul class="social ps-0 mb-0 mt-0 list-unstyled">
                                <li class="d-inline-block mb-0"><span class="fw-medium position-relative d-inline-block">Source code:</span></li>
                                <li class="d-inline-block mb-0"><a href="https://docs.google.com/document/d/1ddWJXpkpiA0D5KAk3r1FaK2FFNod2K41_XRR3-Y33Hw/edit?usp=sharing" class="google-docs d-block rounded-circle text-center" target="_blank">
                                    <i class="fas fa-file-alt"></i>
                                </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>