<div class="preview-area position-relative z-1 pt-100 pb-10 bg-ffffff">
    <div class="container">
        <div class="section-title text-center">
            <h2 class="title mb-0">
                Projets Académiques et Personnels
            </h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-6 col-12">
                <img src="assets/images/shapes/shape14.gif" alt="Project Image" class="img-fluid">
            </div>
            <div class="col-lg-6 col-12 d-flex flex-column justify-content-center">
                <div class="project-description">
                    <h3>Java Projets</h3>
                    <p class="preview-content">
                        Dans cette section, vous trouverez une sélection de projets réalisés en Java, mettant en œuvre les principes de la Programmation Orientée Objet (POO), Spring Boot.
                        <br> 
                        Ces projets explorent diverses facettes du développement Java, de la création d’interfaces utilisateur graphiques avec JFrame et JPanel, à la conception d’applications web robustes avec Spring Boot. 
                        <br>
                        Grâce à l'intégration avec React JS, ces projets démontrent également mes compétences en développement d'applications full-stack modernes, offrant des solutions efficaces et innovantes aux problématiques rencontrées.
                    </p>
                    <button class="default-btn" routerLink="/java-projets">Voir Plus</button>
                </div>
            </div>
        </div>
        <div class="row justify-content-center" style="padding-top: 100px;">
            <div class="col-lg-6 col-12">
                <div class="project-description">
                    <h3>Python Projets</h3>
                    <p class="preview-content">
                        Cette section présente mes projets réalisés avec Python, explorant divers aspects de la programmation. Utilisant des bibliothèques comme Pygame et Turtle, j'ai créé des animations interactives et des jeux simples, illustrant ma compréhension des bases de la logique algorithmique et de la programmation événementielle. 
                        <br>
                        Ces projets démontrent également mes compétences en résolution de problèmes et en conception d'algorithmes en Python, une des langues de programmation les plus polyvalentes et puissantes.
                    </p>
                    <button class="default-btn" routerLink="/python-projets">Voir Plus</button>
                </div>
            </div>
            <div class="col-lg-6 col-12 d-flex flex-column align-items-end">
                <img src="assets/images/shapes/shape15.gif" alt="Project Image" class="img-fluid2">
            </div>
        </div>
        <div class="row justify-content-center" style="padding-top: 100px;">
            <div class="col-lg-6 col-12">
                <img src="assets/images/shapes/shape16.gif" alt="Project Image" class="img-fluid">
            </div>
            <div class="col-lg-6 col-12 d-flex flex-column justify-content-center">
                <div class="project-description">
                    <h3>Lang Web Projets</h3>
                    <p class="preview-content">
                        En plus du site Web que vous regardez et des sites Web que j'ai créés au travail, j'ai 2 projets sur les interfaces Web et les pages Web pour garder des notes sur les choses à faire.
                        <br> 
                        Cette section présente mes projets web utilisant HTML, CSS, PHP et JavaScript pour créer des interfaces dynamiques et interactives. J'ai conçu et développé des applications web qui intègrent des fonctionnalités côté client et côté serveur, démontrant mes compétences en front-end.
                    </p>
                    <button class="default-btn" routerLink="/lang-web">Voir Plus</button>
                </div>
            </div>
        </div>
        <div class="row justify-content-center" style="padding-top: 100px;">
            <div class="col-lg-6 col-12">
                <div class="project-description">
                    <h3>C/C++ Projets</h3>
                    <p class="preview-content">
                        Mes projets en C/C++ couvrent une gamme d'exercices techniques allant de la gestion de listes chaînées à la manipulation avancée de processus avec fork, pipe,etc. en C. 
                        <br>
                        Pour C++, j'ai travaillé principalement sur des projets de programmation orientée objet et des exercices basiques, développant ainsi une compréhension solide des principes fondamentaux de ces deux langages puissants
                    </p>
                    <button class="default-btn" routerLink="/python-projets">Voir Plus</button>
                </div>
            </div>
            <div class="col-lg-6 col-12 d-flex flex-column align-items-end">
                <img src="assets/images/shapes/shape17.gif" alt="Project Image" class="img-fluid2">
            </div>
        </div>
    </div>
</div>