<div class="preview-area position-relative z-1 pt-100 pb-10 bg-ffffff">
    <div class="container">
        <div class="section-title text-center">
            <h2 class="title mb-0">
                {{ 'PREVIEW_PROJETS.TITLE' | translate }}
            </h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-6 col-12">
                <img src="assets/images/shapes/s16.gif" alt="Project Image" class="img-fluid" width="700" height="700">
            </div>
            <div class="col-lg-6 col-12 d-flex flex-column justify-content-center">
                <div class="project-description">
                    <h3>{{ 'PREVIEW_PROJETS.P1' | translate }}</h3>
                    <p class="preview-content">
                        {{ 'PREVIEW_PROJETS.CONTENT1' | translate }}    
                    </p>
                    <button class="default-btn" routerLink="/java-projets">{{ 'PREVIEW_PROJETS.BUTTON' | translate }}</button>
                </div>
            </div>
        </div>
        <div class="row justify-content-center" style="padding-top: 100px;">
            <div class="col-lg-6 col-12">
                <div class="project-description">
                    <h3>{{ 'PREVIEW_PROJETS.P2' | translate }}</h3>
                    <p class="preview-content">
                        {{ 'PREVIEW_PROJETS.CONTENT2' | translate }}    
                    </p>
                    <button class="default-btn" routerLink="/python-projets">{{ 'PREVIEW_PROJETS.BUTTON' | translate }}</button>
                </div>
            </div>
            <div class="col-lg-6 col-12 d-flex flex-column align-items-end">
                <img src="assets/images/shapes/s15.gif" alt="Project Image" class="img-fluid2" width="700" height="700">
            </div>
        </div>
        <div class="row justify-content-center" style="padding-top: 100px;">
            <div class="col-lg-6 col-12">
                <img src="assets/images/shapes/s14.gif" alt="Project Image" class="img-fluid" width="700" height="700">
            </div>
            <div class="col-lg-6 col-12 d-flex flex-column justify-content-center">
                <div class="project-description">
                    <h3>{{ 'PREVIEW_PROJETS.P3' | translate }}</h3>
                    <p class="preview-content">
                        {{ 'PREVIEW_PROJETS.CONTENT3' | translate }}    
                    </p>
                    <button class="default-btn" routerLink="/lang-web">{{ 'PREVIEW_PROJETS.BUTTON' | translate }}</button>
                </div>
            </div>
        </div>
        <div class="row justify-content-center" style="padding-top: 100px;">
            <div class="col-lg-6 col-12">
                <div class="project-description">
                    <h3>{{ 'PREVIEW_PROJETS.P4' | translate }}</h3>
                    <p class="preview-content">
                        {{ 'PREVIEW_PROJETS.CONTENT4' | translate }}    
                    </p>
                    <button class="default-btn" routerLink="/python-projets">{{ 'PREVIEW_PROJETS.BUTTON' | translate }}</button>
                </div>
            </div>
            <div class="col-lg-6 col-12 d-flex flex-column align-items-end">
                <img src="assets/images/shapes/s17.gif" alt="Project Image" class="img-fluid2" width="700" height="700">
            </div>
        </div>
    </div>
</div>