<!-- Page Banner -->
<div
    class="page-banner-area ptb-100"
    style="background-image: url(assets/images/shapes/page-banner-bg.jpg);"
>
    <div class="container">
        <div class="page-banner-content text-center">
            <h1>About Us</h1>
            <ul class="ps-0 mb-0 list-unstyled">
                <li class="d-inline-block position-relative"><a routerLink="/">Home</a></li>
                <li class="d-inline-block position-relative">About Us</li>
            </ul>
        </div>
    </div>
</div>

<app-about></app-about>

<app-instructors></app-instructors>

<app-featured></app-featured>

<app-partner></app-partner>

<app-featured-boxes></app-featured-boxes>

<app-features></app-features>

<app-feedback></app-feedback>

<app-subscribe></app-subscribe>