<div class="featured-boxes-area pt-100 pb-75"
[ngClass]="{'d-none': router.url === '/index-3'}">
    <div class="container">
        <div class="row justify-content-center">
            <div class="container mt-5">
                <div class="row no-gutters">
                    <div class="col-3">
                        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                <a class="nav-link" [ngClass]="{'active': selectedTab === 'IDE'}" (click)="selectTab('IDE')" id="v-pills-ide-tab" role="tab" aria-controls="v-pills-ide" aria-selected="true">IDE</a>
                                <a class="nav-link" [ngClass]="{'active': selectedTab === 'API'}" (click)="selectTab('API')" id="v-pills-api-tab" role="tab" aria-controls="v-pills-api" aria-selected="false">API</a>
                                <a class="nav-link" [ngClass]="{'active': selectedTab === 'SQL'}" (click)="selectTab('SQL')" id="v-pills-sql-tab" role="tab" aria-controls="v-pills-sql" aria-selected="false">SQL</a>
                                <a class="nav-link" [ngClass]="{'active': selectedTab === 'Autres'}" (click)="selectTab('Autres')" id="v-pills-autres-tab" role="tab" aria-controls="v-pills-autres" aria-selected="false">Langues</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-9">
                        <div class="tab-content" id="v-pills-tabContent">
                            <div class="tab-pane fade" [ngClass]="{'show active': selectedTab === 'IDE'}" id="v-pills-ide" role="tabpanel" aria-labelledby="v-pills-ide-tab">
                                <h2>IDE que j'ai utilisés</h2>
                                <p>- <strong>Visual Studio Code</strong>: <strong>C'est l'IDE que j'utilise le plus souvent</strong>, utilisé pour programmer Python, C, HTML, CSS, JS et React JS, Angular. Il possède de nombreuses extensions et fonctionnalités d’interface que j’aime beaucoup, c’est pourquoi je l’ai utilisé tout au long du lycée jusqu’à présent.
                                    <br>
                                    - <strong>Eclipse</strong> L'IDE que j'utilise pour programmer Java et C++. C'est un endroit idéal avec des commandes disponibles pour créer divers packages, interfaces ou générer des fonctions. <strong>Mon choix n°1 lorsque je travaille avec Java traditionnel.</strong>
                                    <br>
                                    - <strong>IntelliJ IDEA</strong>: <strong>Mon choix n°1 lorsque je travaille avec Java Spring Boot</strong>. Intellij prend en charge un certain nombre de dépendances que Eclipse ou Spring Tool Suite ne prennent pas en charge.
                                    <br>
                                    - <strong>PHPStorm</strong>: <strong>L'IDE que j'utilise pour programmer PHP.</strong> Il a framework Laravel, Symfony, etc. Et je l'ai utilisé pour faire Dolibarr (fonction et classe).
                                    <br>
                                    - <strong>Spring Tool Suite, Dev C++, Notepad++</strong>: Les IDE que j'ai utilisés ne sont pas nombreux car à mon avis ils ne sont pas aussi pratiques que les IDE que j'ai listés. 
                                </p>
                            </div>
                            <div class="tab-pane fade" [ngClass]="{'show active': selectedTab === 'API'}" id="v-pills-api" role="tabpanel" aria-labelledby="v-pills-api-tab">
                                <h2>API</h2>
                                <p>J'ai utilisé l'API dans:
                                    <br>
                                    - <strong>Spring Boot</strong>: <strong>C'est là que je travaille le plus avec les API</strong>. J'ai utilisé L'API pour gérer les listes de données (vous pouvez voir dans mes projets Spring Boot pour savoir plus).
                                    <br>
                                    - <strong>PHP</strong>: J'ai appris à travailler avec l'API PHP pendant mon stage (ou <strong>spécifiquement PHP Dolibarr</strong>). Je dois créer les triggers concernant API pour gérer les commandes, factures et emails (très amusant).
                                    <br>
                                    - <strong>JavaScript</strong>: J'ai utilisé <strong>Express JS</strong> pour récuperer les données dans formulaire, les reformuler et les envoyer par nodemailer.
                                    <br>
                                    - <strong>Python</strong>: J'ai utilisé l'API pour obtenir des données de l'API des données (par exemple: API des stations de vélo d'une entreprise dans tous les villes pour traiter les données).
                                </p>
                                <p>
                                    Pour tester API, Middleware Token, j'utilise <strong>PostMan</strong>. (très pratique sans avoir à tester directement sur le programme).
                                </p>
                            </div>
                            <div class="tab-pane fade" [ngClass]="{'show active': selectedTab === 'SQL'}" id="v-pills-sql" role="tabpanel" aria-labelledby="v-pills-sql-tab">
                                <h2>SQL</h2>
                                <p>J'ai utilisé SQL dans:
                                    <br>
                                    - <strong>SQL Workbench</strong>: Ce n'est pas ma première application à utiliser SQL ou à écrire des requêtes, mais Workbench sera <strong>l'application que j'utilise le plus pour SQL</strong>. Je crée souvent des bases de données liées à des projets nécessitant des informations back-end, ou simplement des bases de données pour m'entraîner à écrire des requêtes SQL.
                                    <br>
                                    - <strong>PHPMyAdmin</strong>: J'ai utilisé PHPMyAdmin lorsque j'ai découvert la liaison de données entre le front et le backend (lorsque j'ai exécuté les programmes avec xamp ou wamp), la base de mon utilisation ultérieure de Workbench.
                                    <br>
                                    - <strong>Access</strong>: La première fois que je suis entré en contact avec SQL. Même s'il s'agissait de Jet SQL, Access m'a appris à établir des relations entre les tables, à écrire des requêtes et à créer des formulaires.
                                </p>
                                <p>
                                    Pour créer la diagramme de relation des tables, j'utilise <strong>Quick DBD</strong>.
                                </p>
                            </div>
                            <div class="tab-pane fade" [ngClass]="{'show active': selectedTab === 'Autres'}" id="v-pills-autres" role="tabpanel" aria-labelledby="v-pills-autres-tab">
                                <h2>Langues, Framework, Library</h2>
                                <p>- Langues: Python (Logic Programming), Java (POO et Spring), C (pointeurs et listes chainées), HTML, CSS, JS, PHP, C++
                                    <br>
                                    - Framework: Angular, Spring Boot
                                    <br>
                                    - Library: React, Bootstrap, JQuery, Node JS, Express JS, Lombok, JUnit, etc..
                                </p>
                                <p>Je suis toujours prêt à apprendre de nouvelles langues ou à améliorer les langues que je connais déjà.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>