<!-- Default Langues Section-->
<div class="featured-boxes-area pt-100 pb-75"
[ngClass]="{'d-none': router.url === '/index-3'}">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-4 col-md-6 col-lg-4 col-sm-6">
                <div class="featured-box">
                    <div class="skill">
                        <div class="outer">
                            <div class="inner">
                                <div id="number">
                                    B2
                                </div>
                            </div>
                        </div>
                
                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1"
                        width="160px" height="160px">
                            <defs>
                                <linearGradient id="GradientColor">
                                    <stop offset="0%" stop-color="#e91e63"/>
                                    <stop offset="100%" stop-color="#673ab7"/>
                                </linearGradient>
                            </defs>
                            <circle id="francais" cx="80" cy="80" r="70" stroke-linecap="round"/>
                        </svg>
                    </div>
                    <h3>
                        Français
                    </h3>
                    <h4>
                        Même si mon niveau n'est pas aussi bon que celui natif, je vais essayer de m'améliorer chaque jour
                    </h4>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-lg-4 col-sm-6">
                <div class="featured-box">
                    <div class="skill">
                        <div class="outer">
                            <div class="inner">
                                <div id="number">
                                    B2
                                </div>
                            </div>
                        </div>
                
                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1"
                        width="160px" height="160px">
                            <defs>
                                <linearGradient id="GradientColor">
                                    <stop offset="0%" stop-color="#e91e63"/>
                                    <stop offset="100%" stop-color="#673ab7"/>
                                </linearGradient>
                            </defs>
                            <circle id="anglais" cx="80" cy="80" r="70" stroke-linecap="round"/>
                        </svg>
                    </div>
                    <h3>
                        Anglais
                    </h3>
                    <h4>
                        J'ai deja travaillé dans un environnement anglophone et j'ai obtenu un score de 940/990 dans TOEIC 
                    </h4>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-lg-4 col-sm-6">
                <div class="featured-box">
                    <div class="skill">
                        <div class="outer">
                            <div class="inner">
                                <div id="number">
                                    C2
                                </div>
                            </div>
                        </div>
                
                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1"
                        width="160px" height="160px">
                            <defs>
                                <linearGradient id="GradientColor">
                                    <stop offset="0%" stop-color="#e91e63"/>
                                    <stop offset="100%" stop-color="#673ab7"/>
                                </linearGradient>
                            </defs>
                            <circle id="vietnam" cx="80" cy="80" r="70" stroke-linecap="round"/>
                        </svg>
                    </div>
                    <h3>
                        Vietnam
                    </h3>
                    <h4>
                        C'est ma langue maternelle. Je peux vous apprendre à parler des phrases de base 
                    </h4>
                </div>
            </div>
        </div>
    </div>

</div>
