<!-- Page Banner -->
<div
    class="page-banner-area ptb-100"
    style="background-image: url(assets/images/shapes/page-banner-bg.jpg);"
>
    <div class="container">
        <div class="page-banner-content text-center">
            <h1>Courses List</h1>
            <ul class="ps-0 mb-0 list-unstyled">
                <li class="d-inline-block position-relative"><a routerLink="/">Home</a></li>
                <li class="d-inline-block position-relative">Courses List</li>
            </ul>
        </div>
    </div>
</div>

<!-- Courses -->
<div class="courses-area position-relative z-2 ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-4 col-md-12 order-2 order-lg-1">
                <div class="courses-widget-area">
                    <div class="widget">
                        <h3 class="widget-title">Category</h3>
                        <ul class="list ps-0 mb-0 list-unstyled">
                            <li>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="art">
                                    <label class="form-check-label" for="art">Art</label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="exercise">
                                    <label class="form-check-label" for="exercise">Exercise</label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="software-development">
                                    <label class="form-check-label" for="software-development">Software Development</label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="music">
                                    <label class="form-check-label" for="music">Music</label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="material-design">
                                    <label class="form-check-label" for="material-design">Material Design</label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="photography">
                                    <label class="form-check-label" for="photography">Photography</label>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="widget">
                        <h3 class="widget-title">Ratings</h3>
                        <ul class="ratings-list ps-0 mb-0 list-unstyled">
                            <li>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="5star">
                                    <label class="form-check-label" for="5star">
                                        <i class='bx bxs-star'></i>
                                        <i class='bx bxs-star'></i>
                                        <i class='bx bxs-star'></i>
                                        <i class='bx bxs-star'></i>
                                        <i class='bx bxs-star'></i>
                                        5.0 (223 Reviews)
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="4star">
                                    <label class="form-check-label" for="4tar">
                                        <i class='bx bxs-star'></i>
                                        <i class='bx bxs-star'></i>
                                        <i class='bx bxs-star'></i>
                                        <i class='bx bxs-star'></i>
                                        <i class='bx bx-star'></i>
                                        4.0 (139 Reviews)
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="3star">
                                    <label class="form-check-label" for="3star">
                                        <i class='bx bxs-star'></i>
                                        <i class='bx bxs-star'></i>
                                        <i class='bx bxs-star'></i>
                                        <i class='bx bx-star'></i>
                                        <i class='bx bx-star'></i>
                                        3.0 (339 Reviews)
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="2star">
                                    <label class="form-check-label" for="2star">
                                        <i class='bx bxs-star'></i>
                                        <i class='bx bxs-star'></i>
                                        <i class='bx bx-star'></i>
                                        <i class='bx bx-star'></i>
                                        <i class='bx bx-star'></i>
                                        2.0 (209 Reviews)
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="1star">
                                    <label class="form-check-label" for="1star">
                                        <i class='bx bxs-star'></i>
                                        <i class='bx bx-star'></i>
                                        <i class='bx bx-star'></i>
                                        <i class='bx bx-star'></i>
                                        <i class='bx bx-star'></i>
                                        1.0 (159 Reviews)
                                    </label>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="widget">
                        <h3 class="widget-title">Instructors</h3>
                        <ul class="list ps-0 mb-0 list-unstyled">
                            <li>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="salvatore-hardin">
                                    <label class="form-check-label" for="salvatore-hardin">Salvatore Hardin</label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="jenny-wilson">
                                    <label class="form-check-label" for="jenny-wilson">Jenny Wilson</label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="jackson-mcfarland">
                                    <label class="form-check-label" for="jackson-mcfarland">Jackson McFarland</label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="fredrick-ramsey">
                                    <label class="form-check-label" for="fredrick-ramsey">Fredrick Ramsey</label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="alina-smith">
                                    <label class="form-check-label" for="alina-smith">Alina Smith</label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="sarah-taylor">
                                    <label class="form-check-label" for="sarah-taylor">Sarah Taylor</label>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="widget">
                        <h3 class="widget-title">Price</h3>
                        <ul class="list ps-0 mb-0 list-unstyled">
                            <li>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="all">
                                    <label class="form-check-label" for="all">All</label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="free">
                                    <label class="form-check-label" for="free">Free</label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="paid">
                                    <label class="form-check-label" for="paid">Paid</label>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="widget">
                        <h3 class="widget-title">Levels</h3>
                        <ul class="list ps-0 mb-0 list-unstyled">
                            <li>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="all-levels">
                                    <label class="form-check-label" for="all-levels">All Levels</label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="beginner">
                                    <label class="form-check-label" for="beginner">Beginner</label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="intermediate">
                                    <label class="form-check-label" for="intermediate">Intermediate</label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="expert">
                                    <label class="form-check-label" for="expert">Expert</label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-9 col-lg-8 col-md-12 order-1 order-lg-2">
                <div class="ps-lg-2">
                    <div class="toledo-grid-sorting row align-items-center">
                        <div class="col-lg-6 col-md-6 col-sm-6 result-count">
                            <p>We found <span class="count">99</span> courses available for you</p>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 ordering text-md-end">
                            <div class="select-box">
                                <label class="d-inline-block mb-0">Sort By:</label>
                                <select>
                                    <option>Default</option>
                                    <option>Popularity</option>
                                    <option>Latest</option>
                                    <option>Price: low to high</option>
                                    <option>Price: high to low</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12 col-sm-6 col-md-12">
                            <div class="single-course-box">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <div
                                            class="image position-relative"
                                            style="background-image: url(../../../../assets/images/courses/course1.jpg);"
                                        >
                                            <img src="assets/images/courses/course1.jpg" alt="course-image">
                                            <a routerLink="/course-details" class="link-btn"></a>
                                            <span class="price">$58</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <div class="content">
                                            <div class="meta justify-content-between align-items-center d-flex">
                                                <a routerLink="/instructor-profile" class="user d-flex align-items-center">
                                                    <img src="assets/images/users/user3.jpg" width="40" height="40" class="rounded-circle" alt="user-image">
                                                    Sydney Phelps
                                                </a>
                                                <div class="rating">
                                                    <i class='bx bxs-star'></i>
                                                    (5.0)
                                                </div>
                                            </div>
                                            <h3>
                                                <a routerLink="/course-details">
                                                    Successful Negotiation: Master Your Negotiating
                                                </a>
                                            </h3>
                                            <ul class="info d-flex align-items-center justify-content-between ps-0 mb-0 list-unstyled">
                                                <li>
                                                    <i class="flaticon-open-book"></i>
                                                    18 Lessons
                                                </li>
                                                <li>
                                                    <i class="flaticon-young-man"></i>
                                                    27 Students
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-12 col-sm-6 col-md-12">
                            <div class="single-course-box">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <div
                                            class="image position-relative"
                                            style="background-image: url(../../../../assets/images/courses/course2.jpg);"
                                        >
                                            <img src="assets/images/courses/course2.jpg" alt="course-image">
                                            <a routerLink="/course-details" class="link-btn"></a>
                                            <span class="price">$88</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <div class="content">
                                            <div class="meta justify-content-between align-items-center d-flex">
                                                <a routerLink="/instructor-profile" class="user d-flex align-items-center">
                                                    <img src="assets/images/users/user4.jpg" width="40" height="40" class="rounded-circle" alt="user-image">
                                                    Sergio Osborn
                                                </a>
                                                <div class="rating">
                                                    <i class='bx bxs-star'></i>
                                                    (5.0)
                                                </div>
                                            </div>
                                            <h3>
                                                <a routerLink="/course-details">
                                                    Java Programming Master Class for Software
                                                </a>
                                            </h3>
                                            <ul class="info d-flex align-items-center justify-content-between ps-0 mb-0 list-unstyled">
                                                <li>
                                                    <i class="flaticon-open-book"></i>
                                                    28 Lessons
                                                </li>
                                                <li>
                                                    <i class="flaticon-young-man"></i>
                                                    37 Students
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-12 col-sm-6 col-md-12">
                            <div class="single-course-box">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <div
                                            class="image position-relative"
                                            style="background-image: url(../../../../assets/images/courses/course3.jpg);"
                                        >
                                            <img src="assets/images/courses/course3.jpg" alt="course-image">
                                            <a routerLink="/course-details" class="link-btn"></a>
                                            <span class="price">$98</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <div class="content">
                                            <div class="meta justify-content-between align-items-center d-flex">
                                                <a routerLink="/instructor-profile" class="user d-flex align-items-center">
                                                    <img src="assets/images/users/user5.jpg" width="40" height="40" class="rounded-circle" alt="user-image">
                                                    Stewart Burgess
                                                </a>
                                                <div class="rating">
                                                    <i class='bx bxs-star'></i>
                                                    (5.0)
                                                </div>
                                            </div>
                                            <h3>
                                                <a routerLink="/course-details">
                                                    Machine Learning A-Z™: Hands-On Python & R
                                                </a>
                                            </h3>
                                            <ul class="info d-flex align-items-center justify-content-between ps-0 mb-0 list-unstyled">
                                                <li>
                                                    <i class="flaticon-open-book"></i>
                                                    22 Lessons
                                                </li>
                                                <li>
                                                    <i class="flaticon-young-man"></i>
                                                    67 Students
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-12 col-sm-6 col-md-12">
                            <div class="single-course-box">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <div
                                            class="image position-relative"
                                            style="background-image: url(../../../../assets/images/courses/course4.jpg);"
                                        >
                                            <img src="assets/images/courses/course4.jpg" alt="course-image">
                                            <a routerLink="/course-details" class="link-btn"></a>
                                            <span class="price">$99</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <div class="content">
                                            <div class="meta justify-content-between align-items-center d-flex">
                                                <a routerLink="/instructor-profile" class="user d-flex align-items-center">
                                                    <img src="assets/images/users/user6.jpg" width="40" height="40" class="rounded-circle" alt="user-image">
                                                    Cornell Byrd
                                                </a>
                                                <div class="rating">
                                                    <i class='bx bxs-star'></i>
                                                    (5.0)
                                                </div>
                                            </div>
                                            <h3>
                                                <a routerLink="/course-details">
                                                    Node.js for Beginners Go From Zero Hero Nede.js
                                                </a>
                                            </h3>
                                            <ul class="info d-flex align-items-center justify-content-between ps-0 mb-0 list-unstyled">
                                                <li>
                                                    <i class="flaticon-open-book"></i>
                                                    33 Lessons
                                                </li>
                                                <li>
                                                    <i class="flaticon-young-man"></i>
                                                    77 Students
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-12 col-sm-6 col-md-12">
                            <div class="single-course-box">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <div
                                            class="image position-relative"
                                            style="background-image: url(../../../../assets/images/courses/course5.jpg);"
                                        >
                                            <img src="assets/images/courses/course1.jpg" alt="course-image">
                                            <a routerLink="/course-details" class="link-btn"></a>
                                            <span class="price">$58</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <div class="content">
                                            <div class="meta justify-content-between align-items-center d-flex">
                                                <a routerLink="/instructor-profile" class="user d-flex align-items-center">
                                                    <img src="assets/images/users/user3.jpg" width="40" height="40" class="rounded-circle" alt="user-image">
                                                    Sydney Phelps
                                                </a>
                                                <div class="rating">
                                                    <i class='bx bxs-star'></i>
                                                    (5.0)
                                                </div>
                                            </div>
                                            <h3>
                                                <a routerLink="/course-details">
                                                    Agile Crash Course Agile Project Management
                                                </a>
                                            </h3>
                                            <ul class="info d-flex align-items-center justify-content-between ps-0 mb-0 list-unstyled">
                                                <li>
                                                    <i class="flaticon-open-book"></i>
                                                    18 Lessons
                                                </li>
                                                <li>
                                                    <i class="flaticon-young-man"></i>
                                                    27 Students
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-12 col-sm-6 col-md-12">
                            <div class="single-course-box">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <div
                                            class="image position-relative"
                                            style="background-image: url(../../../../assets/images/courses/course6.jpg);"
                                        >
                                            <img src="assets/images/courses/course2.jpg" alt="course-image">
                                            <a routerLink="/course-details" class="link-btn"></a>
                                            <span class="price">$88</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <div class="content">
                                            <div class="meta justify-content-between align-items-center d-flex">
                                                <a routerLink="/instructor-profile" class="user d-flex align-items-center">
                                                    <img src="assets/images/users/user4.jpg" width="40" height="40" class="rounded-circle" alt="user-image">
                                                    Sergio Osborn
                                                </a>
                                                <div class="rating">
                                                    <i class='bx bxs-star'></i>
                                                    (5.0)
                                                </div>
                                            </div>
                                            <h3>
                                                <a routerLink="/course-details">
                                                    Deep Learning a-z Hands on Artificial Neural Networks
                                                </a>
                                            </h3>
                                            <ul class="info d-flex align-items-center justify-content-between ps-0 mb-0 list-unstyled">
                                                <li>
                                                    <i class="flaticon-open-book"></i>
                                                    28 Lessons
                                                </li>
                                                <li>
                                                    <i class="flaticon-young-man"></i>
                                                    37 Students
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-12 col-sm-6 col-md-12">
                            <div class="single-course-box">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <div
                                            class="image position-relative"
                                            style="background-image: url(../../../../assets/images/courses/course7.jpg);"
                                        >
                                            <img src="assets/images/courses/course3.jpg" alt="course-image">
                                            <a routerLink="/course-details" class="link-btn"></a>
                                            <span class="price">$98</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <div class="content">
                                            <div class="meta justify-content-between align-items-center d-flex">
                                                <a routerLink="/instructor-profile" class="user d-flex align-items-center">
                                                    <img src="assets/images/users/user5.jpg" width="40" height="40" class="rounded-circle" alt="user-image">
                                                    Stewart Burgess
                                                </a>
                                                <div class="rating">
                                                    <i class='bx bxs-star'></i>
                                                    (5.0)
                                                </div>
                                            </div>
                                            <h3>
                                                <a routerLink="/course-details">
                                                    The Data Science Courses Complete Data Science
                                                </a>
                                            </h3>
                                            <ul class="info d-flex align-items-center justify-content-between ps-0 mb-0 list-unstyled">
                                                <li>
                                                    <i class="flaticon-open-book"></i>
                                                    22 Lessons
                                                </li>
                                                <li>
                                                    <i class="flaticon-young-man"></i>
                                                    67 Students
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <nav class="pagination-area text-center">
                        <ul class="pagination mb-0 list-unstyled ps-0 d-block border-0 rounded-0">
                            <li class="page-item disabled"><a class="page-link" routerLink="/courses-grid">
                                <i class="flaticon-left-arrow"></i>
                            </a></li>
                            <li class="page-item"><a class="page-link active" routerLink="/courses-grid">1</a></li>
                            <li class="page-item"><a class="page-link" routerLink="/courses-grid">2</a></li>
                            <li class="page-item"><a class="page-link" routerLink="/courses-grid">3</a></li>
                            <li class="page-item"><a class="page-link" routerLink="/courses-grid">4</a></li>
                            <li class="page-item"><a class="page-link" routerLink="/courses-grid">
                                <i class="flaticon-next"></i>
                            </a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>