<!-- Default About Us Section -->
<div
    class="about-area z-1 position-relative pt-100 pb-75"
    [ngClass]="{'d-none': router.url === '/index-2' || router.url === '/index-3'}"
>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="about-image">
                    <div class="row align-items-end">
                        <div class="col-6">
                            <div class="image">
                                <img src="assets/images/about/about1.jpg" alt="about-image">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="image">
                                <img src="assets/images/about/about2.jpg" alt="about-image">
                                <div class="video-image position-relative">
                                    <img src="assets/images/about/about3.jpg" alt="about-image">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="about-content">
                    <h2>{{ 'ABOUT.SUBTITLE' | translate }}</h2>
                    <p [innerHTML]="'ABOUT.P1' | translate"></p>
                    <div class="quote position-relative">
                        <img src="assets/images/users/user1.jpg" class="rounded-circle" alt="user-image">
                        <p [innerHTML]="'ABOUT.P2' | translate"></p>
                        <h6 class="mb-0">{{ 'ABOUT.ENG' | translate }}</h6>
                    </div>
                    <a href="https://drive.google.com/file/d/1JgrGGqm3nq41-1Hm_nx2Se2VmBDB4_80/view?usp=sharing" target="blank" class="default-btn cv-link">Voir mon CV</a>
                </div>
            </div>
        </div>
    </div>
    <div class="shape1">
        <img src="assets/images/shapes/shape1.png" alt="shape1">
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="container">
        <div class="row">
            <h2 style="text-align: center;">{{ 'ABOUT.H2' | translate }}</h2>
            <div class="col-lg-6 col-md-12">
                <div class="about-content">
                    <h3 id="stage">{{ 'ABOUT.P3' | translate }}</h3>
                    <p class="job" [innerHTML]="'ABOUT.CONTENT1' | translate">
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="about-content">
                    <h3 id="ete">{{ 'ABOUT.P4' | translate }}</h3>
                    <p class="job" [innerHTML]="'ABOUT.CONTENT2' | translate">
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>