// About Style One
.about-image {
    .image {
        border-radius: 0 40px 0 65px;
        margin-bottom: 25px;

        img {
            border-radius: 0 40px 0 65px;
        }
    }
    .col-6 {
        &:nth-child(2) {
            .image {
                padding-right: 35px;
            }
        }
    }
    .video-image {
        border-radius: 0 20px 0 20px;
        margin-top: 25px;

        img {
            border-radius: 0 20px 0 20px;
        }
        &::before {
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            content: '';
            opacity: .87;
            position: absolute;
            border-radius: 0 20px;
            background: var(--secondaryColor);
        }
        .video-btn {
            left: 0;
            right: 0;
            top: 50%;
            display: flex;
            position: absolute;
            align-items: center;
            justify-content: center;
            color: var(--whiteColor);
            transform: translateY(-50%);
            font: {
                weight: 500;
                size: 22px;
            };
            .icon {
                width: 60px;
                height: 60px;
                font-size: 45px;
                text-align: center;
                border-radius: 50%;
                margin-right: 15px;
                color: var(--primaryColor);
                transition: var(--transition);
                background-color: var(--whiteColor);

                i {
                    position: relative;
                    top: 1px;
                }
            }
            &:hover {
                .icon {
                    color: var(--whiteColor);
                    background-color: var(--primaryColor);
                }
            }
        }
    }
}
.about-content {
    margin-bottom: 25px;
    
    h2 {
        line-height: 1.3;
        margin-bottom: 12px;
        font: {
            size: 35px;
            weight: 700;
        };
    }
    .quote {
        padding: 25px 25px 25px 130px;
        background-color: #f6fafb;
        border-radius: 5px;
        margin: {
            top: 25px;
            bottom: 30px;
        };
        img {
            top: 25px;
            left: 25px;
            width: 85px;
            height: 85px;
            position: absolute;
        }
        p {
            color: var(--blackColor);
            margin-bottom: 12px;
        }
        h6 {
            padding-left: 45px;
            position: relative;
            font: {
                weight: 500;
                size: 18px;
            };
            &::before {
                left: 0;
                top: 13px;
                bottom: 0;
                height: 1px;
                width: 34px;
                content: '';
                position: absolute;
                background-color: rgba(128, 130, 146, 0.24);
            }
        }
    }
}
.d-none {
    &.d-block {
        display: block !important;
    }
}

// About Style Two
.about-img {
    padding-left: 80px;

    .image {
        margin-bottom: 25px;
        border-radius: 20px 0;

        img {
            border-radius: 20px 0;
        }
    }
    .col-8 {
        .image {
            border-radius: 0 20px 100px 20px;

            img {
                border-radius: 0 20px 100px 20px;
            }
        }
    }
}
.about-text {
    margin-bottom: 25px;

    h2 {
        line-height: 1.3;
        margin-bottom: 12px;
        font: {
            size: 35px;
            weight: 700;
        };
    }
    .features-list {
        margin: {
            top: 20px;
            left: -10px;
            bottom: 15px;
            right: -10px;
        };
        li {
            flex: 0 0 auto;
            width: 50%;
            padding: {
                left: 10px;
                right: 10px;
            };
            span {
                color: var(--bodyColor);
                margin-bottom: 12px;
                position: relative;
                padding-left: 25px;
                font-weight: 500;
                display: block;

                i {
                    left: 0;
                    top: 50%;
                    line-height: 1;
                    font-size: 18px;
                    margin-top: -1px;
                    position: absolute;
                    transform: translateY(-50%);
                    color: var(--secondaryColor);
                }
            }
        }
    }
}

// About Style Three
.about-area {
    &.bg-color {
        background: linear-gradient(180deg, #FFFAFA 0%, #FBF7E9 100%);
    }
}
.about-wrap-content {
    h2 {
        line-height: 1.3;
        margin-bottom: 12px;
        font: {
            size: 35px;
            weight: 700;
        };
    }
    .features-list {
        margin: {
            top: 25px;
            left: -10px;
            bottom: 15px;
            right: -10px;
        };
        li {
            flex: 0 0 auto;
            width: 50%;
            padding: {
                left: 10px;
                right: 10px;
            };
            .box {
                display: flex;
                font-weight: 500;
                border-radius: 5px;
                align-items: center;
                background-color: var(--whiteColor);
                box-shadow: 0px 0px 30px rgba(254, 74, 85, 0.06);
                padding: {
                    left: 5px;
                    right: 5px;
                };
                margin: {
                    bottom: 20px;
                    top: 5px;
                };
                .icon {
                    top: -5px;
                    width: 45px;
                    height: 55px;
                    font-size: 20px;
                    border-radius: 5px;
                    text-align: center;
                    margin-right: 12px;
                    position: relative;
                    color: var(--whiteColor);
                    background-color: var(--secondaryColor);

                    i {
                        left: 0;
                        right: 0;
                        top: 50%;
                        margin-top: 1px;
                        position: absolute;
                        transform: translateY(-50%);
                    }
                }
            }
        }
    }
}
.about-wrap-image {
    padding-left: 30px;
}

// Shape
.shape1 {
    right: 5%;
    z-index: -1;
    bottom: 10%;
    position: absolute;
    pointer-events: none;
}
.about-shape1 {
    pointer-events: none;
    position: absolute;
    height: 95px;
    z-index: -1;
    width: 95px;
    bottom: 15%;
    left: 37%;
}
.about-shape2 {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    right: 10%;
    bottom: 0;
}

// Video
.video-popup {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    display: flex;
    position: fixed;
    text-align: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);

    .popup-inner {
        width: 720px;
        padding: 20px;
        position: relative;
        border-radius: 5px;
        background-color: var(--whiteColor);
        margin: {
            left: auto;
            right: auto;
        };
        iframe {
            width: 100%;
            height: 426px;
            border-radius: 5px;
        }
        .close-btn {
            top: -15px;
            width: 35px;
            right: -10px;
            border: none;
            height: 35px;
            font-size: 20px;
            line-height: 36px;
            border-radius: 50%;
            position: absolute;
            transition: var(--transition);
            background-color: var(--whiteColor);

            &:hover {
                background-color: red;
                color: var(--whiteColor);
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    // About Style One
    .about-image {
        .image {
            border-radius: 0 10px 0 25px;
    
            img {
                border-radius: 0 10px 0 25px;
            }
        }
        .col-6 {
            &:nth-child(2) {
                .image {
                    padding-right: 0;
                }
            }
        }
        .video-image {
            border-radius: 0 10px 0 10px;
    
            img {
                border-radius: 0 10px 0 10px;
            }
            &::before {
                border-radius: 0 10px 0 10px;
            }
            .video-btn {
                font-size: 14px;

                .icon {
                    width: 35px;
                    height: 35px;
                    font-size: 25px;
                    margin-right: 10px;
                }
            }
        }
    }
    .about-content {
        h2 {
            margin-bottom: 8px;
            font-size: 22px;
        }
        .quote {
            padding: 15px;
            margin: {
                top: 20px;
                bottom: 20px;
            };
            img {
                top: 0;
                left: 0;
                width: 60px;
                height: 60px;
                position: relative;
                margin-bottom: 12px;
            }
            h6 {
                font-size: 15px;

                &::before {
                    top: 12px;
                }
            }
        }
    }

    // Shape
    .shape1 {
        display: none;
    }

    // Video
    .video-popup {
        .popup-inner {
            width: 300px;
            padding: 10px;
            
            iframe {
                width: 100%;
                height: 177px;
            }
            .close-btn {
                width: 30px;
                right: -5px;
                height: 30px;
                font-size: 18px;
                line-height: 31px;
            }
        }
    }

    // About Style Two
    .about-img {
        padding-left: 0;
    
        .image {
            border-radius: 10px 0;
    
            img {
                border-radius: 10px 0;
            }
        }
        .col-8 {
            .image {
                border-radius: 0 10px 50px 10px;
    
                img {
                    border-radius: 0 10px 50px 10px;
                }
            }
        }
    }
    .about-text {
        h2 {
            margin-bottom: 8px;
            font-size: 22px;
        }
        .features-list {
            margin: {
                top: 15px;
                bottom: 8px;
            };
            li {
                width: 100%;
                
                span {
                    i {
                        margin-top: -2px;
                    }
                }
            }
        }
    }

    // About Style Three
    .about-wrap-content {
        h2 {
            margin-bottom: 8px;
            font-size: 22px;
        }
        .features-list {
            margin: {
                top: 15px;
                bottom: 8px;
            };
            li {
                width: 100%;
                
                .box {
                    margin: {
                        bottom: 15px;
                        top: 5px;
                    };
                    .icon {
                        width: 40px;
                        height: 50px;
                    }
                }
            }
        }
    }
    .about-wrap-image {
        margin-top: 25px;
        padding-left: 0;
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {

    // Video
    .video-popup {
        .popup-inner {
            width: 400px;
            
            iframe {
                width: 100%;
                height: 238px;
            }
            .close-btn {
                right: -10px;
            }
        }
    }

    // About Style Three
    .about-wrap-content {
        .features-list {
            li {
                width: 50%;
            }
        }
    }

}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    // About Style One
    .about-image {
        .col-6 {
            &:nth-child(2) {
                .image {
                    padding-right: 0;
                }
            }
        }
        .video-image {
            .video-btn {
                font-size: 20px;

                .icon {
                    width: 50px;
                    height: 50px;
                    font-size: 37px;
                }
            }
        }
    }
    .about-content {
        h2 {
            margin-bottom: 7px;
            font-size: 26px;
        }
        .quote {
            padding-left: 125px;
            margin: {
                top: 20px;
                bottom: 25px;
            };
            img {
                width: 80px;
                height: 80px;
            }
            h6 {
                font-size: 16px;

                &::before {
                    top: 12px;
                }
            }
        }
    }

    // Shape
    .shape1 {
        bottom: 5%;
    }

    // About Style Two
    .about-img {
        padding-left: 0;
    }
    .about-text {
        h2 {
            margin-bottom: 7px;
            font-size: 26px;
        }
        .features-list {
            margin: {
                top: 15px;
                bottom: 10px;
            };
        }
    }

    // About Style Three
    .about-wrap-content {
        h2 {
            margin-bottom: 7px;
            font-size: 26px;
        }
        .features-list {
            margin: {
                top: 20px;
                bottom: 8px;
            };
        }
    }
    .about-wrap-image {
        padding-left: 0;
        margin-top: 25px;
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {

    // About Style One
    .about-image {
        .image {
            border-radius: 0 25px 0 45px;
    
            img {
                border-radius: 0 25px 0 45px;
            }
        }
        .col-6 {
            &:nth-child(2) {
                .image {
                    padding-right: 10px;
                }
            }
        }
        .video-image {
            border-radius: 0 15px 0 15px;
    
            img {
                border-radius: 0 15px 0 15px;
            }
            &::before {
                border-radius: 0 15px 0 15px;
            }
            .video-btn {
                font-size: 18px;

                .icon {
                    width: 50px;
                    height: 50px;
                    font-size: 37px;
                }
            }
        }
    }
    .about-content {
        h2 {
            font-size: 28px;
            margin-bottom: 10px;
        }
        .quote {
            padding-left: 125px;
            margin: {
                top: 20px;
                bottom: 25px;
            };
            img {
                width: 80px;
                height: 80px;
            }
            h6 {
                font-size: 17px;

                &::before {
                    top: 12px;
                }
            }
        }
    }

    // Shape
    .shape1 {
        bottom: 5%;
    }

    // About Style Two
    .about-img {
        padding-left: 0;
    }
    .about-text {
        h2 {
            font-size: 28px;
            margin-bottom: 10px;
        }
    }

    // About Style Three
    .about-wrap-content {
        h2 {
            font-size: 28px;
            margin-bottom: 10px;
        }
        .features-list {
            margin: {
                bottom: 10px;
                top: 20px;
            };
            li {
                .box {
                    font-size: 15px;

                    .icon {
                        width: 40px;
                        height: 50px;
                        font-size: 18px;
                        margin-right: 10px;
                    }
                }
            }
        }
    }
    .about-wrap-image {
        padding-left: 0;
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {

    // About Style One
    .about-image {
        .col-6 {
            &:nth-child(2) {
                .image {
                    padding-right: 20px;
                }
            }
        }
    }

    // About Style Two
    .about-img {
        padding-left: 30px;
    }

}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {

    // Shape
    .about-shape1 {
        left: 40%;
    }

}