<!-- Page Banner -->
<div
    class="page-banner-area ptb-100"
    style="background-image: url(assets/images/shapes/page-banner-bg13.jpg);"
>
    <div class="overlay"></div>
    <div class="container">
        <div class="page-banner-content text-center">
            <h1 style="color: #fff;">{{ 'METIER.TITLE' | translate }}</h1>
            <ul class="ps-0 mb-0 list-unstyled">
                <li class="d-inline-block position-relative"><a routerLink="/">Home</a></li>
                <li class="d-inline-block position-relative" style="color: #fff;">{{ 'METIER.TITLE' | translate }}</li>
            </ul>
        </div>
    </div>
</div>

<!-- Privacy Policy -->
<div class="privacy-policy-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="assets/images/about/work5.jpg" alt="Coding" class="img-fluid">
            </div>

            <div class="col-md-8">
                <div class="privacy-policy-content">
                    <h4>{{ 'METIER.T1' | translate }}</h4>
                    <p [innerHTML]="'METIER.P1' | translate">
                    </p>
                    <h4>{{ 'METIER.T2' | translate }}</h4>
                    <p [innerHTML]="'METIER.P2' | translate">
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>