<!-- Page Banner -->
<div
    class="page-banner-area ptb-100"
    style="background-image: url(assets/images/shapes/page-banner-bg.jpg);"
>
    <div class="container">
        <div class="page-banner-content text-center">
            <h1>DOSSIER D'INSCRIPTION</h1>
            <ul class="ps-0 mb-0 list-unstyled">
                <li class="d-inline-block position-relative"><a routerLink="/">Accueil</a></li>
                <li class="d-inline-block position-relative">Inscription Formation pour adulte de LSF Étrangère</li>
            </ul>
        </div>
    </div>
</div>

<!-- Conditions générales de vente -->
<section class="register-page section-b-space">
    <div class="container">
        <div class="row"  style="padding: 8%;">
            <div class="col-lg-12 text-left">
                <h3>Renseignements sur le stagiaire</h3>
                <div class="widget">
                <div class="theme-card">
                    <form method="POST" class="theme-form" [formGroup]="signUpForm" (ngSubmit)="onSaveUser()">
                        <div class="row">
                            <div class="col-md-12">
                              <label>Sexe</label>
                              <div class="text-left">
                                <label class="radio-inline">
                                  <input type="radio" formControlName="sexe" value="Male"> Masculin
                                </label>
                                <label class="radio-inline">
                                  <input type="radio" formControlName="sexe" value="Female"> Féminin
                                </label>
                                <label class="radio-inline">
                                  <input type="radio" formControlName="sexe" value="Other"> Autre
                                </label>
                              </div>
                              <div *ngIf="signUpForm.get('sexe')?.touched && signUpForm.get('sexe')?.invalid" class="text text-danger">
                                <div *ngIf="signUpForm.get('sexe')?.errors?.['required']">Sexe obligatoire.</div>
                              </div>
                            </div>
                          </div>
                          
                          <div class="row" text-left>
                            <div class="col-md-6" style="margin: 20px 0;">
                              <label for="fName">Prénom <span class="text-danger">*</span></label>
                              <input type="text" class="form-control" id="fName" placeholder="Prénom" formControlName="firstName">
                              <div *ngIf="signUpForm.get('firstName')?.touched && signUpForm.get('firstName')?.invalid" class="text text-danger">
                                <div *ngIf="signUpForm.get('firstName')?.errors?.['required']">Prénom obligatoire.</div>
                              </div>
                            </div>
                          
                            <div class="col-md-6" style="margin: 20px 0;">
                              <label for="lName">Nom <span class="text-danger">*</span></label>
                              <input type="text" class="form-control" id="lName" placeholder="Nom" formControlName="lastName">
                              <div *ngIf="signUpForm.get('lastName')?.touched && signUpForm.get('lastName')?.invalid" class="text text-danger">
                                <div *ngIf="signUpForm.get('lastName')?.errors?.['required']">Nom obligatoire.</div>
                              </div>
                            </div>
                          </div>
                          
                          <div class="row" text-left>
                            <div class="col-md-6">
                              <label for="email">Email <span class="text-danger">*</span></label>
                              <input type="text" class="form-control" id="email" placeholder="Email" formControlName="email">
                              <div *ngIf="signUpForm.get('email')?.touched && signUpForm.get('email')?.invalid" class="text text-danger">
                                <div *ngIf="signUpForm.get('email')?.errors?.['required']">Email obligatoire.</div>
                                <div *ngIf="signUpForm.get('email')?.errors?.['email']">Email invalide.</div>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <label for="birthdate">Né(e) le <span class="text-danger">*</span></label>
                              <input type="date" class="form-control" id="birthdate" formControlName="birthdate">
                              <div *ngIf="signUpForm.get('birthdate')?.touched && signUpForm.get('birthdate')?.invalid" class="text text-danger">
                                <div *ngIf="signUpForm.get('birthdate')?.errors?.['required']">Date de naissance obligatoire.</div>
                              </div>
                            </div>
                          </div>
                          
                          <div class="row" text-left>
                            <div class="col-md-6">
                              <label for="profession">Profession <span class="text-danger">*</span></label>
                              <input type="text" class="form-control" id="profession" placeholder="Enseignant" formControlName="profession">
                              <div *ngIf="signUpForm.get('profession')?.touched && signUpForm.get('profession')?.invalid" class="text text-danger">
                                <div *ngIf="signUpForm.get('profession')?.errors?.['required']">Profession obligatoire.</div>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <label for="adresse">Adresse <span class="text-danger">*</span></label>
                              <input type="text" class="form-control" id="adresse" placeholder="98 Rue Paris" formControlName="adresse">
                              <div *ngIf="signUpForm.get('adresse')?.touched && signUpForm.get('adresse')?.invalid" class="text text-danger">
                                <div *ngIf="signUpForm.get('adresse')?.errors?.['required']">Adresse obligatoire.</div>
                              </div>
                            </div>
                          </div>
                          
                          <div class="row" text-left>
                            <div class="col-md-6">
                              <label for="zip">Code Postal <span class="text-danger">*</span></label>
                              <input type="text" class="form-control" id="zip" placeholder="75000" formControlName="zip">
                              <div *ngIf="signUpForm.get('zip')?.touched && signUpForm.get('zip')?.invalid" class="text text-danger">
                                <div *ngIf="signUpForm.get('zip')?.errors?.['required']">Code Postal obligatoire.</div>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <label for="city">Ville <span class="text-danger">*</span></label>
                              <input type="text" class="form-control" id="city" placeholder="Paris" formControlName="city">
                              <div *ngIf="signUpForm.get('city')?.touched && signUpForm.get('city')?.invalid" class="text text-danger">
                                <div *ngIf="signUpForm.get('city')?.errors?.['required']">Ville obligatoire.</div>
                              </div>
                            </div>
                          </div>
                          
                          <div class="row" text-left>
                            <div class="col-md-12" style="margin: 20px 0;">
                              <label>Niveau de LSF <span class="text-danger">*</span></label>
                              <div class="niveau-container">
                                <label class="radio-inline niveau-option">
                                  <input type="radio" formControlName="niveauLSF" value="Débutant"> Débutant
                                </label>
                                <label class="radio-inline niveau-option">
                                  <input type="radio" formControlName="niveauLSF" value="Intermédiaire"> Intermédiaire
                                </label>
                                <label class="radio-inline niveau-option">
                                  <input type="radio" formControlName="niveauLSF" value="Avancé"> Avancé
                                </label>
                              </div>
                              <div *ngIf="signUpForm.get('niveauLSF')?.touched && signUpForm.get('niveauLSF')?.invalid" class="text text-danger">
                                <div *ngIf="signUpForm.get('niveauLSF')?.errors?.['required']">Niveau LSF obligatoire.</div>
                              </div>
                          
                              <label>Niveau acquis <span class="text-danger">*</span></label>
                              <div class="niveau-container">
                                <label class="radio-inline niveau-option">
                                  <input type="radio" formControlName="niveauAcquis" value="A1"> A1
                                </label>
                                <label class="radio-inline niveau-option">
                                  <input type="radio" formControlName="niveauAcquis" value="A2"> A2
                                </label>
                                <label class="radio-inline niveau-option">
                                  <input type="radio" formControlName="niveauAcquis" value="B1"> B1
                                </label>
                              </div>
                              <div *ngIf="signUpForm.get('niveauAcquis')?.touched && signUpForm.get('niveauAcquis')?.invalid" class="text text-danger">
                                <div *ngIf="signUpForm.get('niveauAcquis')?.errors?.['required']">Niveau acquis obligatoire.</div>
                              </div>
                          
                              <label>Lieu de formation précédent <span class="text-danger">*</span></label>
                              <div class="niveau-container">
                                <label class="radio-inline niveau-option">
                                  <input type="radio" formControlName="lieuFormation" value="Visuel-LSF PACA ou LSF Med"> Visuel-LSF PACA ou LSF Med
                                </label>
                                <label class="radio-inline niveau-option">
                                  <input type="radio" formControlName="lieuFormation" value="Autre organisme de formation"> Autre organisme de formation
                                </label>
                              </div>
                              <div *ngIf="signUpForm.get('lieuFormation')?.touched && signUpForm.get('lieuFormation')?.invalid" class="text text-danger">
                                <div *ngIf="signUpForm.get('lieuFormation')?.errors?.['required']">Lieu de formation obligatoire.</div>
                              </div>
                            
                            </div>
                        </div> 

                        

                        <div class="row" text-left>
                            <div class="col-md-12" style="margin-top: 20px;">
                                <label>En cas de financement par un tiers (Prise en charge ou Formation Continue)</label>
                            </div>
                            <div class="col-md-6" style="margin: 20px 0;">
                                <label for="financerName">Nom de l’entreprise/organisme financeur</label>
                                <input type="text" class="form-control" id="financerName" formControlName="financerName" placeholder="Nom de l’entreprise/organisme financeur">
                            </div>
                            <div class="col-md-6" style="margin: 20px 0;">
                                <label for="financerContact">Personne chargée du dossier</label>
                                <input type="text" class="form-control" id="financerContact" formControlName="financerContact" placeholder="Personne chargée du dossier">
                            </div>
                        </div>
                        <div class="row" text-left>
                            <div class="col-md-6">
                                <label for="financerPhone">Tél.</label>
                                <input type="text" class="form-control" id="financerPhone" formControlName="financerPhone" placeholder="07 98 76 64 43">
                            </div>
                            <div class="col-md-6">
                                <label for="financerEmail">Adresse mail</label>
                                <input type="text" class="form-control" id="financerEmail" formControlName="financerEmail" placeholder="adresse@domaine.com">
                            </div>
                        </div>

                        <div class="row" style="background-color: #f0f0f0; padding: 20px; margin-top: 20px;">
                            <div class="col-md-12">
                              <h3> Choix de la formation <span class="text-danger">*</span></h3>
                          
                              <div class="form-group">
                                <label for="formation">Formation :</label>
                                <select class="form-control" id="formation" formControlName="formation" (change)="onFormationChange()">
                                  <option value="" disabled selected>Sélectionnez une formation</option>
                                  <option *ngFor="let formation of formations" [value]="formation.name">{{ formation.name }}</option>
                                </select>
                              </div>
                          
                              <!-- Cours intensifs Marseille -->
                              <div *ngIf="selectedFormation === 'Cours intensifs Marseille'">
                                <h4 style="margin-top: 20px;">Cours intensifs Marseille</h4>
                                <div class="form-group">
                                  <label for="niveau">Choix de niveau<span class="text-danger">*</span></label>
                                  <select class="form-control" id="niveau" formControlName="niveau">
                                    <option value="" disabled selected>Sélectionnez un niveau</option>
                                    <option *ngFor="let niveau of niveauxMarseille" [value]="niveau">{{ niveau }}</option>
                                  </select>
                                </div>
                              </div>
                          
                              <!-- Cours intensifs Vacances Scolaires -->
                              <div *ngIf="selectedFormation === 'Cours intensifs Vacances Scolaires'">
                                <h4>Cours intensifs Vacances Scolaires</h4>
                                <div class="form-group">
                                  <label for="niveau">Choix de niveau</label>
                                  <select class="form-control" id="niveau" formControlName="niveau">
                                    <option value="" disabled selected>Sélectionnez un niveau</option>
                                    <option *ngFor="let niveau of niveauxVacances" [value]="niveau">{{ niveau }}</option>
                                  </select>
                                </div>
                              </div>
                          
                              <!-- Cours hebdomadaires -->
                              <div *ngIf="selectedFormation === 'Cours hebdomadaires'">
                                <h4>Cours hebdomadaires</h4>
                                <div class="form-group">
                                  <label for="niveau">Choix de niveau</label>
                                  <select class="form-control" id="niveau" formControlName="niveau">
                                    <option value="" disabled selected>Sélectionnez un niveau</option>
                                    <option *ngFor="let niveau of niveauxHebdomadaires" [value]="niveau">{{ niveau }}</option>
                                  </select>
                                </div>
                              </div>
                          
                              <!-- Cours du soir -->
                              <div *ngIf="selectedFormation === 'Cours du soir'">
                                <h4>Cours du soir</h4>
                                <div class="form-group">
                                  <label for="niveau">Choix de niveau</label>
                                  <select class="form-control" id="niveau" formControlName="niveau">
                                    <option value="" disabled selected>Sélectionnez un niveau</option>
                                    <option *ngFor="let niveau of niveauxSoir" [value]="niveau">{{ niveau }}</option>
                                  </select>
                                </div>
                              </div>
                          
                              <!-- Choix de lieu -->
                              <div *ngIf="selectedFormation">
                                <h4>Choix de lieu</h4>
                                <div class="form-group">
                                  <label for="lieu">Choix de lieu<span class="text-danger">*</span></label>
                                  <select class="form-control" id="lieu" formControlName="lieu">
                                    <option value="" disabled selected>Sélectionnez un lieu</option>
                                    <option *ngFor="let lieu of lieux" [value]="lieu">{{ lieu }}</option>
                                  </select>
                                </div>
                              </div>
                            </div>
                          </div>
                          

                        <!-- Section "Questionnaire de positionnement" -->
                        <div class="row" text-left>
                            <div class="col-md-12" style="margin: 20px 0;">
                              <h4>Questionnaire de positionnement</h4>
                              <h5 style="margin: 5px 0;">Évaluation des pré-requis :</h5>
                          
                              <div class="form-group">
                                <label for="formationSuivie">1/ Quelle formation allez-vous suivre au sein de notre organisme ?<span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="formationSuivie" formControlName="formationSuivie">
                              </div>
                              <div *ngIf="signUpForm.get('formationSuivie')?.touched && signUpForm.get('formationSuivie')?.invalid" class="text text-danger">
                                <div *ngIf="signUpForm.get('formationSuivie')?.errors?.['required']">Formation Suivie obligatoire.</div>
                              </div>
                          
                              <div class="form-group">
                                <label for="connaissancesSujet">2/ Mes connaissances sur le sujet de la formation ? <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="connaissancesSujet" formControlName="connaissancesSujet">
                              </div>
                              <div *ngIf="signUpForm.get('connaissancesSujet')?.touched && signUpForm.get('connaissancesSujet')?.invalid" class="text text-danger">
                                <div *ngIf="signUpForm.get('connaissancesSujet')?.errors?.['required']">Formation Suivie obligatoire.</div>
                              </div>
                          
                              <div class="form-group">
                                <label for="formationPrecedente">3/ Avez-vous déjà suivi une formation dans ce domaine, si oui laquelle ? <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="formationPrecedente" formControlName="formationPrecedente">
                              </div>
                              <div *ngIf="signUpForm.get('formationPrecedente')?.touched && signUpForm.get('formationPrecedente')?.invalid" class="text text-danger">
                                <div *ngIf="signUpForm.get('formationPrecedente')?.errors?.['required']">Formation Suivie obligatoire.</div>
                              </div>
                          
                              <div class="form-group">
                                <label for="signesLSF">4/ Connaissez-vous quelques signes de la LSF ? Si oui lesquels ? <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="signesLSF" formControlName="signesLSF">
                              </div>
                              <div *ngIf="signUpForm.get('signesLSF')?.touched && signUpForm.get('signesLSF')?.invalid" class="text text-danger">
                                <div *ngIf="signUpForm.get('signesLSF')?.errors?.['required']">Formation Suivie obligatoire.</div>
                              </div>
                          
                              <h5>Évaluation des besoins :</h5>
                          
                              <div class="form-group">
                                <label for="attentes">1/ Mes attentes par rapport à cette formation ? <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="attentes" formControlName="attentes">
                              </div>
                              <div *ngIf="signUpForm.get('attentes')?.touched && signUpForm.get('attentes')?.invalid" class="text text-danger">
                                <div *ngIf="signUpForm.get('attentes')?.errors?.['required']">Formation Suivie obligatoire.</div>
                              </div>
                          
                              <div class="form-group">
                                <label for="craintes">2/ Mes craintes et mes freins par rapport à cette formation ? <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="craintes" formControlName="craintes">
                              </div>
                              <div *ngIf="signUpForm.get('craintes')?.touched && signUpForm.get('craintes')?.invalid" class="text text-danger">
                                <div *ngIf="signUpForm.get('craintes')?.errors?.['required']">Formation Suivie obligatoire.</div>
                              </div>
                          
                              <div class="form-group">
                                <label for="connaissanceSourd">3/ Connaissez-vous une personne sourde ou malentendante dans votre entourage ? <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="connaissanceSourd" formControlName="connaissanceSourd">
                              </div>
                              <div *ngIf="signUpForm.get('connaissanceSourd')?.touched && signUpForm.get('connaissanceSourd')?.invalid" class="text text-danger">
                                <div *ngIf="signUpForm.get('connaissanceSourd')?.errors?.['required']">Formation Suivie obligatoire.</div>
                              </div>
                            </div>
                          </div>
                          

  
                        
                        

                       
                        


                        <div class="row submit-row">
                            <div class="col-md-2">
                              <button type="submit" [disabled]="!signUpForm.valid" class="btn btn-solid" >S'inscrire</button>
                            </div>
                            <div class="col-md-10">
                                <div *ngIf="serverErrorMessage" class="text text-danger">{{serverErrorMessage}}</div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
            </div>
        </div>
    </div>
</section>                