<!-- Page Banner -->
<div
    class="page-banner-area ptb-100"
    style="background-image: url(assets/images/shapes/page-banner-bg.jpg);"
>
    <div class="container">
        <div class="page-banner-content text-center">
            <h1>Events</h1>
            <ul class="ps-0 mb-0 list-unstyled">
                <li class="d-inline-block position-relative"><a routerLink="/">Home</a></li>
                <li class="d-inline-block position-relative">Events</li>
            </ul>
        </div>
    </div>
</div>

<!-- Events -->
<div class="events-area pt-100 pb-75">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-event-box">
                    <img src="assets/images/blogs/blog1.jpg" alt="event-image">
                    <div class="content">
                        <ul class="info ps-0 list-unstyled">
                            <li class="d-inline-block position-relative">
                                <i class="flaticon-calendar"></i>
                                22 May 2024
                            </li>
                            <li class="d-inline-block position-relative">
                                <i class="flaticon-pin"></i>
                                London, UK
                            </li>
                        </ul>
                        <h3><a routerLink="/event-details">Essential Fall Fruits That Aren’t Apples</a></h3>
                        <a routerLink="/event-details" class="link-btn">Get Ticket</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-event-box">
                    <img src="assets/images/blogs/blog2.jpg" alt="event-image">
                    <div class="content">
                        <ul class="info ps-0 list-unstyled">
                            <li class="d-inline-block position-relative">
                                <i class="flaticon-calendar"></i>
                                22 May 2024
                            </li>
                            <li class="d-inline-block position-relative">
                                <i class="flaticon-pin"></i>
                                Tokyo, Japan
                            </li>
                        </ul>
                        <h3><a routerLink="/event-details">Mastering The Art Communication Skill</a></h3>
                        <a routerLink="/event-details" class="link-btn">Get Ticket</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-event-box">
                    <img src="assets/images/blogs/blog3.jpg" alt="event-image">
                    <div class="content">
                        <ul class="info ps-0 list-unstyled">
                            <li class="d-inline-block position-relative">
                                <i class="flaticon-calendar"></i>
                                23 May 2024
                            </li>
                            <li class="d-inline-block position-relative">
                                <i class="flaticon-pin"></i>
                                New York, USA
                            </li>
                        </ul>
                        <h3><a routerLink="/event-details">Virtual Spring Part-time Jobs Fair Student</a></h3>
                        <a routerLink="/event-details" class="link-btn">Get Ticket</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-event-box">
                    <img src="assets/images/blogs/blog4.jpg" alt="event-image">
                    <div class="content">
                        <ul class="info ps-0 list-unstyled">
                            <li class="d-inline-block position-relative">
                                <i class="flaticon-calendar"></i>
                                24 May 2024
                            </li>
                            <li class="d-inline-block position-relative">
                                <i class="flaticon-pin"></i>
                                Paris, France
                            </li>
                        </ul>
                        <h3><a routerLink="/event-details">Explorations of Chief Executive Network</a></h3>
                        <a routerLink="/event-details" class="link-btn">Get Ticket</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-event-box">
                    <img src="assets/images/blogs/blog5.jpg" alt="event-image">
                    <div class="content">
                        <ul class="info ps-0 list-unstyled">
                            <li class="d-inline-block position-relative">
                                <i class="flaticon-calendar"></i>
                                25 May 2024
                            </li>
                            <li class="d-inline-block position-relative">
                                <i class="flaticon-pin"></i>
                                İstanbul, Turkey
                            </li>
                        </ul>
                        <h3><a routerLink="/event-details">Write A Novel Outline From Scratch</a></h3>
                        <a routerLink="/event-details" class="link-btn">Get Ticket</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-event-box">
                    <img src="assets/images/blogs/blog6.jpg" alt="event-image">
                    <div class="content">
                        <ul class="info ps-0 list-unstyled">
                            <li class="d-inline-block position-relative">
                                <i class="flaticon-calendar"></i>
                                26 May 2024
                            </li>
                            <li class="d-inline-block position-relative">
                                <i class="flaticon-pin"></i>
                                Bangkok, Thailand
                            </li>
                        </ul>
                        <h3><a routerLink="/event-details">Consumer Safety Education Conference</a></h3>
                        <a routerLink="/event-details" class="link-btn">Get Ticket</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>