<div class="funfacts-area position-relative z-1 pt-100 pb-10 bg-f6fafb">
    <div class="container">
        <div class="row justify-content-center">
            <div class="section-title text-center">
                <h2 class="mb-0">
                    {{ 'FUNFACTS.TITLE' | translate }}
                </h2>
            </div>
            <div class="col-lg-3 col-12" *ngFor="let content of funfactBox;">
                <div class="funfact-item w-100 d-flex justify-content-center">
                    <div class="count text-center">
                        <h2>{{content.number}}</h2>
                        <span class="d-block">{{content.title}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="funfact-shape1 d-none d-lg-block">
        <img src="assets/images/shapes/shape12.png" alt="shape-image">
    </div>
    <div class="funfact-shape2 d-none d-lg-block">
        <img src="assets/images/shapes/shape13.png" alt="shape-image">
    </div>
</div>