.funfact-item {
    display: flex;
    margin-bottom: 25px;
    align-items: center;  
    .icon {
        width: 85px;
        height: 85px;
        font-size: 45px;
        text-align: center;
        position: relative;
        border-radius: 10px;
        color: var(--primaryColor);
        transition: var(--transition);
        background-color: var(--whiteColor);
        box-shadow: 0px 0px 15px rgba(129, 129, 169, 0.08);
        i {
            left: 0;
            right: 0;
            top: 50%;
            margin-top: 3px;
            position: absolute;
            transform: translateY(-50%);
        }
    }
    .count {
        margin-left: 20px;
        h2 {
            color: var(--secondaryColor);
            margin-bottom: 10px;
            font-size: 35px;
            line-height: 1;
        }
        span {
            line-height: 1;
            font: {
                size: 18px;
                weight: 500;
            };
        }
    }
    &:hover {
        .icon {
            background-color: var(--primaryColor);
            color: var(--whiteColor);
        }
    }
}
.funfact-item{
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 2s ease-out, transform 2s ease-out;
}
.funfact-item.show{
    animation: fadeInUp 2s ease-out forwards;
}
@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.funfact-shape1 {
    left: 5%;
    top: -60px;
    z-index: -1;
    position: absolute;
    pointer-events: none;
}
.funfact-shape2 {
    right: 3%;
    top: -60px;
    z-index: -1;
    position: absolute;
    pointer-events: none;
}
.d-none {
    &.d-block {
        display: block !important;
    }
}
@media only screen and (max-width : 767px) {
    .funfact-item {
        display: block;
        .icon {
            width: 60px;
            height: 60px;
            font-size: 30px;
        }
        .count {
            margin: {
                left: 0;
                top: 15px;
            };
            h2 {
                margin-bottom: 10px;
                font-size: 28px;
            }
            span {
                font-size: 15px;
            }
        }
    }
}
@media only screen and (min-width : 768px) and (max-width : 991px) {
    .funfact-item {
        .icon {
            width: 80px;
            height: 80px;
            font-size: 40px;
        }
        .count {
            h2 {
                font-size: 30px;
            }
            span {
                font-size: 16px;
            }
        }
    }
}
@media only screen and (min-width : 992px) and (max-width : 1199px) {
    .funfact-item {
        display: block;
        .count {
            margin: {
                left: 0;
                top: 18px;
            };
        }
    }
}