<div class="featured-boxes-area pt-100 pb-75"
[ngClass]="{'d-none': router.url === '/index-3'}">
    <div class="container">
        <div class="row justify-content-center">
            <div class="container mt-5">
                <div class="row no-gutters">
                    <div class="col-lg-3 col-md-4 col-12 mb-3">
                        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                <a class="nav-link" [ngClass]="{'active': selectedTab === 'CakeOrder'}" (click)="selectTab('CakeOrder')" id="v-pills-ide-tab" role="tab" aria-controls="v-pills-ide" aria-selected="true">Cake Order</a>
                                <a class="nav-link" [ngClass]="{'active': selectedTab === 'ProductOf3'}" (click)="selectTab('ProductOf3')" id="v-pills-api-tab" role="tab" aria-controls="v-pills-api" aria-selected="false">Product Of 3</a>
                                <a class="nav-link" [ngClass]="{'active': selectedTab === 'ChoosingCubes'}" (click)="selectTab('ChoosingCubes')" id="v-pills-sql-tab" role="tab" aria-controls="v-pills-sql" aria-selected="false">Choosing Cubes</a>
                                <a class="nav-link" [ngClass]="{'active': selectedTab === 'Clock'}" (click)="selectTab('Clock')" id="v-pills-autres-tab" role="tab" aria-controls="v-pills-autres" aria-selected="false">Clock Conversion</a>
                                <a class="nav-link" [ngClass]="{'active': selectedTab === 'Palindrome'}" (click)="selectTab('Palindrome')" id="v-pills-palindrome-tab" role="tab" aria-controls="v-pills-palindrome" aria-selected="false">Palindrome</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-8 col-12">
                        <div class="tab-content" id="v-pills-tabContent">
                            <div class="tab-pane fade" [ngClass]="{'show active': selectedTab === 'CakeOrder'}" id="v-pills-ide" role="tabpanel" aria-labelledby="v-pills-ide-tab">
                                <h2>{{ 'PYTHON.PROJ3.SUJ1' | translate }}</h2>
                                <p [innerHTML]=" 'PYTHON.PROJ3.CONTENT1' | translate "></p>
                                <p [innerHTML]=" 'PYTHON.PROJ3.SOL1' | translate "></p>
                                <pre><code>
def is_first_come_first_served(take_out_orders, dine_in_orders, served_orders):
    take_out_orders_index = 0
    dine_in_orders_index = 0
    take_out_orders_max_index = len(take_out_orders) - 1
    dine_in_orders_max_index = len(dine_in_orders) - 1

    for order in served_orders:
        if take_out_orders_index <= take_out_orders_max_index and order == take_out_orders[take_out_orders_index]:
            take_out_orders_index += 1

        elif dine_in_orders_index <= dine_in_orders_max_index and order == dine_in_orders[dine_in_orders_index]:
            dine_in_orders_index += 1

        else:
            return False
                                
    if dine_in_orders_index != len(dine_in_orders) or take_out_orders_index != len(take_out_orders):
        return False

    return True
                                
# main
TakeOutOrders = [17, 8, 24]
DineInOrders = [12, 19, 2]
ServedOrders = [17, 8, 12, 19, 24, 2]
print(is_first_come_first_served(TakeOutOrders, DineInOrders, ServedOrders))  
                                </code></pre>
                            </div>
                            <div class="tab-pane fade" [ngClass]="{'show active': selectedTab === 'ProductOf3'}" id="v-pills-api" role="tabpanel" aria-labelledby="v-pills-api-tab">
                                <h2>{{ 'PYTHON.PROJ3.SUJ2' | translate }}</h2>
                                <p [innerHTML]=" 'PYTHON.PROJ3.CONTENT2' | translate "></p>
                                <p [innerHTML]=" 'PYTHON.PROJ3.SOL2' | translate "></p>
                                <pre><code>
def highestProductOf3(list):
if len(list) < 3:
    raise ValueError('Less than 3 items!')
highest = max(list[0], list[1]) 
lowest = min(list[0], list[1]) 
highestProductOf2 = list[0] * list[1] 
lowestProductOf2 = list[0] * list[1] 
highestProductOf3 = list[0] * list[1] * list[2] 
for i in range(2, len(list)): 
    current = list[i]
    highestProductOf3 = max(highestProductOf3, current * highestProductOf2, current * lowestProductOf2)
    highestProductOf2 = max(highestProductOf2, current * highest, current * lowest)
    lowestProductOf2 = min(lowestProductOf2, current * highest, current * lowest)
    highest = max(highest, current)
    lowest = min(lowest, current)
print(highestProductOf3)

list = [1,10,-5,1,-100]
highestProductOf3(list)
                                </code></pre>
                            </div>
                            <div class="tab-pane fade" [ngClass]="{'show active': selectedTab === 'ChoosingCubes'}" id="v-pills-sql" role="tabpanel" aria-labelledby="v-pills-sql-tab">
                                <h2>{{ 'PYTHON.PROJ3.SUJ3' | translate }}</h2>
                                <p [innerHTML]=" 'PYTHON.PROJ3.CONTENT3' | translate "></p>
                                <p [innerHTML]=" 'PYTHON.PROJ3.SOL3' | translate "></p>
                                <pre><code>
t = int(input())
for _ in range(t):
    notRemove = 0
    remove = 0
    n, f, k = map(int, input().split())
    a = list(map(int, input().split()))
    favCubes = a[f-1]
    a.sort(reverse=True)
    indices = [i for i, x in enumerate(a) if x == favCubes] #all index
    for _ in indices:
        if _ > k-1:
            notRemove += 1
        elif _ <= k-1:
            remove += 1
    if(notRemove != 0 and remove != 0):
        print("MAYBE")
    elif(notRemove == 0 and remove != 0):
        print("YES")
    else:
        print("NO")
                                </code></pre>
                            </div>
                            <div class="tab-pane fade" [ngClass]="{'show active': selectedTab === 'Clock'}" id="v-pills-autres" role="tabpanel" aria-labelledby="v-pills-autres-tab">
                                <h2>{{ 'PYTHON.PROJ3.SUJ4' | translate }}</h2>
                                <p [innerHTML]=" 'PYTHON.PROJ3.CONTENT4' | translate "></p>
                                <p [innerHTML]=" 'PYTHON.PROJ3.SOL4' | translate "></p>
                                <pre><code>
t = int(input())
for _ in range(t):
    s = input()
    hour = int(s[0:2])
    if hour > 12:
        hour -= 12
        s = str(hour).zfill(2) + s[2:] + " PM" 
    elif hour == 12:
        s += " PM"
    elif hour == 0:
        hour += 12
        s = str(hour).zfill(2) + s[2:] + " AM"
    else:
        s += " AM"
    print(s)
                                </code></pre>
                            </div>
                            <div class="tab-pane fade" [ngClass]="{'show active': selectedTab === 'Palindrome'}" id="v-pills-palindrome" role="tabpanel" aria-labelledby="v-pills-palindrome-tab">
                                <h2>{{ 'PYTHON.PROJ3.SUJ5' | translate }}</h2>
                                <p [innerHTML]=" 'PYTHON.PROJ3.CONTENT5' | translate "></p>
                                <p [innerHTML]=" 'PYTHON.PROJ3.SOL5' | translate "></p>
                                <pre><code>
def has_palindrome_permutation(the_string): 
    unpaired_characters = set()

    for char in the_string:
        if char in unpaired_characters:
            unpaired_characters.remove(char)
        else:
            unpaired_characters.add(char)

    return len(unpaired_characters) <= 1

string = input("Enter a word: ")
print("Palindrome: ",has_palindrome_permutation(string))
                                </code></pre>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>