@import "../informatique/informatique.component.scss";
.pt-100 {
    padding-top: 0px !important;
}
pre {
    background-color: #f5f5f5; 
    border: 1px solid #ccc; 
    border-radius: 8px; 
    padding: 16px; 
    overflow: auto; 
    text-align: left;
}

code {
    font-family: 'Courier New', Courier, monospace; 
    font-size: 14px; 
}