<div class="courses-table">
    <div class="table-responsive">
        <table class="table align-middle">
            <thead>
                <tr>
                    <th scope="col">Course Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">
                        <a routerLink="/course-details">
                            Deep Learning a-z Hands on Artificial Neural Networks
                        </a>
                    </th>
                    <td>
                        $38.00
                    </td>
                    <td>
                        1
                    </td>
                    <td class="action">
                        <button type="button" class="default-btn">
                            <i class='bx bx-trash-alt'></i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        <a routerLink="/course-details">
                            The Data Science Courses Complete Data Science
                        </a>
                    </th>
                    <td>
                        $32.00
                    </td>
                    <td>
                        1
                    </td>
                    <td class="action">
                        <button type="button" class="default-btn">
                            <i class='bx bx-trash-alt'></i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        <a routerLink="/course-details">
                            Node.js for Beginners Go From Zero Hero Nede.js
                        </a>
                    </th>
                    <td>
                        $21.00
                    </td>
                    <td>
                        1
                    </td>
                    <td class="action">
                        <button type="button" class="default-btn">
                            <i class='bx bx-trash-alt'></i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        <a routerLink="/course-details">
                            Successful Negotiation: Master Your Negotiating
                        </a>
                    </th>
                    <td>
                        $99.00
                    </td>
                    <td>
                        1
                    </td>
                    <td class="action">
                        <button type="button" class="default-btn">
                            <i class='bx bx-trash-alt'></i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        <a routerLink="/course-details">
                            Java Programming Master Class for Software
                        </a>
                    </th>
                    <td>
                        $65.00
                    </td>
                    <td>
                        1
                    </td>
                    <td class="action">
                        <button type="button" class="default-btn">
                            <i class='bx bx-trash-alt'></i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        <a routerLink="/course-details">
                            Machine Learning A-Z™: Hands-On Python & R
                        </a>
                    </th>
                    <td>
                        $50.00
                    </td>
                    <td>
                        1
                    </td>
                    <td class="action">
                        <button type="button" class="default-btn">
                            <i class='bx bx-trash-alt'></i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        <a routerLink="/course-details">
                            Node.js for Beginners Go From Zero Hero Nede.js
                        </a>
                    </th>
                    <td>
                        $33.00
                    </td>
                    <td>
                        1
                    </td>
                    <td class="action">
                        <button type="button" class="default-btn">
                            <i class='bx bx-trash-alt'></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="mt-4 d-flex align-items-center justify-content-between">
        <span></span>
        <button class="default-btn two" type="button">Proceed to Checkout</button>
    </div>
</div>