<!-- Page Banner -->
<div
    class="page-banner-area ptb-100"
    style="background-image: url(assets/images/shapes/page-banner-bg5.jpg);"
>
    <div class="overlay"></div>
    <div class="container">
        <div class="page-banner-content text-center">
            <h1 style="color: #ffffff;">{{ 'JAVA.TITLE' | translate }}</h1>
            <ul class="ps-0 mb-0 list-unstyled">
                <li class="d-inline-block position-relative"><a routerLink="/">Home</a></li>
                <li class="d-inline-block position-relative" style="color: #ffffff;">{{ 'JAVA.TITLE' | translate }}</li>
            </ul>
        </div>
    </div>
</div>

<!-- Blog Grid -->
<div class="blog-area ptb-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="blog-card">
                    <div class="image">
                        <a routerLink="/java-projet-1" class="d-block">
                            <img src="assets/images/blogs/blog1.jpg" alt="blog-image">  
                        </a>
                    </div>
                    <div class="content">
                        <h3>
                            <a routerLink="/java-projet-1">
                                {{ 'JAVA.PRO1' | translate }}
                            </a>
                        </h3>
                        <ul class="meta ps-0 list-unstyled">
                            <li class="d-inline-block position-relative">
                                <i class='bx bx-calendar'></i>
                                2024
                            </li>
                        </ul>
                        <p>{{ 'JAVA.SUB1' | translate }}</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="blog-card">
                    <div class="image">
                        <a routerLink="/java-projet-2" class="d-block">
                            <img src="assets/images/blogs/blog2.jpg" alt="blog-image">  
                        </a>
                    </div>
                    <div class="content">
                        <h3>
                            <a routerLink="/java-projet-2">
                                {{ 'JAVA.PRO2' | translate }}
                            </a>
                        </h3>
                        <ul class="meta ps-0 list-unstyled">
                            <li class="d-inline-block position-relative">
                                <i class='bx bx-calendar'></i>
                                2024
                            </li>
                        </ul>
                        <p>{{ 'JAVA.SUB2' | translate }}</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="blog-card">
                    <div class="image">
                        <a routerLink="/java-projet-3" class="d-block">
                            <img src="assets/images/blogs/blog3.jpg" alt="blog-image">  
                        </a>
                    </div>
                    <div class="content">
                        <h3>
                            <a routerLink="/java-projet-3">
                                Snake Game
                            </a>
                        </h3>
                        <ul class="meta ps-0 list-unstyled">
                            <li class="d-inline-block position-relative">
                                <i class='bx bx-calendar'></i>
                                2024
                            </li>
                        </ul>
                        <p>{{ 'JAVA.SUB3' | translate }}</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="blog-card">
                    <div class="image">
                        <a routerLink="/java-projet-4" class="d-block">
                            <img src="assets/images/blogs/blog4.jpg" alt="blog-image">  
                        </a>
                    </div>
                    <div class="content">
                        <h3>
                            <a routerLink="/java-projet-4">
                                {{ 'JAVA.PRO4' | translate }}
                            </a>
                        </h3>
                        <ul class="meta ps-0 list-unstyled">
                            <li class="d-inline-block position-relative">
                                <i class='bx bx-calendar'></i>
                                2024
                            </li>
                        </ul>
                        <p>{{ 'JAVA.SUB4' | translate }}</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="blog-card">
                    <div class="image">
                        <a routerLink="/java-projet-5" class="d-block">
                            <img src="assets/images/blogs/blog5.jpg" alt="blog-image">  
                        </a>
                    </div>
                    <div class="content">
                        <h3>
                            <a routerLink="/java-projet-5">
                                {{ 'JAVA.PRO5' | translate }}
                            </a>
                        </h3>
                        <ul class="meta ps-0 list-unstyled">
                            <li class="d-inline-block position-relative">
                                <i class='bx bx-calendar'></i>
                                2023
                            </li>
                        </ul>
                        <p>{{ 'JAVA.SUB5' | translate }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>