<!-- Default Categories Section -->
<div class="categories-area pt-100 pb-75">
    <div class="container">
        <div class="section-title d-sm-flex justify-content-between">
            <h2 class="mb-0">{{ 'CATEGORIES.H2' | translate }}</h2>
            <!-- <a routerLink="/categories" class="default-btn two">View All Categories</a> -->
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 d-none d-md-block">
                <div class="category-box text-center position-relative z-1">
                    <fa-icon [icon]="faAngular"></fa-icon>
                    Angular
                    <a href="javascript:void(0)" class="link-btn"></a>
                </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 d-none d-md-block">
                <div class="category-box text-center position-relative z-1">
                    <fa-icon [icon]="faReact"></fa-icon>
                    React
                    <a href="javascript:void(0)" class="link-btn"></a>
                </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 d-none d-md-block">
                <div class="category-box text-center position-relative z-1">
                    <fa-icon [icon]="faJava"></fa-icon>
                    Java
                    <a href="javascript:void(0)" class="link-btn"></a>
                </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 d-none d-md-block">
                <div class="category-box text-center position-relative z-1">
                    <fa-icon [icon]="faPython"></fa-icon>
                    Python
                    <a href="javascript:void(0)" class="link-btn"></a>
                </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 d-none d-md-block">
                <div class="category-box text-center position-relative z-1">
                    <fa-icon [icon]="faHtml5"></fa-icon>
                    JS HTML CSS
                    <a href="javascript:void(0)" class="link-btn"></a>
                </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 d-none d-md-block">
                <div class="category-box text-center position-relative z-1">
                    <fa-icon [icon]="faPhp"></fa-icon>
                    PHP
                    <a href="javascript:void(0)" class="link-btn"></a>
                </div>
            </div>
        </div>
        <div class="d-block d-md-none">
            <owl-carousel-o [options]="customOptions">
                <ng-container *ngIf="customOptions">
                    <ng-template carouselSlide>
                        <div class="row justify-content-center">
                            <div class="col-4">
                                <div class="category-box text-center position-relative z-1">
                                    <fa-icon [icon]="faAngular"></fa-icon>
                                    Angular
                                    <a href="https://angular.dev/" class="link-btn" target="_blank"></a>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="category-box text-center position-relative z-1">
                                    <fa-icon [icon]="faReact"></fa-icon>
                                    React
                                    <a href="https://react.dev/" class="link-btn" target="_blank"></a>
                                </div>
                            </div>
                            <div class="col-4">
                                    <div class="category-box text-center position-relative z-1">
                                        <fa-icon [icon]="faJava"></fa-icon>
                                        Java
                                        <a href="https://www.java.com/" class="link-btn" target="_blank"></a>
                                    </div>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="row justify-content-center">
                            <div class="col-4">
                            <div class="category-box text-center position-relative z-1">
                                <fa-icon [icon]="faPython"></fa-icon>
                                Python
                                <a href="https://www.python.org/" class="link-btn" target="_blank"></a>
                            </div>
                            </div>
                            <div class="col-4">
                            <div class="category-box text-center position-relative z-1">
                                <fa-icon [icon]="faHtml5"></fa-icon>
                                JS HTML CSS
                                <a href="https://www.w3schools.com/js/DEFAULT.asp" class="link-btn" target="_blank"></a>
                            </div>
                            </div>
                            <div class="col-4">
                            <div class="category-box text-center position-relative z-1">
                                <fa-icon [icon]="faPhp"></fa-icon>
                                PHP
                                <a href="https://www.php.net/" class="link-btn" target="_blank"></a>
                            </div>
                            </div>
                        </div>
                    </ng-template>
                </ng-container>
            </owl-carousel-o>
        </div>
    </div>
</div>