<!-- Default Categories Section -->
<div class="categories-area pt-100 pb-75">
    <div class="container">
        <div class="section-title d-sm-flex justify-content-between">
            <h2 class="mb-0">Langages Programmation</h2>
            <!-- <a routerLink="/categories" class="default-btn two">View All Categories</a> -->
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 d-none d-md-block">
                <div class="category-box text-center position-relative z-1">
                    <fa-icon [icon]="faAngular"></fa-icon>
                    Angular
                    <a routerLink="/courses-grid" class="link-btn"></a>
                </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 d-none d-md-block">
                <div class="category-box text-center position-relative z-1">
                    <fa-icon [icon]="faReact"></fa-icon>
                    React
                    <a routerLink="/courses-grid" class="link-btn"></a>
                </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 d-none d-md-block">
                <div class="category-box text-center position-relative z-1">
                    <fa-icon [icon]="faJava"></fa-icon>
                    Java
                    <a routerLink="/courses-grid" class="link-btn"></a>
                </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 d-none d-md-block">
                <div class="category-box text-center position-relative z-1">
                    <fa-icon [icon]="faPython"></fa-icon>
                    Python
                    <a routerLink="/courses-grid" class="link-btn"></a>
                </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 d-none d-md-block">
                <div class="category-box text-center position-relative z-1">
                    <fa-icon [icon]="faHtml5"></fa-icon>
                    JS HTML CSS
                    <a routerLink="/courses-grid" class="link-btn"></a>
                </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 d-none d-md-block">
                <div class="category-box text-center position-relative z-1">
                    <fa-icon [icon]="faPhp"></fa-icon>
                    PHP
                    <a routerLink="/courses-grid" class="link-btn"></a>
                </div>
            </div>
        </div>
        <div class="d-block d-md-none">
            <owl-carousel-o [options]="customOptions">
                <ng-container *ngIf="customOptions">
                    <ng-template carouselSlide>
                        <div class="row justify-content-center">
                            <div class="col-4">
                                <div class="category-box text-center position-relative z-1">
                                    <fa-icon [icon]="faAngular"></fa-icon>
                                    Angular
                                    <a routerLink="/courses-grid" class="link-btn"></a>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="category-box text-center position-relative z-1">
                                    <fa-icon [icon]="faReact"></fa-icon>
                                    React
                                    <a routerLink="/courses-grid" class="link-btn"></a>
                                </div>
                            </div>
                            <div class="col-4">
                                    <div class="category-box text-center position-relative z-1">
                                        <fa-icon [icon]="faJava"></fa-icon>
                                        Java
                                        <a routerLink="/courses-grid" class="link-btn"></a>
                                    </div>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="row justify-content-center">
                            <div class="col-4">
                            <div class="category-box text-center position-relative z-1">
                                <fa-icon [icon]="faPython"></fa-icon>
                                Python
                                <a routerLink="/courses-grid" class="link-btn"></a>
                            </div>
                            </div>
                            <div class="col-4">
                            <div class="category-box text-center position-relative z-1">
                                <fa-icon [icon]="faHtml5"></fa-icon>
                                JS HTML CSS
                                <a routerLink="/courses-grid" class="link-btn"></a>
                            </div>
                            </div>
                            <div class="col-4">
                            <div class="category-box text-center position-relative z-1">
                                <fa-icon [icon]="faPhp"></fa-icon>
                                PHP
                                <a routerLink="/courses-grid" class="link-btn"></a>
                            </div>
                            </div>
                        </div>
                    </ng-template>
                </ng-container>
            </owl-carousel-o>
        </div>
    </div>
</div>

<!-- Categories Section for Home Demo - 3 -->
<!-- <div
    class="categories-area extra-top position-relative z-1 pb-75 d-none"
    [ngClass]="{'d-block': router.url === '/index-3'}"
>
    <div class="container">
        <div class="section-title text-center">
            <h2 class="mb-0">Our Top Categories</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-2 col-md-4 col-sm-6 col-lg-3">
                <div class="single-category-item text-center position-relative z-1">
                    <div class="icon">
                        <i class="flaticon-web-programming"></i>
                    </div>
                    <h3>Development</h3>
                    <div class="arrow">
                        <i class="flaticon-next"></i>
                    </div>
                    <a routerLink="/courses-grid" class="link-btn"></a>
                </div>
            </div>
            <div class="col-xl-2 col-md-4 col-sm-6 col-lg-3">
                <div class="single-category-item text-center position-relative z-1">
                    <div class="icon">
                        <i class="flaticon-knowledge-1"></i>
                    </div>
                    <h3>Marketing</h3>
                    <div class="arrow">
                        <i class="flaticon-next"></i>
                    </div>
                    <a routerLink="/courses-grid" class="link-btn"></a>
                </div>
            </div>
            <div class="col-xl-2 col-md-4 col-sm-6 col-lg-3">
                <div class="single-category-item text-center position-relative z-1">
                    <div class="icon">
                        <i class="flaticon-arts"></i>
                    </div>
                    <h3>Art & Crafts</h3>
                    <div class="arrow">
                        <i class="flaticon-next"></i>
                    </div>
                    <a routerLink="/courses-grid" class="link-btn"></a>
                </div>
            </div>
            <div class="col-xl-2 col-md-4 col-sm-6 col-lg-3">
                <div class="single-category-item text-center position-relative z-1">
                    <div class="icon">
                        <i class="flaticon-management"></i>
                    </div>
                    <h3>Management</h3>
                    <div class="arrow">
                        <i class="flaticon-next"></i>
                    </div>
                    <a routerLink="/courses-grid" class="link-btn"></a>
                </div>
            </div>
            <div class="col-xl-2 col-md-4 col-sm-6 col-lg-3">
                <div class="single-category-item text-center position-relative z-1">
                    <div class="icon">
                        <i class="flaticon-networking"></i>
                    </div>
                    <h3>Leadership</h3>
                    <div class="arrow">
                        <i class="flaticon-next"></i>
                    </div>
                    <a routerLink="/courses-grid" class="link-btn"></a>
                </div>
            </div>
            <div class="col-xl-2 col-md-4 col-sm-6 col-lg-3">
                <div class="single-category-item text-center position-relative z-1">
                    <div class="icon">
                        <i class="flaticon-data-science"></i>
                    </div>
                    <h3>Data Science</h3>
                    <div class="arrow">
                        <i class="flaticon-next"></i>
                    </div>
                    <a routerLink="/courses-grid" class="link-btn"></a>
                </div>
            </div>
        </div>
    </div>
</div> -->