<!-- Page Banner -->
<div
    class="page-banner-area ptb-100"
    style="background-image: url(assets/images/shapes/page-banner-bg3.jpg);"
>
    <div class="overlay"></div>
    <div class="container">
        <div class="page-banner-content text-center">
            <h1 style="color: #fff;">Lycée d'excellence Hanoi-Amsterdam</h1>
            <ul class="ps-0 mb-0 list-unstyled">
                <li class="d-inline-block position-relative"><a routerLink="/">Home</a></li>
                <li class="d-inline-block position-relative" style="color: #fff;">Lycée d'excellence Hanoi-Amsterdam</li>
            </ul>
        </div>
    </div>
</div>

<!-- Privacy Policy -->
<div class="privacy-policy-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <section class="design-section">
                    <div class="timeline">
                        <div class="timeline-date">
                            <h3 id="left-date">2021-2022</h3>
                        </div>
                        <div class="timeline-middle">
                            <div class="timeline-circle"></div>
                        </div>
                        <div class="timeline-component timeline-content">
                            <h3>Terminal</h3>
                            <p>Classement final: 1er.
                                <br>
                                3ème prix au concours national des étudiants d'excellence.
                                <br>
                                Notes moyennes: 9.5 / 10. (Très bien)
                            </p>
                    </div>

                    <div class="timeline-component timeline-content">
                        <h3>Première</h3>
                        <p>Classement final: 1er.
                            <br>
                            Logistique pour des événements musicaux scolaires.
                            <br>
                            Notes moyennes: 9.4 / 10. (Très bien)
                        </p>
                        </div>
                        <div class="timeline-middle">
                            <div class="timeline-circle"></div>
                        </div>
                        <div class="timeline-date">
                            <h3 id="right-date">2020-2021</h3>
                        </div>
        
                        <div class="timeline-date">
                            <h3 id="left-date">2019-2020</h3>
                        </div>
                        <div class="timeline-middle">
                            <div class="timeline-circle"></div>
                        </div>
                        <div class=" timeline-component timeline-content">
                            <h3>Seconde</h3>
                            <p>Major de promotion d'entrée.
                                <br>
                                Rejoindre des clubs d'arts martiaux, de lecture.
                                <br>
                                Participer à des activités bénévoles.
                                <br>
                                Notes moyennes: 8.6 / 10. (Très bien)
                            </p>
                        </div>
                    </div>
                </section>
            </div>

            <div class="col-md-4">
                <img src="assets/images/about/school.jpg" alt="Hanoi-Amsterdam" class="img-fluid">
            </div>
        </div>
    </div>
</div>