<!-- Page Banner -->
<div
    class="page-banner-area ptb-100"
    style="background-image: url(assets/images/shapes/page-banner-bg3.webp);"
>
    <div class="overlay"></div>
    <div class="container">
        <div class="page-banner-content text-center">
            <h1 style="color: #fff;">{{ 'LYCEE.TITLE' | translate }}</h1>
            <ul class="ps-0 mb-0 list-unstyled">
                <li class="d-inline-block position-relative"><a routerLink="/">Home</a></li>
                <li class="d-inline-block position-relative" style="color: #fff;">{{ 'LYCEE.TITLE' | translate }}</li>
            </ul>
        </div>
    </div>
</div>

<!-- Privacy Policy -->
<div class="privacy-policy-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <section class="design-section">
                    <div class="timeline">
                        <div class="timeline-date">
                            <h3 id="left-date">2021-2022</h3>
                        </div>
                        <div class="timeline-middle">
                            <div class="timeline-circle"></div>
                        </div>
                        <div class="timeline-component timeline-content">
                            <h3>{{ 'LYCEE.SEM1' | translate }}</h3>
                            <p [innerHTML]="'LYCEE.CONTENT1' | translate">
                            </p>
                    </div>

                    <div class="timeline-component timeline-content">
                        <h3>{{ 'LYCEE.SEM2' | translate }}</h3>
                            <p [innerHTML]="'LYCEE.CONTENT2' | translate">
                            </p>
                        </div>
                        <div class="timeline-middle">
                            <div class="timeline-circle"></div>
                        </div>
                        <div class="timeline-date">
                            <h3 id="right-date">2020-2021</h3>
                        </div>
        
                        <div class="timeline-date">
                            <h3 id="left-date">2019-2020</h3>
                        </div>
                        <div class="timeline-middle">
                            <div class="timeline-circle"></div>
                        </div>
                        <div class=" timeline-component timeline-content">
                            <h3>{{ 'LYCEE.SEM3' | translate }}</h3>
                            <p [innerHTML]="'LYCEE.CONTENT3' | translate">
                            </p>
                        </div>
                    </div>
                </section>
            </div>

            <div class="col-md-4">
                <img src="assets/images/about/school.webp" alt="Hanoi-Amsterdam" class="img-fluid">
            </div>
        </div>
    </div>
</div>