.featured-box {
    padding: 30px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 25px;
    background-color: #f6fafb;
    .icon {
        z-index: 1;
        width: 110px;
        height: 110px;
        border-radius: 50%;
        position: relative;
        background-color: #ededed;
        transition: var(--transition);
        margin: {
            left: auto;
            right: auto;
            bottom: 18px;
        };
        &::before {
            top: 0;
            left: 3px;
            bottom: 0;
            content: "";
            z-index: -1;
            width: 100%;
            height: 100%;
            position: absolute;
            border-radius: 50%;
            background-color: var(--whiteColor);
        }
    }
    h3 {
        font-size: 22px;
        margin-bottom: 10px;
    }
    h2{
        padding-top: 25px;
    }
    &:hover {
        box-shadow: 0 4px 8px rgba(56, 206, 219, 0.4);
        .icon {
            background-color: var(--primaryColor);
        }
    }
}
.d-none {
    &.d-block {
        display: block !important;
    }
}
@media only screen and (max-width : 767px) {
    .featured-box {
        padding: 20px 15px;
        .icon {
            width: 80px;
            height: 80px;
            margin-bottom: 15px;
            img {
                width: 50px;
            }
        }
        h3 {
            font-size: 18px;
            margin-bottom: 5px;
        }
    }
}
@media only screen and (min-width : 768px) and (max-width : 991px) {
    .featured-box {
        padding: 25px 20px;
        .icon {
            width: 100px;
            height: 100px;
            margin-bottom: 15px;
            img {
                width: 60px;
            }
        }
        h3 {
            font-size: 20px;
            margin-bottom: 8px;
        }
    }
}