<!-- Page Banner -->
<div
    class="page-banner-area ptb-100"
    style="background-image: url(assets/images/shapes/page-banner-bg5.jpg);"
>
    <div class="overlay"></div>
    <div class="container">
        <div class="page-banner-content text-center">
            <h1 style="color: #ffffff;">Quiz Online Application</h1>
            <ul class="ps-0 mb-0 list-unstyled">
                <li class="d-inline-block position-relative"><a routerLink="/java-projets">Java Projets</a></li>
                <li class="d-inline-block position-relative" style="color: #ffffff;">Quiz Online Application</li>
            </ul>
        </div>
    </div>
</div>

<!-- Blog Details -->
<div class="blog-details-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="blog-details-desc">
                    <div class="post-thumb" style="text-align: center;">
                        <img src="assets/images/blogs/blog1.jpg" alt="blog-details" style="height: 400px;">
                    </div>
                    <h3>Online Quiz Application</h3>
                    <div class="post-meta">
                        <ul class="ps-0 list-unstyled mb-0">
                            <li class="d-inline-block position-relative">
                                <i class='bx bx-calendar'></i>
                                2024
                            </li>
                        </ul>
                    </div>
                    <p>
                        C'est mon projet Spring Boot le plus compliqué à ce jour car il y a une connexion entre le Front End et le Back End et j'ai dû le réaliser dans 2 folders différentes. Project Quiz-Online dispose de 2 modes : le mode Administrateur pour ajouter, modifier ou supprimer des questions ; mode Le client pourra choisir le sujet, le nombre de questions qu'il souhaite et répondre au quiz.
                        <br>
                        J'ai utilisé Spring Boot pour le Back End (port 9192), React JS (.jsx) combiné avec Bootstrap pour le Front End, MySQL WorkBench (port 3306) pour la base de données.
                        Le site démarre sur Vite + React à l'adresse http://localhost:5173/ et l'application Spring Boot est également démarrée.
                        <br>
                        Pour permettre Front à envoyer les demandes à endpoint de Back, j'utilise CrossOrigin et l'adresse du lien du front. Et en plus, j'ai utilisé Axios pour créer un instant de axios (http://localhost:9192/api/quizzes) pour envoyer des demandes plus facilement.
                    </p>
                    <h4>Détail du projet</h4>
                    <p>
                        Quant à <u>Back</u>, je crée d'abord un modèle pour la question, qui contient tous les champs dont une question a besoin (Id, question, sujet, type, choix, réponse correcte). Ensuite, je crée repository, service et controller. Dans Service, il existe des fonctions simples telles que getQuestionById, updateQuestion, deleteQuestion,... pour aider les admins à pouvoir contrôler directement les questions depuis le Front.
                        Dans Controller, plus compliqué, je devrai diviser les routeurs et déployer des GET PUT DELETE en fonction des fonctions du Service. Repository est le même que d'habitude, il suffit d'extend JPA Repository et d'ajouter les requêtes nécessaires.
                        <br>
                        Pour partie <u>Front</u>, j'ai utilisé React et ses dépendances (axios, bootstrap, react-router-dom,..). Il existe AddQuestion.jsx et UpdateQuestion.jsx pour récupérer les informations sur les questions et les mettre à jour dans base de données. Il y a aussi une page pour afficher tous les quiz, une page pour sélectionner le nombre de questions et le sujet pour répondre au quiz, une page quiz qui inclut la logique et la notation,.... Toutes les pages renvoient l'interface au format html (sauf les pages de service).
                    </p>
                    <h4>Avantages du projet</h4>
                    <ul>
                        <li>Les utilisateurs peuvent ajouter et modifier les quiz, sujets à travers Front End</li>
                        <li>Le programme est divisé en plusieurs routeurs, ce qui facilite la navigation</li>
                        <li>Belle interface</li>
                    </ul>
                    <h4>Conclusion</h4>
                    <p>
                        Comme le programme ne s'exécute que localement et par intermittence, lorsque j'éteigne le programme, toutes les données seront perdues. Et il n'y a pas de section d'authentification pour admins, donc tout le monde peut accéder à des pages modifiant les questions.
                    </p>
                    <h4>Quelques images de ce projet</h4>
                    
                    <owl-carousel-o [options]="{items: 3, dots: true, nav: false, margin: 10}">
                        <ng-template carouselSlide>
                            <img src="assets/images/blogs/Screenshot-3.png" class="img-fluid rounded" alt="Image 1" (click)="openModal('assets/images/blogs/Screenshot-3.png')">
                        </ng-template>
                        <ng-template carouselSlide>
                            <img src="assets/images/blogs/Screenshot-4.png" class="img-fluid rounded" alt="Image 2" (click)="openModal('assets/images/blogs/Screenshot-4.png')">
                        </ng-template>
                        <ng-template carouselSlide>
                            <img src="assets/images/blogs/Screenshot-5.png" class="img-fluid rounded" alt="Image 3" (click)="openModal('assets/images/blogs/Screenshot-5.png')">
                        </ng-template>
                        <ng-template carouselSlide>
                            <img src="assets/images/blogs/Screenshot-6.png" class="img-fluid rounded" alt="Image 4" (click)="openModal('assets/images/blogs/Screenshot-6.png')">
                        </ng-template>
                        <ng-template carouselSlide>
                            <img src="assets/images/blogs/Screenshot-7.png" class="img-fluid rounded" alt="Image 5" (click)="openModal('assets/images/blogs/Screenshot-7.png')">
                        </ng-template>
                        <ng-template carouselSlide>
                            <img src="assets/images/blogs/Screenshot-8.png" class="img-fluid rounded" alt="Image 6" (click)="openModal('assets/images/blogs/Screenshot-8.png')">
                        </ng-template>
                        <ng-template carouselSlide>
                            <img src="assets/images/blogs/Screenshot-9.png" class="img-fluid rounded" alt="Image 7" (click)="openModal('assets/images/blogs/Screenshot-9.png')">
                        </ng-template>
                    </owl-carousel-o>

                    <div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="imageModalLabel">Image</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <img id="modalImage" src="" class="img-fluid" alt="Modal Image">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="post-footer d-flex align-items-center flex-wrap">
                        <div class="article-share text-md-end">
                            <ul class="social ps-0 mb-0 mt-0 list-unstyled">
                                <li class="d-inline-block mb-0"><span class="fw-medium position-relative d-inline-block">Source code:</span></li>
                                <li class="d-inline-block mb-0"><a href="https://github.com/zung31?tab=repositories" class="github d-block rounded-circle text-center" target="_blank">
                                    <i class='bx bxl-github'></i>
                                </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>