<!-- Page Banner -->
<div
    class="page-banner-area ptb-100"
    style="background-image: url(assets/images/shapes/page-banner-bg.jpg);"
>
    <div class="container">
        <div class="page-banner-content text-center">
            <h1>Blog Details</h1>
            <ul class="ps-0 mb-0 list-unstyled">
                <li class="d-inline-block position-relative"><a routerLink="/">Home</a></li>
                <li class="d-inline-block position-relative">Blog Details</li>
            </ul>
        </div>
    </div>
</div>

<!-- Blog Details -->
<div class="blog-details-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="blog-details-desc">
                    <div class="post-thumb">
                        <img src="assets/images/blogs/blog1.jpg" alt="blog-details">
                    </div>
                    <h3>Eco-Education in Our Lives: We Can Change the Future</h3>
                    <div class="post-meta">
                        <ul class="ps-0 list-unstyled mb-0">
                            <li class="d-inline-block position-relative">
                                <i class='bx bx-user'></i>
                                By <a href="/blog-grid">Les Schroeder</a>
                            </li>
                            <li class="d-inline-block position-relative">
                                <i class='bx bx-calendar'></i>
                                19 May 2024
                            </li>
                        </ul>
                    </div>
                    <p>Quuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quia non numquam eius modi tempora incidunt ut labore et dolore magnam dolor sit amet, consectetur adipisicing.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur <strong>adipisicing</strong> elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea <a routerLink="/">commodo</a> consequat. Duis aute irure dolor in reprehenderit in sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat.</p>
                    <ol>
                        <li>Nunc, mauris ut in vestibulum. Consectetur phasellus ultrices fusce nibh justo, venenatis, amet. Lectus quam.</li>
                        <li>Most of the designer are very creative to do something , mauris ut in vestibulum. Consectetur phasellus ultrices fusce nibh justo, venenatis, amet. Lectus quam in lobortis.</li>
                        <li>There are two thing is very important in Consectetur phasellus ultrices fusce nibh justo, venenatis amet.</li>
                        <li>Web design and development very creative to do something , mauris ut in vestibulum. Consectetur phasellus ultrices fusce nibh  venenatis, amet to all design and development.</li>
                    </ol>
                    <p>Quuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quia non numquam eius modi tempora incidunt ut labore et dolore magnam dolor sit amet, consectetur adipisicing.</p>
                    <h4>Develop a brand identity</h4>
                    <p>Quuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quia non numquam eius modi tempora incidunt ut labore et dolore magnam dolor sit amet, consectetur adipisicing.</p>
                    <ul>
                        <li>Use the same language online and offline</li>
                        <li>Use the same typeface, logo and color scheme</li>
                        <li>Maintain the same tone and voice throughout all marketing material</li>
                        <li>A consistent value proposition–answering “what’s in it for the customer” </li>
                    </ul>
                    <h4>Setting the mood with incense</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in  sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat.</p>
                    <blockquote class="wp-block-quote">
                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                        <cite>Jason Smith</cite>
                    </blockquote>
                    <h4>Discover & grow your online audience</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur <strong>adipisicing</strong> elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea <a routerLink="/">commodo</a> consequat. Duis aute irure dolor in reprehenderit in sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat.</p>
                    <h4>In conclusion</h4>
                    <p>We hope this guide to setting up a consultancy business online provides consumable and translatable actions of what to do to be successful. Before you start the journey, remember that successful consulting businesses have a few common denominators: cohesive branding, as well as diligent website optimizing and promotion.</p>
                    <div class="post-footer d-flex align-items-center flex-wrap">
                        <div class="post-tags">
                            <span class="sub text-uppercase d-inline-block">Tags:</span>
                            <ul class="mb-0 mt-0 ps-0 list-unstyled d-inline-block">
                                <li class="d-inline-block mb-0"><a routerLink="/blog-grid" rel="tag">Business</a></li>
                                <li class="d-inline-block mb-0"><a routerLink="/blog-grid" rel="tag">Consulting</a></li>
                            </ul>
                        </div>
                        <div class="article-share text-md-end">
                            <ul class="social ps-0 mb-0 mt-0 list-unstyled">
                                <li class="d-inline-block mb-0"><span class="fw-medium position-relative d-inline-block">Share:</span></li>
                                <li class="d-inline-block mb-0"><a href="#" class="facebook d-block rounded-circle text-center" target="_blank">
                                    <i class='bx bxl-facebook'></i>
                                </a></li>
                                <li class="d-inline-block mb-0"><a href="#" class="twitter d-block rounded-circle text-center" target="_blank">
                                    <i class='bx bxl-twitter'></i>
                                </a></li>
                                <li class="d-inline-block mb-0"><a href="#" class="linkedin d-block rounded-circle text-center" target="_blank">
                                    <i class='bx bxl-linkedin'></i>
                                </a></li>
                                <li class="d-inline-block mb-0"><a href="#" class="instagram d-block rounded-circle text-center" target="_blank">
                                    <i class='bx bxl-instagram'></i>
                                </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="comments-area">
                    <h3 class="comments-title">2 Comments:</h3>
                    <ol class="comment-list">
                        <li class="comment">
                            <div class="comment-body">
                                <footer class="comment-meta">
                                    <div class="comment-author vcard">
                                        <img src="assets/images/users/user1.jpg" class="avatar rounded-circle" alt="user">
                                        <b class="fn">John Jones</b>
                                    </div>
                                    <div class="comment-metadata">
                                        <span>August 01, 2024 at 10:59 am</span>
                                    </div>
                                </footer>
                                <div class="comment-content">
                                    <p>Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen.</p>
                                </div>
                                <div class="reply">
                                    <a routerLink="/" class="comment-reply-link">Reply</a>
                                </div>
                            </div>
                            <ol class="children">
                                <li class="comment">
                                    <div class="comment-body">
                                        <footer class="comment-meta">
                                            <div class="comment-author vcard">
                                                <img src="assets/images/users/user2.jpg" class="avatar rounded-circle" alt="user">
                                                <b class="fn">Steven Smith</b>
                                            </div>
                                            <div class="comment-metadata">
                                                <span>August 02, 2024 at 21:59 am</span>
                                            </div>
                                        </footer>
                                        <div class="comment-content">
                                            <p>Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen.</p>
                                        </div>
                                        <div class="reply">
                                            <a routerLink="/" class="comment-reply-link">Reply</a>
                                        </div>
                                    </div>
                                    <ol class="children">
                                        <li class="comment">
                                            <div class="comment-body">
                                                <footer class="comment-meta">
                                                    <div class="comment-author vcard">
                                                        <img src="assets/images/users/user3.jpg" class="avatar rounded-circle" alt="user">
                                                        <b class="fn">Sarah Taylor</b>
                                                    </div>
                                                    <div class="comment-metadata">
                                                        <span>August 03, 2024 at 05:59 am</span>
                                                    </div>
                                                </footer>
                                                <div class="comment-content">
                                                    <p>Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen.</p>
                                                </div>
                                                <div class="reply">
                                                    <a routerLink="/" class="comment-reply-link">Reply</a>
                                                </div>
                                            </div>
                                        </li>
                                    </ol>
                                </li>
                            </ol>
                        </li>
                        <li class="comment">
                            <div class="comment-body">
                                <footer class="comment-meta">
                                    <div class="comment-author vcard">
                                        <img src="assets/images/users/user4.jpg" class="avatar rounded-circle" alt="user">
                                        <b class="fn">John Doe</b>
                                    </div>
                                    <div class="comment-metadata">
                                        <span>August 04, 2024 at 05:59 am</span>
                                    </div>
                                </footer>
                                <div class="comment-content">
                                    <p>Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen.</p>
                                </div>
                                <div class="reply">
                                    <a routerLink="/" class="comment-reply-link">Reply</a>
                                </div>
                            </div>
                            <ol class="children">
                                <li class="comment">
                                    <div class="comment-body">
                                        <footer class="comment-meta">
                                            <div class="comment-author vcard">
                                                <img src="assets/images/users/user5.jpg" class="avatar rounded-circle" alt="user">
                                                <b class="fn">James Anderson</b>
                                            </div>
                                            <div class="comment-metadata">
                                                <span>August 05, 2024 at 04:59 am</span>
                                            </div>
                                        </footer>
                                        <div class="comment-content">
                                            <p>Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen.</p>
                                        </div>
                                        <div class="reply">
                                            <a routerLink="/" class="comment-reply-link">Reply</a>
                                        </div>
                                    </div>
                                </li>
                            </ol>
                        </li>
                    </ol>
                    <div class="comment-respond">
                        <h3 class="comment-reply-title">Leave A Reply</h3>
                        <p class="comment-notes"><span id="email-notes">Your email address will not be published.</span> Required fields are marked <span class="required">*</span></p>
                        <form class="comment-form">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Your Name">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Your Email">
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Website">
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="form-group">
                                        <textarea class="form-control" cols="30" rows="5" placeholder="Your Comment..."></textarea>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="checkme">
                                        <label class="form-check-label" for="checkme">
                                            Save my name, email, and website in this browser for the next time I comment.
                                        </label>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <button type="submit" class="default-btn">Post A Comment</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <app-blog-widget></app-blog-widget>
            </div>
        </div>
    </div>
</div>