<div class="hero-area position-relative z-1">
    <div class="container-fluid">
        <div class="hero-content position-relative z-1 text-center">
            <span class="sub-title">Best Learning Platform In Toledo</span>
            <h1>Learn Any New Skill From Our Expert Mentors</h1>
            <div class="btn-box">
                <a routerLink="/profile-authentication" class="default-btn">Join For Free</a>
                <a routerLink="/courses-grid" class="default-btn">Find Courses</a>
            </div>
            <img src="assets/images/banner/border.png" alt="border" class="border-shape">
        </div>
        <div class="banner-course-item">
            <div class="image position-relative">
                <a routerLink="/course-details" class="d-block">
                    <img src="assets/images/banner/banner-course.jpg" alt="course-image">
                </a>
            </div>
            <div class="content">
                <ul class="info ps-0 list-unstyled">
                    <li class="d-inline-block position-relative">
                        <i class="flaticon-open-book"></i>
                        02 Lessons
                    </li>
                    <li class="d-inline-block position-relative">
                        <i class="flaticon-young-man"></i>
                        123 Students
                    </li>
                </ul>
                <h3>
                    <a routerLink="/course-details">
                        Angular - The Complete Guide (2024 Edition)
                    </a>
                </h3>
                <div class="rating d-flex align-items-center">
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <span>(5.0/8 Rating)</span>
                </div>
                <div class="price">
                    $543 <span>$600</span>
                </div>
            </div>
        </div>
        <img src="assets/images/banner/banner4.png" class="hero-image" alt="hero-image">
    </div>
    <div class="hero-shape1">
        <img src="assets/images/shapes/shape11.png" alt="hero-shape">
    </div>
    <div class="hero-shape2">
        <img src="assets/images/shapes/shape10.png" alt="hero-shape">
    </div>
</div>