<!-- Default Featured Boxes Section -->
<div
    class="featured-boxes-area pt-100 pb-75"
    [ngClass]="{'d-none': router.url === '/index-3'}"
>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-3 col-md-6 col-lg-4 col-sm-6" *ngFor="let content of featuredBox;">
                <div class="featured-box">
                    <div class="icon">
                        <h2>{{content.icon}}</h2>
                    </div>
                    <div class="content">
                        <h3>{{content.title}}</h3>
                        <!-- <p>{{content.paragraph}}</p> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Featured Boxes Section Home Demo - 3 -->
<div
    class="featured-boxes-area pt-100 d-none"
    [ngClass]="{'d-block': router.url === '/index-3'}"
>
    <div class="container">
        <div class="row justify-content-center">
            <div class="section-title text-center">
                <h2 class="mb-0">
                    Nous engageons à
                </h2>
            </div>
            <div class="col-xl-3 col-12" *ngFor="let content of featuredBox;">
                <div class="featured-item">
                    <div class="icon">
                        <h2>{{content.icon}}</h2>
                    </div>
                    <div class="content">
                        <h3>{{content.title}}</h3>
                        <!-- <p>{{content.paragraph}}</p> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>