<div class="courses-area pt-100 pb-75 bg-f6fafb">
    <div class="container">
        <div class="section-title text-center">
            <span class="sub-title d-block fw-medium text-uppercase">Courses</span>
            <h2 class="mb-0">Top Rated Learning Tutorials</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="course-item">
                    <a routerLink="/course-details" class="image d-block">
                        <img src="assets/images/courses/course9.jpg" alt="course-image">
                    </a>
                    <div class="content">
                        <ul class="info ps-0 list-unstyled">
                            <li class="d-inline-block position-relative">
                                <i class="flaticon-clock"></i>
                                04 Hours
                            </li>
                            <li class="d-inline-block position-relative">
                                <i class="flaticon-young-man"></i>
                                23 Students
                            </li>
                            <li class="d-inline-block position-relative">
                                <i class="flaticon-open-book"></i>
                                10 Lessons
                            </li>
                        </ul>
                        <h3>
                            <a routerLink="/course-details">
                                Computer Fundamentals Basic Startup Ultricies
                            </a>
                        </h3>
                        <div class="meta d-flex align-items-center justify-content-between">
                            <a routerLink="/instructor-profile" class="user d-flex align-items-center">
                                <img src="assets/images/users/user7.jpg" width="30" height="30" class="rounded-circle" alt="user-image">
                                Percy Ibarra
                            </a>
                            <div class="price">
                                $250 <span>$300</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="course-item">
                    <a routerLink="/course-details" class="image d-block">
                        <img src="assets/images/courses/course10.jpg" alt="course-image">
                    </a>
                    <div class="content">
                        <ul class="info ps-0 list-unstyled">
                            <li class="d-inline-block position-relative">
                                <i class="flaticon-clock"></i>
                                02 Hours
                            </li>
                            <li class="d-inline-block position-relative">
                                <i class="flaticon-young-man"></i>
                                13 Students
                            </li>
                            <li class="d-inline-block position-relative">
                                <i class="flaticon-open-book"></i>
                                15 Lessons
                            </li>
                        </ul>
                        <h3>
                            <a routerLink="/course-details">
                                Lawyer Advance Mental Simulator Handle Nulla
                            </a>
                        </h3>
                        <div class="meta d-flex align-items-center justify-content-between">
                            <a routerLink="/instructor-profile" class="user d-flex align-items-center">
                                <img src="assets/images/users/user2.jpg" width="30" height="30" class="rounded-circle" alt="user-image">
                                Timmy Hanna
                            </a>
                            <div class="price">
                                $399
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="course-item">
                    <a routerLink="/course-details" class="image d-block">
                        <img src="assets/images/courses/course11.jpg" alt="course-image">
                    </a>
                    <div class="content">
                        <ul class="info ps-0 list-unstyled">
                            <li class="d-inline-block position-relative">
                                <i class="flaticon-clock"></i>
                                03 Hours
                            </li>
                            <li class="d-inline-block position-relative">
                                <i class="flaticon-young-man"></i>
                                33 Students
                            </li>
                            <li class="d-inline-block position-relative">
                                <i class="flaticon-open-book"></i>
                                21 Lessons
                            </li>
                        </ul>
                        <h3>
                            <a routerLink="/course-details">
                                Testy & Delicious Food Recipes For Lunch Tellus
                            </a>
                        </h3>
                        <div class="meta d-flex align-items-center justify-content-between">
                            <a routerLink="/instructor-profile" class="user d-flex align-items-center">
                                <img src="assets/images/users/user1.jpg" width="30" height="30" class="rounded-circle" alt="user-image">
                                Bud Holden
                            </a>
                            <div class="price">
                                $270 <span>$299</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>