<div class="courses-table">
    <div class="table-responsive">
        <table class="table align-middle">
            <thead>
                <tr>
                    <th scope="col">Course Name</th>
                    <th scope="col">Progress</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">
                        <a routerLink="/course-details">
                            Deep Learning a-z Hands on Artificial Neural Networks
                        </a>
                    </th>
                    <td>
                        <span class="d-block mb-1 progress-title">75%</span>
                        <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 75%"></div>
                        </div>
                    </td>
                    <td>
                        <a routerLink="/course-details" class="default-btn two">Get Certificate</a>
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        <a routerLink="/course-details">
                            The Data Science Courses Complete Data Science
                        </a>
                    </th>
                    <td>
                        <span class="d-block mb-1 progress-title">100%</span>
                        <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 100%"></div>
                        </div>
                    </td>
                    <td>
                        <a routerLink="/course-details" class="default-btn two">Get Certificate</a>
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        <a routerLink="/course-details">
                            Node.js for Beginners Go From Zero Hero Nede.js
                        </a>
                    </th>
                    <td>
                        <span class="d-block mb-1 progress-title">30%</span>
                        <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 30%"></div>
                        </div>
                    </td>
                    <td>
                        <a routerLink="/course-details" class="default-btn two">Get Certificate</a>
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        <a routerLink="/course-details">
                            Successful Negotiation: Master Your Negotiating
                        </a>
                    </th>
                    <td>
                        <span class="d-block mb-1 progress-title">54%</span>
                        <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="54" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 54%"></div>
                        </div>
                    </td>
                    <td>
                        <a routerLink="/course-details" class="default-btn two">Get Certificate</a>
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        <a routerLink="/course-details">
                            Java Programming Master Class for Software
                        </a>
                    </th>
                    <td>
                        <span class="d-block mb-1 progress-title">76%</span>
                        <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="76" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 76%"></div>
                        </div>
                    </td>
                    <td>
                        <a routerLink="/course-details" class="default-btn two">Get Certificate</a>
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        <a routerLink="/course-details">
                            Machine Learning A-Z™: Hands-On Python & R
                        </a>
                    </th>
                    <td>
                        <span class="d-block mb-1 progress-title">98%</span>
                        <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 98%"></div>
                        </div>
                    </td>
                    <td>
                        <a routerLink="/course-details" class="default-btn two">Get Certificate</a>
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        <a routerLink="/course-details">
                            Node.js for Beginners Go From Zero Hero Nede.js
                        </a>
                    </th>
                    <td>
                        <span class="d-block mb-1 progress-title">21%</span>
                        <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="21" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 21%"></div>
                        </div>
                    </td>
                    <td>
                        <a routerLink="/course-details" class="default-btn two">Get Certificate</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>