.instructor-profile-image {
    margin-right: 10px;
    padding: 15px 15px 25px;
    background-color: var(--whiteColor);
    box-shadow: 0px 0px 30px rgba(254, 74, 85, 0.08);

    .social-links {
        margin-top: 25px;
        
        li {
            margin: {
                left: 5px;
                right: 5px;
            };
            a {
                width: 37px;
                height: 37px;
                font-size: 18px;
                color: var(--primaryColor);
                background: var(--whiteColor);
                border: 1px solid var(--borderColor);

                i {
                    left: 0;
                    right: 0;
                    top: 50%;
                    line-height: 1;
                    position: absolute;
                    transform: translateY(-50%);
                }
                &:hover {
                    background-color: var(--primaryColor);
                    color: var(--whiteColor);
                }
            }
            &:first-child {
                margin-left: 0;
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
}
.instructor-profile-desc {
    padding-left: 5px;

    .sub-title {
        color: var(--secondaryColor);
        margin-bottom: 7px;
    }
    h3 {
        font-size: 25px;
        margin-bottom: 8px;
    }
    .designation {
        color: var(--bodyColor);
    }
    .ratings {
        margin: {
            top: 15px;
            bottom: 15px;
        }
        li {
            margin-right: 25px;
            position: relative;

            &::before {
                top: 4px;
                width: 1px;
                content: '';
                right: -12px;
                height: 15px;
                position: absolute;
                background: rgba(0, 0, 0, 0.2);
            }
            i {
                line-height: 1;
                color: #ffc107;
                margin-right: 1px;
            }
            &:last-child {
                margin-right: 0;
                color: var(--bodyColor);

                &::before {
                    display: none;
                }
            }
        }
    }
    .title {
        margin-bottom: 10px;
    }
    p {
        margin-bottom: 12px;

        &:last-child {
            margin-bottom: 0;
        }
    }
    .instructor-info {
        li {
            color: var(--bodyColor);
            margin-bottom: 12px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

@import "../../common/featured-courses/featured-courses.component.scss";

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .instructor-profile-image {
        margin-right: 0;
        padding: 15px;
    
        .social-links {
            margin-top: 15px;
            
            li {
                a {
                    width: 34px;
                    height: 34px;
                    font-size: 15px;
                }
            }
        }
    }
    .instructor-profile-desc {
        padding-left: 0;
        margin-top: 25px;
    
        h3 {
            font-size: 18px;
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .instructor-profile-image {
        margin-right: 0;
    }
    .instructor-profile-desc {
        padding-left: 0;
        margin-top: 25px;
    
        h3 {
            font-size: 22px;
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {

    .instructor-profile-image {
        margin-right: 0;
    }
    .instructor-profile-desc {
        h3 {
            font-size: 24px;
        }
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}