<!-- Page Banner -->
<div
    class="page-banner-area ptb-100"
    style="background-image: url(assets/images/shapes/page-banner-bg.jpg);"
>
    <div class="container">
        <div class="page-banner-content text-center">
            <h1>Instructor Profile</h1>
            <ul class="ps-0 mb-0 list-unstyled">
                <li class="d-inline-block position-relative"><a routerLink="/">Home</a></li>
                <li class="d-inline-block position-relative">Instructor Profile</li>
            </ul>
        </div>
    </div>
</div>

<!-- Instructor Profile -->
<div class="instructor-profile-area pt-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12">
                <div class="instructor-profile-image text-center">
                    <img src="assets/images/instructors/instructor1.jpg" alt="instructor-image">
                    <ul class="social-links ps-0 mb-0 list-unstyled">
                        <li class="d-inline-block">
                            <a href="https://www.facebook.com/" target="_blank" class="position-relative d-block rounded-circle text-center">
                                <i class="bx bxl-facebook"></i>
                            </a>
                        </li>
                        <li class="d-inline-block">
                            <a href="https://linkedin.com/" target="_blank" class="position-relative d-block rounded-circle text-center">
                                <i class="bx bxl-linkedin"></i>
                            </a>
                        </li>
                        <li class="d-inline-block">
                            <a href="https://twitter.com/" target="_blank" class="position-relative d-block rounded-circle text-center">
                                <i class="bx bxl-twitter"></i>
                            </a>
                        </li>
                        <li class="d-inline-block">
                            <a href="https://www.instagram.com/" target="_blank" class="position-relative d-block rounded-circle text-center">
                                <i class='bx bxl-instagram'></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="instructor-profile-desc">
                    <span class="sub-title d-block">Instructor</span>
                    <h3>Earle Goodman</h3>
                    <span class="designation d-block">Developer & Teacher</span>
                    <ul class="ratings ps-0 list-unstyled">
                        <li class="d-inline-block">20 Students</li>
                        <li class="d-inline-block">
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <span>5.0 (439 Reviews)</span>
                        </li>
                    </ul>
                    <span class="d-block fw-medium title">About Me</span>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. pointf using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using.</p>
                    <p>Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum.</p>
                    <span class="d-block fw-medium title">Contact Me</span>
                    <ul class="instructor-info ps-0 mb-0 list-unstyled">
                        <li>
                            <span>Address:</span> North Helenavile, FV77 8WS
                        </li>
                        <li>
                            <span>Email:</span> hello&#64;earlegoodman.com
                        </li>
                        <li>
                            <span>Phone:</span> (+0188) 7495 58599 5888
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Courses -->
<div class="courses-area pt-100 pb-75">
    <div class="container">
        <div class="section-title">
            <h2 class="mb-0">Courses by Earle Goodman</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-xl-3 col-sm-6 col-md-6">
                <div class="single-course-item position-relative">
                    <div class="image position-relative">
                        <a routerLink="/course-details" class="d-block">
                            <img src="assets/images/courses/course5.jpg" alt="course-image">
                        </a>
                        <span class="price">$19</span>
                    </div>
                    <div class="content">
                        <div class="meta justify-content-between align-items-center d-flex">
                            <a routerLink="/instructor-profile" class="user d-flex align-items-center">
                                <img src="assets/images/users/user3.jpg" width="30" height="30" class="rounded-circle" alt="user-image">
                                Sydney Phelps
                            </a>
                            <div class="rating">
                                <i class='bx bxs-star'></i>
                                (5.0)
                            </div>
                        </div>
                        <h3>
                            <a routerLink="/course-details">
                                Agile Crash Course Agile Project Management
                            </a>
                        </h3>
                        <ul class="info d-flex align-items-center justify-content-between ps-0 mb-0 list-unstyled">
                            <li>
                                <i class="flaticon-open-book"></i>
                                12 Lessons
                            </li>
                            <li>
                                <i class="flaticon-young-man"></i>
                                20 Students
                            </li>
                        </ul>
                    </div>
                    <div class="hover-box">
                        <h3>
                            <a routerLink="/course-details">
                                Agile Crash Course Agile Project Management
                            </a>
                        </h3>
                        <span class="sub-title d-block">What you'll learn</span>
                        <ul class="features-list ps-0 list-unstyled mb-0">
                            <li>
                                <i class="flaticon-tick"></i>
                                Get familiar with almosconcepts of business statistics
                            </li>
                            <li>
                                <i class="flaticon-tick"></i>
                                Master statistical tools which can be used for data analysis
                            </li>
                            <li>
                                <i class="flaticon-tick"></i>
                                Master the art of presenting data using different tools
                            </li>
                        </ul>
                        <div class="btn-box d-flex align-items-center">
                            <button type="button" class="default-btn">Add To Cart</button>
                            <button type="button" class="fav-btn"><i class="flaticon-heart"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-xl-3 col-sm-6 col-md-6">
                <div class="single-course-item position-relative">
                    <div class="image position-relative">
                        <a routerLink="/course-details" class="d-block">
                            <img src="assets/images/courses/course6.jpg" alt="course-image">
                        </a>
                        <span class="price">$29</span>
                    </div>
                    <div class="content">
                        <div class="meta justify-content-between align-items-center d-flex">
                            <a routerLink="/instructor-profile" class="user d-flex align-items-center">
                                <img src="assets/images/users/user3.jpg" width="30" height="30" class="rounded-circle" alt="user-image">
                                Sydney Phelps
                            </a>
                            <div class="rating">
                                <i class='bx bxs-star'></i>
                                (4.0)
                            </div>
                        </div>
                        <h3>
                            <a routerLink="/course-details">
                                Deep Learning a-z Hands on Artificial Neural Networks
                            </a>
                        </h3>
                        <ul class="info d-flex align-items-center justify-content-between ps-0 mb-0 list-unstyled">
                            <li>
                                <i class="flaticon-open-book"></i>
                                09 Lessons
                            </li>
                            <li>
                                <i class="flaticon-young-man"></i>
                                65 Students
                            </li>
                        </ul>
                    </div>
                    <div class="hover-box">
                        <h3>
                            <a routerLink="/course-details">
                                Deep Learning a-z Hands on Artificial Neural Networks
                            </a>
                        </h3>
                        <span class="sub-title d-block">What you'll learn</span>
                        <ul class="features-list ps-0 list-unstyled mb-0">
                            <li>
                                <i class="flaticon-tick"></i>
                                Get familiar with almosconcepts of business statistics
                            </li>
                            <li>
                                <i class="flaticon-tick"></i>
                                Master statistical tools which can be used for data analysis
                            </li>
                            <li>
                                <i class="flaticon-tick"></i>
                                Master the art of presenting data using different tools
                            </li>
                        </ul>
                        <div class="btn-box d-flex align-items-center">
                            <button type="button" class="default-btn">Add To Cart</button>
                            <button type="button" class="fav-btn"><i class="flaticon-heart"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-xl-3 col-sm-6 col-md-6">
                <div class="single-course-item position-relative">
                    <div class="image position-relative">
                        <a routerLink="/course-details" class="d-block">
                            <img src="assets/images/courses/course7.jpg" alt="course-image">
                        </a>
                        <span class="price">$39</span>
                    </div>
                    <div class="content">
                        <div class="meta justify-content-between align-items-center d-flex">
                            <a routerLink="/instructor-profile" class="user d-flex align-items-center">
                                <img src="assets/images/users/user3.jpg" width="30" height="30" class="rounded-circle" alt="user-image">
                                Sydney Phelps
                            </a>
                            <div class="rating">
                                <i class='bx bxs-star'></i>
                                (4.5)
                            </div>
                        </div>
                        <h3>
                            <a routerLink="/course-details">
                                The Data Science Courses Complete Data Science
                            </a>
                        </h3>
                        <ul class="info d-flex align-items-center justify-content-between ps-0 mb-0 list-unstyled">
                            <li>
                                <i class="flaticon-open-book"></i>
                                10 Lessons
                            </li>
                            <li>
                                <i class="flaticon-young-man"></i>
                                33 Students
                            </li>
                        </ul>
                    </div>
                    <div class="hover-box">
                        <h3>
                            <a routerLink="/course-details">
                                The Data Science Courses Complete Data Science
                            </a>
                        </h3>
                        <span class="sub-title d-block">What you'll learn</span>
                        <ul class="features-list ps-0 list-unstyled mb-0">
                            <li>
                                <i class="flaticon-tick"></i>
                                Get familiar with almosconcepts of business statistics
                            </li>
                            <li>
                                <i class="flaticon-tick"></i>
                                Master statistical tools which can be used for data analysis
                            </li>
                            <li>
                                <i class="flaticon-tick"></i>
                                Master the art of presenting data using different tools
                            </li>
                        </ul>
                        <div class="btn-box d-flex align-items-center">
                            <button type="button" class="default-btn">Add To Cart</button>
                            <button type="button" class="fav-btn"><i class="flaticon-heart"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-xl-3 col-sm-6 col-md-6">
                <div class="single-course-item position-relative">
                    <div class="image position-relative">
                        <a routerLink="/course-details" class="d-block">
                            <img src="assets/images/courses/course8.jpg" alt="course-image">
                        </a>
                        <span class="price">$49</span>
                    </div>
                    <div class="content">
                        <div class="meta justify-content-between align-items-center d-flex">
                            <a routerLink="/instructor-profile" class="user d-flex align-items-center">
                                <img src="assets/images/users/user3.jpg" width="30" height="30" class="rounded-circle" alt="user-image">
                                Sydney Phelps
                            </a>
                            <div class="rating">
                                <i class='bx bxs-star'></i>
                                (3.5)
                            </div>
                        </div>
                        <h3>
                            <a routerLink="/course-details">
                                Node.js for Beginners Go From Zero Hero Nede.js
                            </a>
                        </h3>
                        <ul class="info d-flex align-items-center justify-content-between ps-0 mb-0 list-unstyled">
                            <li>
                                <i class="flaticon-open-book"></i>
                                11 Lessons
                            </li>
                            <li>
                                <i class="flaticon-young-man"></i>
                                39 Students
                            </li>
                        </ul>
                    </div>
                    <div class="hover-box">
                        <h3>
                            <a routerLink="/course-details">
                                Node.js for Beginners Go From Zero Hero Nede.js
                            </a>
                        </h3>
                        <span class="sub-title d-block">What you'll learn</span>
                        <ul class="features-list ps-0 list-unstyled mb-0">
                            <li>
                                <i class="flaticon-tick"></i>
                                Get familiar with almosconcepts of business statistics
                            </li>
                            <li>
                                <i class="flaticon-tick"></i>
                                Master statistical tools which can be used for data analysis
                            </li>
                            <li>
                                <i class="flaticon-tick"></i>
                                Master the art of presenting data using different tools
                            </li>
                        </ul>
                        <div class="btn-box d-flex align-items-center">
                            <button type="button" class="default-btn">Add To Cart</button>
                            <button type="button" class="fav-btn"><i class="flaticon-heart"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>