<app-homethree-banner></app-homethree-banner>

<app-categories></app-categories>

<!-- <app-featured></app-featured> -->

<!-- <app-video></app-video> -->

<!-- <app-featured-boxes></app-featured-boxes> -->

<!-- <app-instructors></app-instructors> -->

<app-partner [title]="'Logiciels utilisés'"></app-partner>

<app-funfacts></app-funfacts>

<app-preview-projets></app-preview-projets>

<!-- <app-featured-courses></app-featured-courses>

<app-about></app-about>


<app-courses></app-courses>

<app-features></app-features>

<app-blog></app-blog>

<app-overview></app-overview> -->

<!-- Testimonials -->
<!-- <div class="section-title text-center">
    <h2 class="mb-0">
        Voici ce que disent nos clients
    </h2>
</div> -->
<!-- <div class="feedback-area pt-10 pb-75">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6" *ngFor="let content of feedbackBox;">
                <div class="single-feedback-box">
                    <img src="assets/images/quote.svg" class="quote" alt="quote-image">
                    <div class="user-info d-flex align-items-start">
                        <img [src]="content.userImg" width="70" class="rounded-circle" alt="user-image">
                        <div class="title">
                            <h4>{{content.userName}}</h4>
                             <span>{{content.userDesignation}}</span> 
                            <div class="rating">
                                <i class='{{item.icon}}' *ngFor="let item of content.rating"></i>
                            </div>
                        </div>
                    </div>
                    <p>{{content.description}}</p>
                </div>
            </div>
        </div>
    </div>
</div> -->

<!-- <app-partner [title]="'Organismes'"></app-partner> -->
<!-- Maps -->
<!-- <app-contact-map></app-contact-map> -->
