<!-- Page Banner -->
<div
    class="page-banner-area ptb-100"
    style="background-image: url(assets/images/shapes/page-banner-bg.jpg);"
>
    <div class="container">
        <div class="page-banner-content text-center">
            <h1>Accessbilité</h1>
            <ul class="ps-0 mb-0 list-unstyled">
                <li class="d-inline-block position-relative"><a routerLink="/">Accueil</a></li>
                <li class="d-inline-block position-relative">Accessbilité</li>
            </ul>
        </div>
    </div>
</div>

<!-- Mention légales -->
<div class="terms-conditions-area ptb-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-6">
                <div class="blog-card">
                    <h3>
                        MELANIE FAUS - Ostéopathe à Marseille
                    </h3>
                    <div class="image">
                        <a href="https://www.osteopathe-faus.fr/" class="d-block">
                            <img src="assets/images/partners/otho.png" alt="blog-image">  
                        </a>
                        <a href="https://www.osteopathe-faus.fr/" class="btn btn-primary image-button">En savoir plus</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="blog-card">
                    <h3>
                        Théâtre Massalia
                    </h3>
                    <div class="image">
                        <a href="https://www.theatremassalia.com/" class="d-block">
                            <img src="assets/images/partners/theatre-mas.png" alt="blog-image">  
                        </a>
                        <a href="https://www.theatremassalia.com/" class="btn btn-primary image-button">En savoir plus</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="blog-card">
                    <h3>
                        Ville La Garde
                    </h3>
                    <div class="image">
                        <a href="https://www.ville-lagarde.fr/" class="d-block">
                            <img src="assets/images/partners/ville.png" alt="blog-image">  
                        </a>
                        <a href="https://www.ville-lagarde.fr/" class="btn btn-primary image-button">En savoir plus</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="blog-card">
                    <h3>
                        Wing Tsun Kung Fu AIWTKF
                    </h3>
                    <div class="image">
                        <a href="http://aiwtkf.com/" class="d-block">
                            <img src="assets/images/partners/kungfu.png" alt="blog-image">  
                        </a>
                        <a href="http://aiwtkf.com/" class="btn btn-primary image-button">En savoir plus</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>