<div class="my-profile-box">
    <img src="assets/images/instructors/instructor1.jpg" alt="profile-image">
    <ul class="ps-0 mb-0 list-unstyled">
        <li>
            <span>Registration Date:</span>
            May 25, 2025 6:01 am
        </li>
        <li>
            <span>First Name:</span>
            John
        </li>
        <li>
            <span>Last Name:</span>
            Doe
        </li>
        <li>
            <span>Username:</span>
            &#64;johndoe
        </li>
        <li>
            <span>Email:</span>
            hello&#64;johndoe.com
        </li>
        <li>
            <span>Phone Number:</span>
            +1-202-555-0174
        </li>
        <li>
            <span>Skill/Occupation:</span>
            Application Developer
        </li>
        <li>
            <span>Biography:</span>
            I'm the Front-End Developer for #Toledo IT in Australia, OR. I have serious passion for UI effects, animations and creating intuitive, dynamic user experiences.
        </li>
    </ul>
</div>