.my-profile-box {
    padding: 25px;
    border-radius: 5px;
    background-color: var(--whiteColor);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    img {
        margin-bottom: 30px;
        max-width: 350px;
    }
    ul {
        li {
            line-height: 1.8;
            margin-bottom: 10px;
            color: var(--bodyColor);

            span {
                font-weight: 500;
                color: var(--blackColor);
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .my-profile-box {
        padding: 15px;
    
        img {
            margin-bottom: 15px;
            max-width: 100%;
        }
        ul {
            li {
                margin-bottom: 8px;
            }
        }
    }

}