<!-- Page Banner -->
<div
    class="page-banner-area ptb-100"
    style="background-image: url(assets/images/shapes/page-banner-bg.jpg);"
>
    <div class="container">
        <div class="page-banner-content text-center">
            <h1>Blog Grid</h1>
            <ul class="ps-0 mb-0 list-unstyled">
                <li class="d-inline-block position-relative"><a routerLink="/">Home</a></li>
                <li class="d-inline-block position-relative">Blog Grid</li>
            </ul>
        </div>
    </div>
</div>

<!-- Blog Grid -->
<div class="blog-area ptb-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="blog-card">
                    <div class="image">
                        <a routerLink="/blog-details" class="d-block">
                            <img src="assets/images/blogs/blog1.jpg" alt="blog-image">  
                        </a>
                    </div>
                    <div class="content">
                        <h3>
                            <a routerLink="/blog-details">
                                Eco-Education in Our Lives: We Can Change the Future
                            </a>
                        </h3>
                        <ul class="meta ps-0 list-unstyled">
                            <li class="d-inline-block position-relative">
                                <i class='bx bx-user'></i>
                                By <a href="/blog-grid">Les Schroeder</a>
                            </li>
                            <li class="d-inline-block position-relative">
                                <i class='bx bx-calendar'></i>
                                19 May 2024
                            </li>
                        </ul>
                        <p>There are many variations of passages of lorem ipsavbut the majority have suffered alteration in somform.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="blog-card">
                    <div class="image">
                        <a routerLink="/blog-details" class="d-block">
                            <img src="assets/images/blogs/blog2.jpg" alt="blog-image">  
                        </a>
                    </div>
                    <div class="content">
                        <h3>
                            <a routerLink="/blog-details">
                                The Link Between Vendor Certification and Growth in IT
                            </a>
                        </h3>
                        <ul class="meta ps-0 list-unstyled">
                            <li class="d-inline-block position-relative">
                                <i class='bx bx-user'></i>
                                By <a href="/blog-grid">Evan Proctor</a>
                            </li>
                            <li class="d-inline-block position-relative">
                                <i class='bx bx-calendar'></i>
                                18 May 2024
                            </li>
                        </ul>
                        <p>There are many variations of passages of lorem ipsavbut the majority have suffered alteration in somform.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="blog-card">
                    <div class="image">
                        <a routerLink="/blog-details" class="d-block">
                            <img src="assets/images/blogs/blog3.jpg" alt="blog-image">  
                        </a>
                    </div>
                    <div class="content">
                        <h3>
                            <a routerLink="/blog-details">
                                Corporate Online Learning Trends 2024 You Still Need
                            </a>
                        </h3>
                        <ul class="meta ps-0 list-unstyled">
                            <li class="d-inline-block position-relative">
                                <i class='bx bx-user'></i>
                                By <a href="/blog-grid">Stewart Burge</a>
                            </li>
                            <li class="d-inline-block position-relative">
                                <i class='bx bx-calendar'></i>
                                17 May 2024
                            </li>
                        </ul>
                        <p>There are many variations of passages of lorem ipsavbut the majority have suffered alteration in somform.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="blog-card">
                    <div class="image">
                        <a routerLink="/blog-details" class="d-block">
                            <img src="assets/images/blogs/blog4.jpg" alt="blog-image">  
                        </a>
                    </div>
                    <div class="content">
                        <h3>
                            <a routerLink="/blog-details">
                                4 Ways to Flex Your Leadership From The Classroom
                            </a>
                        </h3>
                        <ul class="meta ps-0 list-unstyled">
                            <li class="d-inline-block position-relative">
                                <i class='bx bx-user'></i>
                                By <a href="/blog-grid">Les Schroeder</a>
                            </li>
                            <li class="d-inline-block position-relative">
                                <i class='bx bx-calendar'></i>
                                16 May 2024
                            </li>
                        </ul>
                        <p>There are many variations of passages of lorem ipsavbut the majority have suffered alteration in somform.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="blog-card">
                    <div class="image">
                        <a routerLink="/blog-details" class="d-block">
                            <img src="assets/images/blogs/blog5.jpg" alt="blog-image">  
                        </a>
                    </div>
                    <div class="content">
                        <h3>
                            <a routerLink="/blog-details">
                                Preparing Your Military-Connected Child for (Another) New School
                            </a>
                        </h3>
                        <ul class="meta ps-0 list-unstyled">
                            <li class="d-inline-block position-relative">
                                <i class='bx bx-user'></i>
                                By <a href="/blog-grid">Evan Proctor</a>
                            </li>
                            <li class="d-inline-block position-relative">
                                <i class='bx bx-calendar'></i>
                                15 May 2024
                            </li>
                        </ul>
                        <p>There are many variations of passages of lorem ipsavbut the majority have suffered alteration in somform.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="blog-card">
                    <div class="image">
                        <a routerLink="/blog-details" class="d-block">
                            <img src="assets/images/blogs/blog6.jpg" alt="blog-image">  
                        </a>
                    </div>
                    <div class="content">
                        <h3>
                            <a routerLink="/blog-details">
                                Second Chances: Education and Justice Involved Students
                            </a>
                        </h3>
                        <ul class="meta ps-0 list-unstyled">
                            <li class="d-inline-block position-relative">
                                <i class='bx bx-user'></i>
                                By <a href="/blog-grid">Stewart Burge</a>
                            </li>
                            <li class="d-inline-block position-relative">
                                <i class='bx bx-calendar'></i>
                                14 May 2024
                            </li>
                        </ul>
                        <p>There are many variations of passages of lorem ipsavbut the majority have suffered alteration in somform.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="blog-card">
                    <div class="image">
                        <a routerLink="/blog-details" class="d-block">
                            <img src="assets/images/blogs/blog7.jpg" alt="blog-image">  
                        </a>
                    </div>
                    <div class="content">
                        <h3>
                            <a routerLink="/blog-details">
                                Schools Across the Nation Embrace Sustainable Practices
                            </a>
                        </h3>
                        <ul class="meta ps-0 list-unstyled">
                            <li class="d-inline-block position-relative">
                                <i class='bx bx-user'></i>
                                By <a href="/blog-grid">Les Schroeder</a>
                            </li>
                            <li class="d-inline-block position-relative">
                                <i class='bx bx-calendar'></i>
                                13 May 2024
                            </li>
                        </ul>
                        <p>There are many variations of passages of lorem ipsavbut the majority have suffered alteration in somform.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="blog-card">
                    <div class="image">
                        <a routerLink="/blog-details" class="d-block">
                            <img src="assets/images/blogs/blog8.jpg" alt="blog-image">  
                        </a>
                    </div>
                    <div class="content">
                        <h3>
                            <a routerLink="/blog-details">
                                2 Maths: How Do I Use Manipulatives to Teach Fractions?
                            </a>
                        </h3>
                        <ul class="meta ps-0 list-unstyled">
                            <li class="d-inline-block position-relative">
                                <i class='bx bx-user'></i>
                                By <a href="/blog-grid">Evan Proctor</a>
                            </li>
                            <li class="d-inline-block position-relative">
                                <i class='bx bx-calendar'></i>
                                12 May 2024
                            </li>
                        </ul>
                        <p>There are many variations of passages of lorem ipsavbut the majority have suffered alteration in somform.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="blog-card">
                    <div class="image">
                        <a routerLink="/blog-details" class="d-block">
                            <img src="assets/images/blogs/blog9.jpg" alt="blog-image">  
                        </a>
                    </div>
                    <div class="content">
                        <h3>
                            <a routerLink="/blog-details">
                                Classroom Strategies to Support Struggling Readers
                            </a>
                        </h3>
                        <ul class="meta ps-0 list-unstyled">
                            <li class="d-inline-block position-relative">
                                <i class='bx bx-user'></i>
                                By <a href="/blog-grid">Stewart Burge</a>
                            </li>
                            <li class="d-inline-block position-relative">
                                <i class='bx bx-calendar'></i>
                                11 May 2024
                            </li>
                        </ul>
                        <p>There are many variations of passages of lorem ipsavbut the majority have suffered alteration in somform.</p>
                    </div>
                </div>
            </div>
        </div>
        <nav class="pagination-area text-center">
            <ul class="pagination mb-0 list-unstyled ps-0 d-block border-0 rounded-0">
                <li class="page-item disabled"><a class="page-link" routerLink="/blog-grid">
                    <i class="flaticon-left-arrow"></i>
                </a></li>
                <li class="page-item"><a class="page-link active" routerLink="/blog-grid">1</a></li>
                <li class="page-item"><a class="page-link" routerLink="/blog-grid">2</a></li>
                <li class="page-item"><a class="page-link" routerLink="/blog-grid">3</a></li>
                <li class="page-item"><a class="page-link" routerLink="/blog-grid">4</a></li>
                <li class="page-item"><a class="page-link" routerLink="/blog-grid">
                    <i class="flaticon-next"></i>
                </a></li>
            </ul>
        </nav>
    </div>
</div>