.language-toggle {
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: 99;
    button {
      background-color: white;
      border: 1px solid #ccc;
      border-radius: 20px;
      padding: 5px 10px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      color: #333;
      outline: none;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  
      span {
        padding: 0 5px;
      }
  
      .active {
        font-weight: bold;
        color: #38cedb;
      }
    }
  }

/* Max width 767px */
@media only screen and (max-width : 767px) {}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}