.edit-profile-box {
    padding: 25px;
    border-radius: 5px;
    background-color: var(--whiteColor);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    form {
        .form-group {
            margin-bottom: 25px;

            label {
                display: block;
                font-weight: 500;
                margin-bottom: 10px;
            }
            .form-control {
                background-color: #f9f9f9;
                font-size: var(--fontSize);
                color: var(--blackColor);
                box-shadow: unset;
                border-radius: 0;
                height: 50px;
                width: 100%;
                border: 0;
                padding: {
                    left: 18px;
                    right: 18px;
                };
                &::placeholder {
                    color: var(--bodyColor);
                    transition: var(--transition);
                }
                &:focus {
                    &::placeholder {
                        color: transparent;
                    }
                }
            }
            textarea.form-control {
                height: auto !important;
                padding-top: 18px;
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .edit-profile-box {
        padding: 15px;
    
        form {
            .form-group {
                margin-bottom: 15px;
    
                .form-control {
                    font-size: 14px;
                    padding: {
                        left: 15px;
                        right: 15px;
                    };
                }
                textarea.form-control {
                    padding-top: 15px;
                }
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .edit-profile-box {
        form {
            .form-group {
                .form-control {
                    font-size: 15px;
                    padding: {
                        left: 15px;
                        right: 15px;
                    };
                }
                textarea.form-control {
                    padding-top: 15px;
                }
            }
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}