<!-- Default Courses Section -->
<div
    class="courses-area position-relative z-2 pt-100 pb-75"
    [ngClass]="{'d-none': router.url === '/index-3'}"
>
    <div class="container">
        <div class="section-title text-center">
            <span class="sub-title d-block fw-medium text-uppercase">Courses</span>
            <h2 class="mb-0">Find Your Featured Courses</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-xl-3 col-sm-6 col-md-6">
                <div class="single-course-item position-relative">
                    <div class="image position-relative">
                        <a routerLink="/course-details" class="d-block">
                            <img src="assets/images/courses/course5.jpg" alt="course-image">
                        </a>
                        <span class="price">$19</span>
                    </div>
                    <div class="content">
                        <div class="meta justify-content-between align-items-center d-flex">
                            <a routerLink="/instructor-profile" class="user d-flex align-items-center">
                                <img src="assets/images/users/user3.jpg" width="30" height="30" class="rounded-circle" alt="user-image">
                                Sydney Phelps
                            </a>
                            <div class="rating">
                                <i class='bx bxs-star'></i>
                                (5.0)
                            </div>
                        </div>
                        <h3>
                            <a routerLink="/course-details">
                                Agile Crash Course Agile Project Management
                            </a>
                        </h3>
                        <ul class="info d-flex align-items-center justify-content-between ps-0 mb-0 list-unstyled">
                            <li>
                                <i class="flaticon-open-book"></i>
                                12 Lessons
                            </li>
                            <li>
                                <i class="flaticon-young-man"></i>
                                20 Students
                            </li>
                        </ul>
                    </div>
                    <div class="hover-box">
                        <h3>
                            <a routerLink="/course-details">
                                Agile Crash Course Agile Project Management
                            </a>
                        </h3>
                        <span class="sub-title d-block">What you'll learn</span>
                        <ul class="features-list ps-0 list-unstyled mb-0">
                            <li>
                                <i class="flaticon-tick"></i>
                                Get familiar with almosconcepts of business statistics
                            </li>
                            <li>
                                <i class="flaticon-tick"></i>
                                Master statistical tools which can be used for data analysis
                            </li>
                            <li>
                                <i class="flaticon-tick"></i>
                                Master the art of presenting data using different tools
                            </li>
                        </ul>
                        <div class="btn-box d-flex align-items-center">
                            <button type="button" class="default-btn">Add To Cart</button>
                            <button type="button" class="fav-btn"><i class="flaticon-heart"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-xl-3 col-sm-6 col-md-6">
                <div class="single-course-item position-relative">
                    <div class="image position-relative">
                        <a routerLink="/course-details" class="d-block">
                            <img src="assets/images/courses/course6.jpg" alt="course-image">
                        </a>
                        <span class="price">$29</span>
                    </div>
                    <div class="content">
                        <div class="meta justify-content-between align-items-center d-flex">
                            <a routerLink="/instructor-profile" class="user d-flex align-items-center">
                                <img src="assets/images/users/user4.jpg" width="30" height="30" class="rounded-circle" alt="user-image">
                                Sergio Osborn
                            </a>
                            <div class="rating">
                                <i class='bx bxs-star'></i>
                                (4.0)
                            </div>
                        </div>
                        <h3>
                            <a routerLink="/course-details">
                                Deep Learning a-z Hands on Artificial Neural Networks
                            </a>
                        </h3>
                        <ul class="info d-flex align-items-center justify-content-between ps-0 mb-0 list-unstyled">
                            <li>
                                <i class="flaticon-open-book"></i>
                                09 Lessons
                            </li>
                            <li>
                                <i class="flaticon-young-man"></i>
                                65 Students
                            </li>
                        </ul>
                    </div>
                    <div class="hover-box">
                        <h3>
                            <a routerLink="/course-details">
                                Deep Learning a-z Hands on Artificial Neural Networks
                            </a>
                        </h3>
                        <span class="sub-title d-block">What you'll learn</span>
                        <ul class="features-list ps-0 list-unstyled mb-0">
                            <li>
                                <i class="flaticon-tick"></i>
                                Get familiar with almosconcepts of business statistics
                            </li>
                            <li>
                                <i class="flaticon-tick"></i>
                                Master statistical tools which can be used for data analysis
                            </li>
                            <li>
                                <i class="flaticon-tick"></i>
                                Master the art of presenting data using different tools
                            </li>
                        </ul>
                        <div class="btn-box d-flex align-items-center">
                            <button type="button" class="default-btn">Add To Cart</button>
                            <button type="button" class="fav-btn"><i class="flaticon-heart"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-xl-3 col-sm-6 col-md-6">
                <div class="single-course-item position-relative">
                    <div class="image position-relative">
                        <a routerLink="/course-details" class="d-block">
                            <img src="assets/images/courses/course7.jpg" alt="course-image">
                        </a>
                        <span class="price">$39</span>
                    </div>
                    <div class="content">
                        <div class="meta justify-content-between align-items-center d-flex">
                            <a routerLink="/instructor-profile" class="user d-flex align-items-center">
                                <img src="assets/images/users/user5.jpg" width="30" height="30" class="rounded-circle" alt="user-image">
                                Stewart Burgess
                            </a>
                            <div class="rating">
                                <i class='bx bxs-star'></i>
                                (4.5)
                            </div>
                        </div>
                        <h3>
                            <a routerLink="/course-details">
                                The Data Science Courses Complete Data Science
                            </a>
                        </h3>
                        <ul class="info d-flex align-items-center justify-content-between ps-0 mb-0 list-unstyled">
                            <li>
                                <i class="flaticon-open-book"></i>
                                10 Lessons
                            </li>
                            <li>
                                <i class="flaticon-young-man"></i>
                                33 Students
                            </li>
                        </ul>
                    </div>
                    <div class="hover-box">
                        <h3>
                            <a routerLink="/course-details">
                                The Data Science Courses Complete Data Science
                            </a>
                        </h3>
                        <span class="sub-title d-block">What you'll learn</span>
                        <ul class="features-list ps-0 list-unstyled mb-0">
                            <li>
                                <i class="flaticon-tick"></i>
                                Get familiar with almosconcepts of business statistics
                            </li>
                            <li>
                                <i class="flaticon-tick"></i>
                                Master statistical tools which can be used for data analysis
                            </li>
                            <li>
                                <i class="flaticon-tick"></i>
                                Master the art of presenting data using different tools
                            </li>
                        </ul>
                        <div class="btn-box d-flex align-items-center">
                            <button type="button" class="default-btn">Add To Cart</button>
                            <button type="button" class="fav-btn"><i class="flaticon-heart"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-xl-3 col-sm-6 col-md-6">
                <div class="single-course-item position-relative">
                    <div class="image position-relative">
                        <a routerLink="/course-details" class="d-block">
                            <img src="assets/images/courses/course8.jpg" alt="course-image">
                        </a>
                        <span class="price">$49</span>
                    </div>
                    <div class="content">
                        <div class="meta justify-content-between align-items-center d-flex">
                            <a routerLink="/instructor-profile" class="user d-flex align-items-center">
                                <img src="assets/images/users/user6.jpg" width="30" height="30" class="rounded-circle" alt="user-image">
                                Cornell Byrd
                            </a>
                            <div class="rating">
                                <i class='bx bxs-star'></i>
                                (3.5)
                            </div>
                        </div>
                        <h3>
                            <a routerLink="/course-details">
                                Node.js for Beginners Go From Zero Hero Nede.js
                            </a>
                        </h3>
                        <ul class="info d-flex align-items-center justify-content-between ps-0 mb-0 list-unstyled">
                            <li>
                                <i class="flaticon-open-book"></i>
                                11 Lessons
                            </li>
                            <li>
                                <i class="flaticon-young-man"></i>
                                39 Students
                            </li>
                        </ul>
                    </div>
                    <div class="hover-box">
                        <h3>
                            <a routerLink="/course-details">
                                Node.js for Beginners Go From Zero Hero Nede.js
                            </a>
                        </h3>
                        <span class="sub-title d-block">What you'll learn</span>
                        <ul class="features-list ps-0 list-unstyled mb-0">
                            <li>
                                <i class="flaticon-tick"></i>
                                Get familiar with almosconcepts of business statistics
                            </li>
                            <li>
                                <i class="flaticon-tick"></i>
                                Master statistical tools which can be used for data analysis
                            </li>
                            <li>
                                <i class="flaticon-tick"></i>
                                Master the art of presenting data using different tools
                            </li>
                        </ul>
                        <div class="btn-box d-flex align-items-center">
                            <button type="button" class="default-btn">Add To Cart</button>
                            <button type="button" class="fav-btn"><i class="flaticon-heart"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Courses Section for Home Demo - 2 -->
<div
    class="courses-area pt-100 pb-75 d-none"
    [ngClass]="{'d-block': router.url === '/index-3'}"
>
    <div class="container">
        <div class="section-title d-sm-flex justify-content-between">
            <h2 class="mb-0">Our Popular Online Courses</h2>
            <a routerLink="/courses-grid" class="default-btn two">View All Courses</a>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-xl-3 col-sm-6 col-md-6">
                <div class="course-item position-relative">
                    <a routerLink="/course-details" class="d-block image">
                        <img src="assets/images/courses/course15.jpg" alt="course-image">
                    </a>
                    <div class="content">
                        <div class="meta justify-content-between align-items-center d-flex">
                            <a routerLink="/instructor-profile" class="user d-flex align-items-center">
                                <img src="assets/images/users/user3.jpg" width="30" height="30" class="rounded-circle" alt="user-image">
                                Sydney Phelps
                            </a>
                            <span>Intermediate</span>
                        </div>
                        <h3>
                            <a routerLink="/course-details">
                                HTML, JavaScript, & Bootstrap Certification Course
                            </a>
                        </h3>
                        <div class="rating">
                            <i class='bx bxs-star'></i>
                            5.0 (239 Reviews)
                        </div>
                        <div class="info d-flex align-items-center justify-content-between ps-0 mb-0 list-unstyled">
                            <div class="price">
                                $78 <span>$99</span>
                            </div>
                            <span class="sub-title">4 Months At 5-10 Hrs/ Week</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-xl-3 col-sm-6 col-md-6">
                <div class="course-item position-relative">
                    <a routerLink="/course-details" class="d-block image">
                        <img src="assets/images/courses/course14.jpg" alt="course-image">
                    </a>
                    <div class="content">
                        <div class="meta justify-content-between align-items-center d-flex">
                            <a routerLink="/instructor-profile" class="user d-flex align-items-center">
                                <img src="assets/images/users/user2.jpg" width="30" height="30" class="rounded-circle" alt="user-image">
                                Alina Smith
                            </a>
                            <span>Intermediate</span>
                        </div>
                        <h3>
                            <a routerLink="/course-details">
                                Kids Coding - Introduction to HTML, CSS & JavaScript
                            </a>
                        </h3>
                        <div class="rating">
                            <i class='bx bxs-star'></i>
                            5.0 (239 Reviews)
                        </div>
                        <div class="info d-flex align-items-center justify-content-between ps-0 mb-0 list-unstyled">
                            <div class="price">
                                $99 <span>$119</span>
                            </div>
                            <span class="sub-title">5 Months At 1-2 Hrs/ Week</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-xl-3 col-sm-6 col-md-6">
                <div class="course-item position-relative">
                    <a routerLink="/course-details" class="d-block image">
                        <img src="assets/images/courses/course13.jpg" alt="course-image">
                    </a>
                    <div class="content">
                        <div class="meta justify-content-between align-items-center d-flex">
                            <a routerLink="/instructor-profile" class="user d-flex align-items-center">
                                <img src="assets/images/users/user1.jpg" width="30" height="30" class="rounded-circle" alt="user-image">
                                David Warner
                            </a>
                            <span>Advanced</span>
                        </div>
                        <h3>
                            <a routerLink="/course-details">
                                The Complete Camtasia Course For Content
                            </a>
                        </h3>
                        <div class="rating">
                            <i class='bx bxs-star'></i>
                            4.5 (100 Reviews)
                        </div>
                        <div class="info d-flex align-items-center justify-content-between ps-0 mb-0 list-unstyled">
                            <div class="price">
                                $54 <span>$76</span>
                            </div>
                            <span class="sub-title">5 Months At 2-4 Hrs/ Week</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-xl-3 col-sm-6 col-md-6">
                <div class="course-item position-relative">
                    <a routerLink="/course-details" class="d-block image">
                        <img src="assets/images/courses/course12.jpg" alt="course-image">
                    </a>
                    <div class="content">
                        <div class="meta justify-content-between align-items-center d-flex">
                            <a routerLink="/instructor-profile" class="user d-flex align-items-center">
                                <img src="assets/images/users/user4.jpg" width="30" height="30" class="rounded-circle" alt="user-image">
                                James Andy
                            </a>
                            <span>Beginner</span>
                        </div>
                        <h3>
                            <a routerLink="/course-details">
                                Bulding A Better World One Snudent AT A Time
                            </a>
                        </h3>
                        <div class="rating">
                            <i class='bx bxs-star'></i>
                            4.0 (201 Reviews)
                        </div>
                        <div class="info d-flex align-items-center justify-content-between ps-0 mb-0 list-unstyled">
                            <div class="price">
                                $99
                            </div>
                            <span class="sub-title">3 Months At 1-1 Hrs/ Week</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>