<!-- Page Banner -->
<div
    class="page-banner-area ptb-100"
    style="background-image: url(assets/images/shapes/page-banner-bg.webp);"
>
    <div class="overlay"></div>
    <div class="container">
        <div class="page-banner-content text-center">
            <h1 style="color: #fff;">{{ 'LICENCE2.TITLE' | translate }}</h1>
            <ul class="ps-0 mb-0 list-unstyled">
                <li class="d-inline-block position-relative"><a routerLink="/">Home</a></li>
                <li class="d-inline-block position-relative" style="color: #fff;">{{ 'LICENCE2.TITLE' | translate }}</li>
            </ul>
        </div>
    </div>
</div>

<!-- Privacy Policy -->
<div class="privacy-policy-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="privacy-policy-content">
                    <h4>{{ 'LICENCE2.SEM1' | translate }}</h4>
                    <p [innerHTML]="'LICENCE2.CONTENT1' | translate"></p>
                    <h4>{{ 'LICENCE2.SEM2' | translate }}</h4>
                    <p [innerHTML]="'LICENCE2.CONTENT2' | translate"></p>
                </div>
            </div>

            <div class="col-md-4">
                <img src="assets/images/about/work3.webp" alt="Coding" class="img-fluid">
            </div>
        </div>
        <app-featured-boxes-2></app-featured-boxes-2>
    </div>
</div>