.forgot-password-box {
    padding: 50px;
    max-width: 650px;
    border-radius: 5px;
    background-color: var(--whiteColor);
    box-shadow: rgba(149, 157, 165, 0.15) 0px 8px 24px;
    margin: {
        left: auto;
        right: auto;
    };
    label {
        display: block;
        margin-bottom: 10px;
        color: var(--blackColor);
        font: {
            size: 15px;
            weight: 500;
        };
    }
    .form-control {
        height: 52px;
        box-shadow: unset;
        border-radius: 5px;
        padding-left: 17px;
        color: var(--blackColor);
        font-size: var(--fontSize);
        border: 1px solid #f7f7f7;
        background-color: #f7f7f7;
        transition: var(--transition);

        &::placeholder {
            color: var(--bodyColor);
            transition: var(--transition);
        }
        &:focus {
            border-color: var(--primaryColor);
            background-color: transparent;

            &::placeholder {
                color: transparent;
            }
        }
    }
    .default-btn {
        margin-top: 25px;
        padding: {
            top: 13px;
            left: 40px;
            right: 40px;
            bottom: 13px;
        };
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .forgot-password-box {
        padding: 20px;
        max-width: 100%;
    
        label {
            margin-bottom: 10px;
            font-size: 14px;
        }
        .form-control {
            height: 45px;
            font-size: 14px;
            padding-left: 13px;
        }
        .default-btn {
            margin-top: 15px;
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .forgot-password-box {
        padding: 30px;
        max-width: 100%;
    
        label {
            margin-bottom: 10px;
            font-size: 14px;
        }
        .form-control {
            font-size: 15px;
        }
        .default-btn {
            margin-top: 20px;
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}