<!-- Page Banner -->
<div
    class="page-banner-area ptb-100"
    style="background-image: url(assets/images/shapes/page-banner-bg.jpg);"
>
    <div class="container">
        <div class="page-banner-content text-center">
            <h1>Forgot Password</h1>
            <ul class="ps-0 mb-0 list-unstyled">
                <li class="d-inline-block position-relative"><a routerLink="/">Home</a></li>
                <li class="d-inline-block position-relative">Forgot Password</li>
            </ul>
        </div>
    </div>
</div>

<!-- Forgot Password -->
<div class="profile-authentication-area ptb-100">
    <div class="container">
        <div class="forgot-password-box">
            <p>Lost your password? Please enter your username or email address. You will receive a link to create a new password via email.</p>
            <form>
                <label>Username or email</label>
                <input type="text" class="form-control">
                <button type="submit" class="default-btn">Reset Password</button>
            </form>
        </div>
    </div>
</div>