<!-- Page Banner -->
<div
    class="page-banner-area ptb-100"
    style="background-image: url(assets/images/shapes/page-banner-bg.jpg);"
>
    <div class="container">
        <div class="page-banner-content text-center">
            <h1>Success Stories</h1>
            <ul class="ps-0 mb-0 list-unstyled">
                <li class="d-inline-block position-relative"><a routerLink="/">Home</a></li>
                <li class="d-inline-block position-relative">Success Stories</li>
            </ul>
        </div>
    </div>
</div>

<!-- Success Stories -->
<div class="success-stories-area pt-100 pb-75">
    <div class="container">
        <div class="single-success-story-box">
            <div class="row align-items-center">
                <div class="col-lg-3 col-md-12">
                    <div class="image text-center">
                        <img src="assets/images/instructors/instructor1.jpg" alt="instructor-image">
                        <ul class="social-links ps-0 mb-0 list-unstyled">
                            <li class="d-inline-block">
                                <a href="https://www.facebook.com/" target="_blank" class="position-relative d-block rounded-circle text-center">
                                    <i class="bx bxl-facebook"></i>
                                </a>
                            </li>
                            <li class="d-inline-block">
                                <a href="https://linkedin.com/" target="_blank" class="position-relative d-block rounded-circle text-center">
                                    <i class="bx bxl-linkedin"></i>
                                </a>
                            </li>
                            <li class="d-inline-block">
                                <a href="https://twitter.com/" target="_blank" class="position-relative d-block rounded-circle text-center">
                                    <i class="bx bxl-twitter"></i>
                                </a>
                            </li>
                            <li class="d-inline-block">
                                <a href="https://www.instagram.com/" target="_blank" class="position-relative d-block rounded-circle text-center">
                                    <i class='bx bxl-instagram'></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9 col-md-12">
                    <div class="desc">
                        <h3>James White</h3>
                        <span class="designation d-block">Student</span>
                        <span class="d-block fw-medium title">My Story</span>
                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. pointf using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using.</p>
                        <p>Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-success-story-box">
            <div class="row align-items-center">
                <div class="col-lg-3 col-md-12">
                    <div class="image text-center">
                        <img src="assets/images/instructors/instructor2.jpg" alt="instructor-image">
                        <ul class="social-links ps-0 mb-0 list-unstyled">
                            <li class="d-inline-block">
                                <a href="https://www.facebook.com/" target="_blank" class="position-relative d-block rounded-circle text-center">
                                    <i class="bx bxl-facebook"></i>
                                </a>
                            </li>
                            <li class="d-inline-block">
                                <a href="https://linkedin.com/" target="_blank" class="position-relative d-block rounded-circle text-center">
                                    <i class="bx bxl-linkedin"></i>
                                </a>
                            </li>
                            <li class="d-inline-block">
                                <a href="https://twitter.com/" target="_blank" class="position-relative d-block rounded-circle text-center">
                                    <i class="bx bxl-twitter"></i>
                                </a>
                            </li>
                            <li class="d-inline-block">
                                <a href="https://www.instagram.com/" target="_blank" class="position-relative d-block rounded-circle text-center">
                                    <i class='bx bxl-instagram'></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9 col-md-12">
                    <div class="desc">
                        <h3>Johnson Lee</h3>
                        <span class="designation d-block">Student</span>
                        <span class="d-block fw-medium title">My Story</span>
                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. pointf using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using.</p>
                        <p>Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-success-story-box">
            <div class="row align-items-center">
                <div class="col-lg-3 col-md-12">
                    <div class="image text-center">
                        <img src="assets/images/instructors/instructor3.jpg" alt="instructor-image">
                        <ul class="social-links ps-0 mb-0 list-unstyled">
                            <li class="d-inline-block">
                                <a href="https://www.facebook.com/" target="_blank" class="position-relative d-block rounded-circle text-center">
                                    <i class="bx bxl-facebook"></i>
                                </a>
                            </li>
                            <li class="d-inline-block">
                                <a href="https://linkedin.com/" target="_blank" class="position-relative d-block rounded-circle text-center">
                                    <i class="bx bxl-linkedin"></i>
                                </a>
                            </li>
                            <li class="d-inline-block">
                                <a href="https://twitter.com/" target="_blank" class="position-relative d-block rounded-circle text-center">
                                    <i class="bx bxl-twitter"></i>
                                </a>
                            </li>
                            <li class="d-inline-block">
                                <a href="https://www.instagram.com/" target="_blank" class="position-relative d-block rounded-circle text-center">
                                    <i class='bx bxl-instagram'></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9 col-md-12">
                    <div class="desc">
                        <h3>Williams Smith</h3>
                        <span class="designation d-block">Student</span>
                        <span class="d-block fw-medium title">My Story</span>
                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. pointf using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using.</p>
                        <p>Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-success-story-box">
            <div class="row align-items-center">
                <div class="col-lg-3 col-md-12">
                    <div class="image text-center">
                        <img src="assets/images/instructors/instructor4.jpg" alt="instructor-image">
                        <ul class="social-links ps-0 mb-0 list-unstyled">
                            <li class="d-inline-block">
                                <a href="https://www.facebook.com/" target="_blank" class="position-relative d-block rounded-circle text-center">
                                    <i class="bx bxl-facebook"></i>
                                </a>
                            </li>
                            <li class="d-inline-block">
                                <a href="https://linkedin.com/" target="_blank" class="position-relative d-block rounded-circle text-center">
                                    <i class="bx bxl-linkedin"></i>
                                </a>
                            </li>
                            <li class="d-inline-block">
                                <a href="https://twitter.com/" target="_blank" class="position-relative d-block rounded-circle text-center">
                                    <i class="bx bxl-twitter"></i>
                                </a>
                            </li>
                            <li class="d-inline-block">
                                <a href="https://www.instagram.com/" target="_blank" class="position-relative d-block rounded-circle text-center">
                                    <i class='bx bxl-instagram'></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9 col-md-12">
                    <div class="desc">
                        <h3>David Miller</h3>
                        <span class="designation d-block">Student</span>
                        <span class="d-block fw-medium title">My Story</span>
                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. pointf using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using.</p>
                        <p>Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-success-story-box">
            <div class="row align-items-center">
                <div class="col-lg-3 col-md-12">
                    <div class="image text-center">
                        <img src="assets/images/instructors/instructor5.jpg" alt="instructor-image">
                        <ul class="social-links ps-0 mb-0 list-unstyled">
                            <li class="d-inline-block">
                                <a href="https://www.facebook.com/" target="_blank" class="position-relative d-block rounded-circle text-center">
                                    <i class="bx bxl-facebook"></i>
                                </a>
                            </li>
                            <li class="d-inline-block">
                                <a href="https://linkedin.com/" target="_blank" class="position-relative d-block rounded-circle text-center">
                                    <i class="bx bxl-linkedin"></i>
                                </a>
                            </li>
                            <li class="d-inline-block">
                                <a href="https://twitter.com/" target="_blank" class="position-relative d-block rounded-circle text-center">
                                    <i class="bx bxl-twitter"></i>
                                </a>
                            </li>
                            <li class="d-inline-block">
                                <a href="https://www.instagram.com/" target="_blank" class="position-relative d-block rounded-circle text-center">
                                    <i class='bx bxl-instagram'></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9 col-md-12">
                    <div class="desc">
                        <h3>David Warner</h3>
                        <span class="designation d-block">Student</span>
                        <span class="d-block fw-medium title">My Story</span>
                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. pointf using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using.</p>
                        <p>Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>