<!-- Page Banner -->
<div
    class="page-banner-area ptb-100"
    style="background-image: url(assets/images/shapes/page-banner-bg5.jpg);"
>
    <div class="overlay"></div>
    <div class="container">
        <div class="page-banner-content text-center">
            <h1 style="color: #ffffff;">{{ 'JAVA.PRO2' | translate }}</h1>
            <ul class="ps-0 mb-0 list-unstyled">
                <li class="d-inline-block position-relative"><a routerLink="/java-projets">{{ 'JAVA.TITLE' | translate }}</a></li>
                <li class="d-inline-block position-relative" style="color: #ffffff;">{{ 'JAVA.PRO2' | translate }}</li>
            </ul>
        </div>
    </div>
</div>

<!-- Blog Details -->
<div class="blog-details-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="blog-details-desc">
                    <div class="post-thumb" style="text-align: center;">
                        <img src="assets/images/blogs/blog2.jpg" alt="blog-details" style="height: 400px;">
                    </div>
                    <h3>{{ 'JAVA.PRO2' | translate }}</h3>
                    <div class="post-meta">
                        <ul class="ps-0 list-unstyled mb-0">
                            <li class="d-inline-block position-relative">
                                <i class='bx bx-calendar'></i>
                                2024
                            </li>
                        </ul>
                    </div>
                    <p [innerHTML]=" 'JAVA.PROJ2.P1' | translate ">
                    </p>
                    <h4>{{ 'JAVA.PROJ1.SUB1' | translate }}</h4>
                    <p [innerHTML]=" 'JAVA.PROJ2.P2' | translate ">
                    </p>
                    <h4>{{ 'JAVA.PROJ1.SUB2' | translate }}</h4>
                    <ul [innerHTML]=" 'JAVA.PROJ2.P3' | translate ">
                    </ul>
                    <h4>{{ 'JAVA.PROJ1.SUB3' | translate }}</h4>
                    <p [innerHTML]=" 'JAVA.PROJ2.P4' | translate "></p>
                    <h4>{{ 'JAVA.PROJ1.IMG' | translate }}</h4>
                    
                    <owl-carousel-o [options]="{items: 3, dots: true, nav: false, margin: 10}">
                        <ng-template carouselSlide>
                            <img src="assets/images/blogs/Screenshot-13.png" class="img-fluid rounded" alt="Image 1" (click)="openModal('assets/images/blogs/Screenshot-13.png')">
                        </ng-template>
                        <ng-template carouselSlide>
                            <img src="assets/images/blogs/Screenshot-14.png" class="img-fluid rounded" alt="Image 2" (click)="openModal('assets/images/blogs/Screenshot-14.png')">
                        </ng-template>
                        <ng-template carouselSlide>
                            <img src="assets/images/blogs/Screenshot-15.png" class="img-fluid rounded" alt="Image 3" (click)="openModal('assets/images/blogs/Screenshot-15.png')">
                        </ng-template>
                        <ng-template carouselSlide>
                            <img src="assets/images/blogs/Screenshot-16.png" class="img-fluid rounded" alt="Image 4" (click)="openModal('assets/images/blogs/Screenshot-16.png')">
                        </ng-template>
                        <ng-template carouselSlide>
                            <img src="assets/images/blogs/Screenshot-17.png" class="img-fluid rounded" alt="Image 5" (click)="openModal('assets/images/blogs/Screenshot-17.png')">
                        </ng-template>
                        <ng-template carouselSlide>
                            <img src="assets/images/blogs/Screenshot-18.png" class="img-fluid rounded" alt="Image 6" (click)="openModal('assets/images/blogs/Screenshot-18.png')">
                        </ng-template>
                    </owl-carousel-o>

                    <div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="imageModalLabel">Image</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <img id="modalImage" src="" class="img-fluid" alt="Modal Image">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="post-footer d-flex align-items-center flex-wrap">
                        <div class="article-share text-md-end">
                            <ul class="social ps-0 mb-0 mt-0 list-unstyled">
                                <li class="d-inline-block mb-0"><span class="fw-medium position-relative d-inline-block">Source code:</span></li>
                                <li class="d-inline-block mb-0"><a href="https://github.com/zung31/Project-Student-Controller" class="github d-block rounded-circle text-center" target="_blank">
                                    <i class='bx bxl-github'></i>
                                </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>