<div class="courses-table">
    <div class="table-responsive">
        <table class="table align-middle">
            <thead>
                <tr>
                    <th scope="col">Course Name</th>
                    <th scope="col">Rating</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">
                        <a routerLink="/course-details">
                            Deep Learning a-z Hands on Artificial Neural Networks
                        </a>
                    </th>
                    <td>
                        <div class="rating">
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            (9 reviews)
                        </div>
                    </td>
                    <td class="action">
                        <button type="button" class="default-btn"><i class='bx bx-edit-alt'></i></button>
                        <button type="button" class="default-btn two ms-2"><i class='bx bx-trash'></i></button>
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        <a routerLink="/course-details">
                            The Data Science Courses Complete Data Science
                        </a>
                    </th>
                    <td>
                        <div class="rating">
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bx-star'></i>
                            (11 reviews)
                        </div>
                    </td>
                    <td class="action">
                        <button type="button" class="default-btn"><i class='bx bx-edit-alt'></i></button>
                        <button type="button" class="default-btn two ms-2"><i class='bx bx-trash'></i></button>
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        <a routerLink="/course-details">
                            Node.js for Beginners Go From Zero Hero Nede.js
                        </a>
                    </th>
                    <td>
                        <div class="rating">
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star-half'></i>
                            (2 reviews)
                        </div>
                    </td>
                    <td class="action">
                        <button type="button" class="default-btn"><i class='bx bx-edit-alt'></i></button>
                        <button type="button" class="default-btn two ms-2"><i class='bx bx-trash'></i></button>
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        <a routerLink="/course-details">
                            Successful Negotiation: Master Your Negotiating
                        </a>
                    </th>
                    <td>
                        <div class="rating">
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bx-star'></i>
                            <i class='bx bx-star'></i>
                            (10 reviews)
                        </div>
                    </td>
                    <td class="action">
                        <button type="button" class="default-btn"><i class='bx bx-edit-alt'></i></button>
                        <button type="button" class="default-btn two ms-2"><i class='bx bx-trash'></i></button>
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        <a routerLink="/course-details">
                            Java Programming Master Class for Software
                        </a>
                    </th>
                    <td>
                        <div class="rating">
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            (21 reviews)
                        </div>
                    </td>
                    <td class="action">
                        <button type="button" class="default-btn"><i class='bx bx-edit-alt'></i></button>
                        <button type="button" class="default-btn two ms-2"><i class='bx bx-trash'></i></button>
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        <a routerLink="/course-details">
                            Machine Learning A-Z™: Hands-On Python & R
                        </a>
                    </th>
                    <td>
                        <div class="rating">
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bx-star'></i>
                            (22 reviews)
                        </div>
                    </td>
                    <td class="action">
                        <button type="button" class="default-btn"><i class='bx bx-edit-alt'></i></button>
                        <button type="button" class="default-btn two ms-2"><i class='bx bx-trash'></i></button>
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        <a routerLink="/course-details">
                            Node.js for Beginners Go From Zero Hero Nede.js
                        </a>
                    </th>
                    <td>
                        <div class="rating">
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            (42 reviews)
                        </div>
                    </td>
                    <td class="action">
                        <button type="button" class="default-btn"><i class='bx bx-edit-alt'></i></button>
                        <button type="button" class="default-btn two ms-2"><i class='bx bx-trash'></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>