<div class="banner-area position-relative z-1">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="banner-content">
                    <span class="sub-title">Start To New Journey</span>
                    <h1>Let's Learn New Courses And Gain More Skills</h1>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words.</p>
                    <form class="search-box">
                        <input type="text" class="form-control" placeholder="Search your courses...">
                        <button type="submit" class="default-btn">
                            <i class="flaticon-search"></i>
                            Search Now 
                        </button>
                    </form>
                    <ul class="features-list ps-0 mb-0 list-unstyled">
                        <li>
                            <i class="flaticon-tick"></i>
                            Free For Physically Handcraft
                        </li>
                        <li>
                            <i class="flaticon-tick"></i>
                            Course Certificate
                        </li>
                        <li>
                            <i class="flaticon-tick"></i>
                            Easy To Enroll Courses
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="banner-image position-relative z-1">
                    <div class="row align-items-center">
                        <div class="col-6">
                            <div class="box">
                                <div class="icon">
                                    <i class="flaticon-check-mark"></i>
                                </div>
                                1000+ Courses Available
                            </div>
                            <div class="image">
                                <img src="assets/images/banner/banner1.jpg" alt="banner-image">
                            </div>
                            <div class="box">
                                <div class="icon">
                                    <i class="flaticon-teacher"></i>
                                </div>
                                12.5K+ Companies Around The World
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="image">
                                <img src="assets/images/banner/banner2.jpg" alt="banner-image">
                            </div>
                            <div class="image">
                                <img src="assets/images/banner/banner3.jpg" alt="banner-image">
                            </div>
                        </div>
                    </div>
                    <img src="assets/images/shapes/shape4.png" class="shape1" alt="shape-image">
                    <img src="assets/images/shapes/shape4.png" class="shape2" alt="shape-image">
                </div>
            </div>
        </div>
    </div>
    <div class="banner-shape1">
        <img src="assets/images/shapes/shape2.png" alt="shape-image">
    </div>
    <div class="banner-shape2">
        <img src="assets/images/shapes/shape3.png" alt="shape-image">
    </div>
</div>