<div
    class="hero-area position-relative z-1"
    style="background-image: url(assets/images/banner/banner-bg2.webp);"
>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="hero-image">
                    <div class="row align-items-center">
                        <div class="col-6">
                            <div class="image">
                                <img src="assets/images/banner/banner-final-1.webp" alt="banner-image" width="400" height="700" loading="lazy">
                            </div>
                            <div class="image">
                                <img src="assets/images/banner/banner-final-2.webp" alt="banner-image" width="400" height="600" loading="lazy">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="image">
                                <img src="assets/images/banner/banner-final-3.webp" alt="banner-image" width="400" height="1000" loading="lazy">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="hero-content">
                    <span class="sub-title">{{ 'HOMETHREE_BANNER.SUB_TITLE' | translate }}</span>
                    <h1 style="color: var(--whiteColor);">{{ 'HOMETHREE_BANNER.TITLE' | translate }}</h1>
                    <div class="btn-box" style="display: flex;">
                        <a routerLink="assets/public/CV_DangHoang.pdf" target="_blank" class="default-btn">{{ 'HOMETHREE_BANNER.CV_BUTTON' | translate }}</a>
                        <a routerLink="/competences" class="default-btn">{{ 'HOMETHREE_BANNER.SKILLS_BUTTON' | translate }}</a>
                    </div>
                    <br>
                    <p style="color: var(--whiteColor); text-align: justify;">
                        {{ 'HOMETHREE_BANNER.DESCRIPTION' | translate }}    
                    </p>
                </div>
            </div>
        </div>
    </div>
    <img src="assets/images/banner/banner-shape.webp" class="shape" alt="banner-shape" loading="lazy">
</div>