<div
    class="hero-area position-relative z-1"
    style="background-image: url(assets/images/banner/banner-bg2.png);"
>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="hero-image">
                    <div class="row align-items-center">
                        <div class="col-6">
                            <div class="image">
                                <img src="assets/images/banner/banner-final-1.webp" alt="banner-image">
                            </div>
                            <div class="image">
                                <img src="assets/images/banner/banner-final-2.webp" alt="banner-image">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="image">
                                <img src="assets/images/banner/banner-final-3.webp" alt="banner-image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="hero-content">
                    <span class="sub-title">Hoang Portfolio</span>
                    <h1 style="color: var(--whiteColor);">Bienvenue à mon Portfolio</h1>
                    <div class="btn-box" style="display: flex;">
                        <a routerLink="assets/public/CV_DangHoang.pdf" target="_blank" class="default-btn">Mon CV</a>
                        <a routerLink="/competences" class="default-btn">Mes compétences</a>
                    </div>
                    <br>
                    <p style="color: var(--whiteColor);">
                        Bonjour (ou bonsoir), je m'appelle Dang Hoang, étudiant de licence Informatique. Je suis un jeune programmeur ambitieux. Si mes compétences ou mes projets vous intéressent, vous pouvez me laisser un message ;)
                    </p>
                </div>
            </div>
        </div>
    </div>
    <img src="assets/images/banner/banner-shape.webp" class="shape" alt="banner-shape">
</div>