<!-- <div
    class="top-header-area"
    [ngClass]="{'d-none': router.url === '/' || router.url === '/index-3'}"
>
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <ul class="top-header-left-side ps-0 mb-0 list-unstyled">
                    <li class="d-inline-block position-relative">
                        <i class='bx bx-phone-call'></i>
                        Phone: <a href="tel:+028398384465">+02839 8384 465</a>
                    </li>
                    <li class="d-inline-block position-relative">
                        <i class='bx bx-envelope'></i>
                        Email: <a href="mailto:hello&#64;toledo.com">hello&#64;toledo.com</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="top-header-right-side">
                    <p>First 20 students get 50% discount. <span class="style">Hurry up!</span></p>
                    <ul class="social-links ps-0 mb-0 list-unstyled">
                        <li class="d-inline-block">
                            <a href="https://www.facebook.com/" target="_blank" class="d-block">
                                <i class="bx bxl-facebook"></i>
                            </a>
                        </li>
                        <li class="d-inline-block">
                            <a href="https://linkedin.com/" target="_blank" class="d-block">
                                <i class="bx bxl-linkedin"></i>
                            </a>
                        </li>
                        <li class="d-inline-block">
                            <a href="https://twitter.com/" target="_blank" class="d-block">
                                <i class="bx bxl-twitter"></i>
                            </a>
                        </li>
                        <li class="d-inline-block">
                            <a href="https://www.instagram.com/" target="_blank" class="d-block">
                                <i class='bx bxl-instagram'></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div> -->