.top-header-area {
    background-color: var(--blackColor);
    padding: {
        top: 14px;
        bottom: 14px;
    };
    .container-fluid {
        padding: {
            left: 30px;
            right: 30px;
        };
    }
}
.top-header-left-side {
    li {
        color: #dddddd;
        margin-right: 25px;
        padding-left: 30px;

        i {
            left: 0;
            top: 50%;
            line-height: 1;
            font-size: 22px;
            margin-top: -1px;
            position: absolute;
            color: var(--primaryColor);
            transform: translateY(-50%);
        }
        a {
            color: var(--whiteColor);

            &:hover {
                color: var(--primaryColor);
            }
        }
        &::before {
            top: 1.6px;
            width: 1px;
            content: '';
            right: -13px;
            height: 18px;
            position: absolute;
            background-color: rgba(255, 255, 255, 0.2);
        }
        &:last-child {
            margin-right: 0;

            &::before {
                display: none;
            }
        }
    }
}
.top-header-right-side {
    display: flex;
    align-items: center;
    justify-content: end;

    p {
        color: var(--whiteColor);
        line-height: initial;
        margin-bottom: 0;

        span {
            color: var(--primaryColor);
        }
    }
    .social-links {
        position: relative;
        margin-left: 30px;
        top: 2px;

        li {
            margin-right: 20px;
            position: relative;

            a {
                color: var(--whiteColor);
                line-height: 1;

                &:hover {
                    color: var(--primaryColor);
                }
            }
            &::before {
                top: 0;
                width: 1px;
                right: -8px;
                content: '';
                height: 16px;
                position: absolute;
                background-color: rgba(255, 255, 255, 0.2);
            }
            &:last-child {
                margin-right: 0;

                &::before {
                    display: none;
                }
            }
        }
    }
}
.d-none {
    &.d-block {
        display: block !important;
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .top-header-area {
        text-align: center;
        padding: {
            top: 12px;
            bottom: 12px;
        };
        .container-fluid {
            padding: {
                left: calc(var(--bs-gutter-x) * 0.5);
                right: calc(var(--bs-gutter-x) * 0.5);
            };
        }
    }
    .top-header-left-side {
        li {
            padding-left: 28px;
            margin: {
                left: 12px;
                right: 12px;
                bottom: 10px;
            };
            i {
                font-size: 20px;
                margin-top: -.5px;
            }
            &:first-child {
                margin-left: 0;
            }
        }
    }
    .top-header-right-side {
        display: block;
    
        p {
            margin-bottom: 10px;
        }
        .social-links {
            margin-left: 0;
            top: 0;
    
            li {
                margin: {
                    left: 10px;
                    right: 10px;
                };
                &::before {
                    top: -1px;
                }
                &:first-child {
                    margin-left: 0;
                }
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {

    .top-header-area {
        .container-fluid {
            max-width: 540px;
        }
    }

}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .top-header-area {
        text-align: center;

        .container-fluid {
            max-width: 720px;
            padding: {
                left: calc(var(--bs-gutter-x) * 0.5);
                right: calc(var(--bs-gutter-x) * 0.5);
            };
        }
    }
    .top-header-left-side {
        li {
            padding-left: 28px;
            margin: {
                left: 13px;
                right: 13px;
            };
            i {
                font-size: 20px;
                margin-top: 0;
            }
            &:first-child {
                margin-left: 0;
            }
        }
    }
    .top-header-right-side {
        justify-content: center;
        margin-top: 8px;
    
        .social-links {
            margin-left: 20px;
            top: 1px;
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {

    .top-header-area {
        .container-fluid {
            max-width: 960px;
            padding: {
                left: calc(var(--bs-gutter-x) * 0.5);
                right: calc(var(--bs-gutter-x) * 0.5);
            };
        }
    }
    .top-header-left-side {
        li {
            margin-right: 20px;
            padding-left: 26px;
    
            i {
                font-size: 20px;
                margin-top: 0;
            }
            &::before {
                right: -10px;
            }
        }
    }
    .top-header-right-side {
        .social-links {
            margin-left: 15px;
    
            li {
                margin-right: 15px;
    
                &::before {
                    right: -6px;
                }
            }
        }
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {

    .top-header-area {
        .container-fluid {
            max-width: 1920px;
            padding: {
                left: 110px;
                right: 110px;
            };
        }
    }

}