<!--Footer>--> 
<div class="footer-area position-relative pt-100 pb-75">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-xl-6 col-sm-6 col-md-6">
                <div class="footer-widget">
                    <h3>Infos</h3>
                    <ul class="footer-contact-info ps-0 mb-0 list-unstyled">
                        <li class="position-relative">
                            <div class="icon text-center rounded-circle">
                                <i class='bx bx-user'></i>
                            </div>
                            <a >
                                20 ans
                            </a>
                        </li>
                        <li class="position-relative">
                            <div class="icon text-center rounded-circle">
                                <i class='bx bx-briefcase'></i>
                            </div>
                            <a href="https://www.uphf.fr/">
                                UPHF
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-xl-4 col-sm-6 col-md-6">
                <div class="footer-widget">
                    <h3>Contact</h3>
                    <ul class="footer-contact-info ps-0 mb-0 list-unstyled">
                        <li class="position-relative">
                            <div class="icon text-center rounded-circle">
                                <i class='bx bx-phone-call'></i>
                            </div>
                            <a href="tel:0622620180">
                                06 22 62 01 80
                            </a>
                        </li>
                        <li class="position-relative">
                            <div class="icon text-center rounded-circle">
                                <i class='bx bxl-linkedin'></i>
                            </div>
                            <a href="https://www.linkedin.com/in/hoang-dung-dang-a50236145/">
                                Hoang Dung Dang
                            </a>
                        </li>
                        <li class="position-relative">
                            <div class="icon text-center rounded-circle">
                                <i class='bx bx-envelope'></i>
                            </div>
                            <a href="mailto:danghoangdung2004&#64;gmail.com">danghoangdung2004&#64;gmail.com</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <img src="assets/images/shapes/footer.gif" class="footer-shape1" alt="footer-shape1">
    <img src="assets/images/shapes/footer-shape.png" class="footer-shape2" alt="footer-shape2">
</div>
<div class="copyright-area text-center">
    <div class="container">
        Code Source © <a href="https://github.com/zung31/Portfolio.git" target="_blank">Front End</a> et <a href="https://github.com/zung31/Portfolio_backend.git" target="_blank">Back End</a>
    </div>
</div> 