<!--Footer>--> 
<div class="footer-area position-relative pt-100 pb-75">
    <div class="container">
        <div class="row">
            <!-- <div class="col-lg-6 col-xl-6 col-sm-6 col-md-6">
                <div class="footer-widget">
                    <a routerLink="/" class="logo d-inline-block">
                        <img src="assets/images/logo.png" alt="logo" style="width: 150px;">
                    </a> 
                    <h3>S'inscrire à notre newsletter</h3>
                    <p>Obtenez des mises à jour sur les produits, des nouvelles de l'entreprise et bien plus encore.</p> 
                    <ul class="social-links ps-0 mb-0 list-unstyled">
                        <li class="d-inline-block">
                            <a href="https://www.facebook.com/" target="_blank" class="position-relative d-block rounded-circle text-center">
                                <i class="bx bxl-facebook"></i>
                            </a>
                        </li>
                        <li class="d-inline-block">
                            <a href="https://linkedin.com/" target="_blank" class="position-relative d-block rounded-circle text-center">
                                <i class="bx bxl-linkedin"></i>
                            </a>
                        </li>
                        <li class="d-inline-block">
                            <a href="https://twitter.com/" target="_blank" class="position-relative d-block rounded-circle text-center">
                                <i class="bx bxl-twitter"></i>
                            </a>
                        </li>
                        <li class="d-inline-block">
                            <a href="https://www.instagram.com/" target="_blank" class="position-relative d-block rounded-circle text-center">
                                <i class='bx bxl-instagram'></i>
                            </a>
                        </li>
                    </ul> 
                    <button class="btn btn-primary mt-3">S'inscrire</button> 
                </div>
            </div> -->
            
            <div class="col-lg-6 col-xl-6 col-sm-6 col-md-6">
                <div class="footer-widget">
                    <h3>Infos</h3>
                    <ul class="footer-contact-info ps-0 mb-0 list-unstyled">
                        <li class="position-relative">
                            <div class="icon text-center rounded-circle">
                                <i class='bx bx-user'></i>
                            </div>
                            <a >
                                20 ans
                            </a>
                        </li>
                        <li class="position-relative">
                            <div class="icon text-center rounded-circle">
                                <i class='bx bx-briefcase'></i>
                            </div>
                            <a href="https://www.uphf.fr/">
                                UPHF
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-xl-4 col-sm-6 col-md-6">
                <div class="footer-widget">
                    <h3>Contact</h3>
                    <ul class="footer-contact-info ps-0 mb-0 list-unstyled">
                        <li class="position-relative">
                            <div class="icon text-center rounded-circle">
                                <i class='bx bx-phone-call'></i>
                            </div>
                            <a href="tel:0622620180">
                                06 22 62 01 80
                            </a>
                        </li>
                        <li class="position-relative">
                            <div class="icon text-center rounded-circle">
                                <i class='bx bxl-linkedin'></i>
                            </div>
                            <a href="https://www.linkedin.com/in/hoang-dung-dang-a50236145/">
                                Hoang Dung Dang
                            </a>
                        </li>
                        <li class="position-relative">
                            <div class="icon text-center rounded-circle">
                                <i class='bx bx-envelope'></i>
                            </div>
                            <a href="mailto:hoangdung.dang&#64;uphf.fr">hoangdung.dang&#64;uphf.fr</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <img src="assets/images/shapes/footer.gif" class="footer-shape1" alt="footer-shape1">
    <img src="assets/images/shapes/footer-shape.png" class="footer-shape2" alt="footer-shape2">
</div>