<!-- Page Banner -->
<div
    class="page-banner-area ptb-100"
    style="background-image: url(assets/images/shapes/page-banner-bg7.webp);"
>
    <div class="overlay"></div>
    <div class="container">
        <div class="page-banner-content text-center">
            <h1 style="color: #ffffff;">{{ 'WEB.TITLE' | translate }}</h1>
            <ul class="ps-0 mb-0 list-unstyled">
                <li class="d-inline-block position-relative"><a routerLink="/">Home</a></li>
                <li class="d-inline-block position-relative" style="color: #ffffff;">{{ 'WEB.TITLE' | translate }}</li>
            </ul>
        </div>
    </div>
</div>

<div class="blog-details-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="blog-details-desc">
                    <h3>{{ 'WEB.PRO1' | translate }}</h3>
                    <div class="post-meta">
                        <ul class="ps-0 list-unstyled mb-0">
                            <li class="d-inline-block position-relative">
                                <i class='bx bx-calendar'></i>
                                2023
                            </li>
                        </ul>
                    </div>
                    <p [innerHTML]=" 'WEB.CONTENT1' | translate">
                    </p>
                    <h4>{{ 'WEB.P1' | translate }}</h4>
                    <p>{{ 'WEB.P2' | translate }}</p>
                    <h4>{{ 'WEB.IMG' | translate }}</h4>
                    
                    <owl-carousel-o [options]="{items: 3, dots: true, nav: false, margin: 10}">
                        <ng-template carouselSlide>
                            <div class="image-container">
                                <img src="assets/images/blogs/Screenshot-35.png" class="img-fluid rounded" alt="Image 3" (click)="openModal('assets/images/blogs/Screenshot-35.png')">
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="image-container">
                                <img src="assets/images/blogs/Screenshot-36.png" class="img-fluid rounded" alt="Image 4" (click)="openModal('assets/images/blogs/Screenshot-36.png')">
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="image-container">
                                <img src="assets/images/blogs/Screenshot-37.png" class="img-fluid rounded" alt="Image 4" (click)="openModal('assets/images/blogs/Screenshot-37.png')">
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="image-container">
                                <img src="assets/images/blogs/Screenshot-38.png" class="img-fluid rounded" alt="Image 4" (click)="openModal('assets/images/blogs/Screenshot-38.png')">
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="image-container">
                                <img src="assets/images/blogs/Screenshot-33.png" class="img-fluid rounded" alt="Image 1" (click)="openModal('assets/images/blogs/Screenshot-33.png')">
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="image-container">
                                <img src="assets/images/blogs/Screenshot-34.png" class="img-fluid rounded" alt="Image 2" (click)="openModal('assets/images/blogs/Screenshot-34.png')">
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="image-container">
                                <img src="assets/images/blogs/Screenshot-39.png" class="img-fluid rounded" alt="Image 4" (click)="openModal('assets/images/blogs/Screenshot-39.png')">
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="image-container">
                                <img src="assets/images/blogs/Screenshot-40.png" class="img-fluid rounded" alt="Image 4" (click)="openModal('assets/images/blogs/Screenshot-40.png')">
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="image-container">
                                <img src="assets/images/blogs/Screenshot-41.png" class="img-fluid rounded" alt="Image 4" (click)="openModal('assets/images/blogs/Screenshot-41.png')">
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="image-container">
                                <img src="assets/images/blogs/Screenshot-42.png" class="img-fluid rounded" alt="Image 4" (click)="openModal('assets/images/blogs/Screenshot-42.png')">
                            </div>
                        </ng-template>
                    </owl-carousel-o>

                    <div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="imageModalLabel">Image</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <img id="modalImage" src="" class="img-fluid" alt="Modal Image">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="post-footer d-flex align-items-center flex-wrap">
                        <div class="article-share text-md-end">
                            <ul class="social ps-0 mb-0 mt-0 list-unstyled">
                                <li class="d-inline-block mb-0"><span class="fw-medium position-relative d-inline-block">Source code:</span></li>
                                <li class="d-inline-block mb-0"><a href="https://docs.google.com/document/d/1eQicPCUwckNPiojrPqT5pdFANUFanW8iwEzs7IHtbo8/edit?usp=sharing" class="google-docs d-block rounded-circle text-center" target="_blank">
                                    <i class="fas fa-file-alt"></i>
                                </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container" style="margin-top: 100px;">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="blog-details-desc">
                    <h3>{{ 'WEB.PRO2' | translate }}</h3>
                    <div class="post-meta">
                        <ul class="ps-0 list-unstyled mb-0">
                            <li class="d-inline-block position-relative">
                                <i class='bx bx-calendar'></i>
                                2024
                            </li>
                        </ul>
                    </div>
                    <p [innerHTML]=" 'WEB.CONTENT2' | translate"></p>
                    <h4>{{ 'WEB.P1' | translate }}</h4>
                    <p>{{ 'WEB.P3' | translate }}</p>
                    <h4>{{ 'WEB.IMG' | translate }}</h4>
                    
                    <owl-carousel-o [options]="{items: 3, dots: true, nav: false, margin: 10}">
                        <ng-template carouselSlide>
                            <div class="image-container">
                                <img src="assets/images/blogs/Screenshot-83.png" class="img-fluid rounded" alt="Image 1" (click)="openModal('assets/images/blogs/Screenshot-33.png')">
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="image-container">
                                <img src="assets/images/blogs/Screenshot-84.png" class="img-fluid rounded" alt="Image 2" (click)="openModal('assets/images/blogs/Screenshot-34.png')">
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="image-container">
                                <img src="assets/images/blogs/Screenshot-85.png" class="img-fluid rounded" alt="Image 3" (click)="openModal('assets/images/blogs/Screenshot-35.png')">
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="image-container">
                                <img src="assets/images/blogs/Screenshot-86.png" class="img-fluid rounded" alt="Image 4" (click)="openModal('assets/images/blogs/Screenshot-36.png')">
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="image-container">
                                <img src="assets/images/blogs/Screenshot-87.png" class="img-fluid rounded" alt="Image 4" (click)="openModal('assets/images/blogs/Screenshot-37.png')">
                            </div>
                        </ng-template>
                    </owl-carousel-o>

                    <div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="imageModalLabel">Image</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <img id="modalImage" src="" class="img-fluid" alt="Modal Image">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="post-footer d-flex align-items-center flex-wrap">
                        <div class="article-share text-md-end">
                            <ul class="social ps-0 mb-0 mt-0 list-unstyled">
                                <li class="d-inline-block mb-0"><span class="fw-medium position-relative d-inline-block">Source code:</span></li>
                                <li class="d-inline-block mb-0"><a href="https://docs.google.com/document/d/18Sv-9XIy5mZBXxXpgBglYnL5sGVPuv39Dp12xracDyo/edit?usp=sharing" class="google-docs d-block rounded-circle text-center" target="_blank">
                                    <i class="fas fa-file-alt"></i>
                                </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>