<!-- Page Banner -->
<div
    class="page-banner-area ptb-100"
    style="background-image: url(assets/images/shapes/page-banner-bg.jpg);"
>
    <div class="container">
        <div class="page-banner-content text-center">
            <h1>Qui sommes-nous?</h1>
            <ul class="ps-0 mb-0 list-unstyled">
                <li class="d-inline-block position-relative"><a routerLink="/">Accueil</a></li>
                <li class="d-inline-block position-relative">Qui sommes-nous?</li>
            </ul>
        </div>
    </div>
</div>

<!-- Qui Sommes Nous -->
<div class="qui-sommes-nous-area ptb-100">
    <div class="container">
        <div class="qui-sommes-nous-content">
            <p><strong>L'association Langue des Signes Française Méditerranéenne (LSF MED):</strong></p>
            <p>Depuis plus de 40 ans, l'association LSF MED éclaire le chemin vers un monde plus inclusif pour les personnes sourdes et malentendantes. Née en 1981 par un enseignant entendant, Jean-Noël Dreillard, LSF MED s'est imposée comme un phare dans la nuit, guidant les sourds et malentendants vers une société plus juste et plus respectueuse de la différence.
            </p>
            <p>L'association propose des formations en LSF à un large public:</p>
            <p>
                <strong>.</strong> Familles d'enfants sourds<br>
                <strong>.</strong> Professionnels (éducateurs, enseignants, orthophonistes, médecins, psychologues...)<br>
                <strong>.</strong> Personnes entendantes désireuses d'apprendre la LSF<br>
            </p>
            <p>Nos missions:</p>
            <p>
                <strong>.</strong> Favoriser la connaissance et l'utilisation de la LSF<br>
                <strong>.</strong> Promouvoir la culture sourde<br>
                <strong>.</strong> Lutter contre les discriminations dont sont victimes les personnes sourdes et malentendantes<br>
                <strong>.</strong> Soutenir l'inclusion des personnes sourdes dans la société
            </p>
            <p>
                LSF MED, c'est plus qu'une association, c'est une famille, un mouvement, une voix qui résonne avec force pour défendre les droits et la dignité des personnes sourdes et malentendantes.
Si vous souhaitez plonger dans un monde vibrant de signes et de sens, si vous voulez contribuer à une société plus inclusive et respectueuse de la différence, rejoignez LSF MED.
            </p>
            <p><strong>LSF MED : pour une société inclusive où la différence est une richesse !</strong></p>
            <div class="image-container">
                <img src="../../../../assets/images/about/img_542-4014793_20210926095829.jpg" alt="">
                <a href="../../../../assets/public/Dossier de presse.pdf" target="_blank" class="btn">En savoir plus sur notre dossier de presse</a>
            </div>
        </div>
    </div>
</div>