<!-- Page Banner -->
<div
    class="page-banner-area ptb-100"
    style="background-image: url(assets/images/shapes/page-banner-bg14.jpg);"
>
    <div class="overlay"></div>
    <div class="container">
        <div class="page-banner-content text-center">
            <h1 style="color: #fff;">Contact Us</h1>
            <ul class="ps-0 mb-0 list-unstyled">
                <li class="d-inline-block position-relative"><a routerLink="/">Home</a></li>
                <li class="d-inline-block position-relative" style="color: #fff;">Contact Us</li>
            </ul>
        </div>
    </div>
</div>

<!-- Contact Us -->
<div class="contact-area pt-100 pb-75">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xxl-4 col-lg-5">
                <div class="image-container">
                    <img src="assets/images/shapes/shape5.gif" alt="image">
                </div>
            </div>
            <div class="col-xxl-8 col-lg-7">
                <div class="contact-form">
                    <h3>Si vous voulez me laisser un message</h3>
                    <form method="POST" [formGroup]="contactForm" (ngSubmit)="onSaveUser()">
                        <div class="row">
                            <div class="col-lg-12 col-sm-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="fName" placeholder="Nom *" required="" formControlName="firstName">
                                    <div *ngIf="contactForm.get('firstName')?.touched && contactForm.get('firstName')?.invalid" class="text text-danger">
                                        <div *ngIf="contactForm.get('firstName')?.errors?.['required'] || contactForm.get('firstName')?.errors?.['blank']">Nom obligatoire.</div>
                                        <div *ngIf="contactForm.get('firstName')?.errors?.['pattern']">Veuillez saisir une valeur valide.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-6">
                                <div class="form-group">
                                    <input type="email" class="form-control" id="email" placeholder="Email *" required="" formControlName="email">
                                    <div *ngIf="contactForm.get('email')?.touched && contactForm.get('email')?.invalid" class="text text-danger">
                                        <div *ngIf="contactForm.get('email')?.errors?.['required']">Email obligatoire.</div>
                                        <div *ngIf="contactForm.get('email')?.errors?.['email']">Email Invalide.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="phone" placeholder="Phone" formControlName="phone">
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="sujet" placeholder="Sujet *" required="" formControlName="sujet">
                                    <div *ngIf="contactForm.get('sujet')?.touched && contactForm.get('sujet')?.invalid" class="text text-danger">
                                        <div *ngIf="contactForm.get('sujet')?.errors?.['required'] || contactForm.get('sujet')?.errors?.['blank']">Sujet obligatoire.</div>
                                        <div *ngIf="contactForm.get('sujet')?.errors?.['pattern']">Veuillez saisir une valeur valide.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <textarea cols="30" rows="5" class="form-control" id="message" placeholder="Écrire un message... *" formControlName="message"></textarea>
                                    <div *ngIf="contactForm.get('message')?.touched && contactForm.get('message')?.invalid" class="text text-danger">
                                        <div *ngIf="contactForm.get('message')?.errors?.['required'] || contactForm.get('message')?.errors?.['blank']">Message obligatoire.</div>
                                        <div *ngIf="contactForm.get('message')?.errors?.['pattern']">Veuillez saisir une valeur valide.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <button type="submit" [disabled]="!contactForm.valid" class="default-btn d-block text-center">Envoyer</button>
                            </div>
                            <div class="col-12">
                                <div *ngIf="serverErrorMessage" class="text text-danger">{{serverErrorMessage}}</div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
