<!-- Page Banner -->
<div
    class="page-banner-area ptb-100"
    style="background-image: url(assets/images/shapes/page-banner-bg.jpg);"
>
    <div class="container">
        <div class="page-banner-content text-center">
            <h1>Nos sites d'intervention</h1>
            <ul class="ps-0 mb-0 list-unstyled">
                <li class="d-inline-block position-relative"><a routerLink="/">Accueil</a></li>
                <li class="d-inline-block position-relative">Nos sites d'intervention</li>
            </ul>
        </div>
    </div>
</div>

<!-- Mention légales -->
<div class="terms-conditions-area ptb-100">
    <div class="container">
        <div class="terms-conditions-content">
            <h4>Nous venons dans votre entreprise ainsi qu’en milieu scolaire</h4>
            <p>Nous proposons des interventions en entreprise et en milieu scolaire pour :
                <br>
                des <strong>ateliers “découverte”</strong> de 2 heures ou 3 heures
                <br>
                des <strong>formations en groupe</strong> (12 personnes maximum) par cours de 2 heures, 3 heures ou 6 heures (sur toute la journée) à raison d’une fois par semaine ou en semaine(s) intensive(s) de 30 heures
                <br>
                Pendant ces cours, l’enseignement suit le programme de formation établi en accord avec le Cadre Européen de Référence pour les Langues. Néanmoins, il nous est possible, sur demande préalable, d’y ajouter une liste de signature (vocabulaire des signes) spécifique au domaine dans lequel nous intervenons.
                <br>
                <i>Merci de nous contacter pour obtenir un devis personnalisé en nous précisant votre demande.</i>
            </p>
            <h4>Il nous ont fait confiance :</h4>
            <p>IRSAM – Les Hirondelles/La Rémusade (Institut Régional des Sourds et Aveugles de Marseille) – De 1981 à aujourd’hui
                <br>
                CMPP Henri Wallon d’Aix-en-Provence (Centre Médico-Pédagogique) – De 1995 à 2015
                <br>
                ESAT Arc-en-Ciel (Etablissements et Services d’Aide par le Travail) des Bouches-du-Rhône – De 2003 à 2007
                <br>
                Hôpital de la Conception de Marseille – De 2003 à 2004
                <br>
                Mairie de Marseille – De 2004 à 2006
                <br>
                EEAP Decanis de Voisins de Marseille (Etablissement pour Enfants et Adolescents Polyhandicapés) – De 2005 à 2006
                <br>
                Ecole des Beaux-Arts de Marseille – De 2005 à 2010
                <br>
                Ecole Nationale de Police de Marseille – 2006
                <br>
                Fédération Régionale des Offices du Tourisme des Bouches-du-Rhône – 2007
                <br>
                Centre des Impôts de Marseille – De 2007 à 2008
                <br>
                Centre des Déficients Auditif et Visuel de Bastia – De 2007 à 2008
                <br>
                Ecole de Kinésithérapie IFMK de Marseille – De 2007 à 2010
                <br>
                Association STELLA Aide aux familles de Marseille – 2008
                <br>
                IESPEP Clément Ader de Nice (Institut d’Education Sensorielle des Pupilles de l’Enseignement Public) – De 2008 à 2009
                <br>
                Mairie de Cannes – De 2008 à 2012
                <br>
                Fondation Don Bosco de Marseille – 2009
                <br>
                GIE Font de l’Orme dans les Alpes-Maritimes – 2009
                <br>
                Mairie de Nice – 2009
                <br>
                Centre Hospitalier Henri Guérin dans le Var – 2010
                <br>
                Monoprix Blancarde de Marseille – De 2010 à 2011
                <br>
                Université de Nice – De 2010 à 2013
                <br>
                Entreprise Arkema dans les Bouches-du-Rhône – 2011
                <br>
                Collège Anatole France de Marseille – Depuis 2012
                <br>
                SSEFIS Jean-Philippe Rameau de Toulon (Service de Soutien à l’Education Familiale et à l’Intégration Scolaire) – Depuis 2012
                <br>
                Auberge de jeunesse de Bonneveine à Marseille – 2012
                <br>
                FAM Le Garlaban (Foyer d’Accueil Médicalisé) – De 2012 à 2013
                <br>
                Entreprise Malakoff Mederic à Marseille – De 2012 à 2013
                <br>
                Maison d’enfants Les Saints Anges à Marseille – Depuis 2013
                <br>
                Mairie d’Aubagne – De 2013 à 2014
                <br>
                Métropole de Nice – 2014
                <br>
                COFELY INEO – Depuis 2014
                <br>
                Hôpital Saint-Joseph de Marseille – 2015
                <br>
                Alinea Aubagne – 2015
                <br>
                TOTAL S.A. – 2015
                <br>
                URAPEDA PACA CORSE – Depuis 2015
                <br>
                Collège Lucie Aubrac d’Eyguières – Depuis 2015
                <br>
                CCAS – 2016
                <br>
                Centre de loisirs Tempo Rouet à Marseille – 2016
                <br>
                AKKA Technologies (Marignane) – 2016
                <br>
                DEKRA INDUSTRIAL – 2016
                <br>
                GEMALTO S. A. – 2016
                <br>
                Lycée Marie Gasquet de Marseille – Depuis 2016
                <br>
                Hôpital de Carpentras – Depuis 2016
                <br>
                ISRP (Institut Supérieur de Rééducation Psychomotrice) – Depuis 2016
                <br>
                ESADMM (Ecole Supérieur d’Arts et Design Marseille-Méditerranée) – Depuis 2016
                <br>
                Lycée Saint Joseph en Avignon – Depuis 2016
                <br>
                ASSYTEM FRANCE – 2017
                <br>
                La poste Vallée verte depuis février 2021
                <br>
                Cea Cadarache 2021
                <br>
                IRSP formation en Psychomotricité depuis 2017
                <br>
                Lycée Marié Gasquet depuis 2017
                <br>
                CGM – CMA depuis 2019
                <br>
                Ainsi que tous nos élèves …
            </p>
            
        </div>
    </div>
</div>