<!-- Page Banner -->
<div
    class="page-banner-area ptb-100"
    style="background-image: url(assets/images/shapes/page-banner-bg4.webp);"
>
    <div class="container">
        <div class="page-banner-content text-center">
            <h1 style="color: #ffffff;">{{ 'COMPETENCES.TITLE'| translate }}</h1>
            <ul class="ps-0 mb-0 list-unstyled">
                <li class="d-inline-block position-relative"><a routerLink="/">Home</a></li>
                <li class="d-inline-block position-relative" style="color: #ffffff;">{{ 'COMPETENCES.TITLE'| translate }}</li>
            </ul>
        </div>
    </div>
</div>

<!-- Conditions générales de vente -->
<div class="terms-conditions-area ptb-100">
    <div class="container">
        <div class="button-group text-center">
            <button class="btn btn-primary m-2" (click)="showContent('relationnelle')" 
                    [ngClass]="{'active': activeContent === 'relationnelle'}">
                {{ 'COMPETENCES.CAT1'| translate }}
            </button>
            <button class="btn btn-primary m-2" (click)="showContent('linguistique')"
                    [ngClass]="{'active': activeContent === 'linguistique'}">
                {{ 'COMPETENCES.CAT2'| translate }}
            </button>
            <button class="btn btn-primary m-2" (click)="showContent('informatique')"
                    [ngClass]="{'active': activeContent === 'informatique'}">
                {{ 'COMPETENCES.CAT3'| translate }}
            </button>
        </div>

        <div [hidden]="activeContent !== 'relationnelle'">
            <h2 class="content-title">{{ 'COMPETENCES.CAP1'| translate }}</h2>
            <app-featured-boxes></app-featured-boxes>
        </div>

        <div [hidden]="activeContent !== 'linguistique'">
            <h2 class="content-title">{{ 'COMPETENCES.CAP2'| translate }}</h2>
            <app-langues></app-langues>
        </div>

        <div [hidden]="activeContent !== 'informatique'">
            <h2 class="content-title">{{ 'COMPETENCES.CAP3'| translate }}</h2>
            <app-informatique></app-informatique>
        </div>
    </div>
</div>