<!-- Page Banner -->
<div
    class="page-banner-area ptb-100"
    style="background-image: url(assets/images/shapes/page-banner-bg6.jpg);"
>
    <div class="overlay"></div>
    <div class="container">
        <div class="page-banner-content text-center">
            <h1 style="color: #ffffff;">SpaceShip Battle Game</h1>
            <ul class="ps-0 mb-0 list-unstyled">
                <li class="d-inline-block position-relative"><a routerLink="/python-projets">Python Projets</a></li>
                <li class="d-inline-block position-relative" style="color: #ffffff;">SpaceShip Battle Game</li>
            </ul>
        </div>
    </div>
</div>

<!-- Blog Details -->
<div class="blog-details-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="blog-details-desc">
                    <div class="post-thumb" style="text-align: center;">
                        <img src="assets/images/blogs/blog6.jpg" alt="blog-details" style="height: 400px;">
                    </div>
                    <h3>SpaceShip Battle Game</h3>
                    <div class="post-meta">
                        <ul class="ps-0 list-unstyled mb-0">
                            <li class="d-inline-block position-relative">
                                <i class='bx bx-calendar'></i>
                                2024
                            </li>
                        </ul>
                    </div>
                    <p>
                        C'est l'un de mes projets pour me familiariser avec la bibliothèque Pygame. J'ai créé une interface simple où 2 utilisateurs peuvent contrôler le vaisseau spatial rouge et jaune.
                    </p>
                    <h4>Comment le jouer?</h4>
                    <p>
                        Le joueur de gauche se déplacera avec la touche WASD et tirera des balles avec Ctrl dans le coin gauche. Le joueur de droite se déplacera avec les touches HAUT, BAS, GAUCHE, DROITE et tirera des balles avec la touche Ctrl droite. Deux joueurs ne peuvent se déplacer que dans leur propre cadre et dans la taille d'écran définie.
                        <br>
                        De plus, j'ai également intégré un système sonore, lorsque le vaisseau spatial tire des balles et est touché, et limite le nombre de balles que le joueur peut spammer à 3.
                        <br>
                        Chaque personne aura un Heatlh de 10 et chaque fois qu'elle sera touchée, 1 point lui sera retiré. Celui qui amènera la Heatlh à 0 en premier perdra.
                        <br>
                        J'ai également configuré le jeu pour qu'il redémarre automatiquement lorsqu'il y a un gagnant, afin que les deux joueurs puissent être prêts à jouer à une nouvelle partie. Et le joueur peut quitter en appuyant sur Fermer (icône x de la fenêtre Pygame).
                    </p>
                    <h4>Conclusion</h4>
                    <p>
                        Le jeu a une belle interface et un gameplay facile à comprendre. Cependant, le jeu est toujours simple, peut-être que plus tard j'ajouterai du code sur les météores aléatoires pour le rendre plus difficile à 2 joueurs.
                    </p>
                    <h4>Quelques images de ce projet</h4>
                    
                    <owl-carousel-o [options]="{items: 3, dots: true, nav: false, margin: 10}">
                        <ng-template carouselSlide>
                            <div class="image-container">
                                <img src="assets/images/blogs/Screenshot-25.png" class="img-fluid rounded" alt="Image 1" (click)="openModal('assets/images/blogs/Screenshot-25.png')">
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="image-container">
                                <img src="assets/images/blogs/Screenshot-26.png" class="img-fluid rounded" alt="Image 2" (click)="openModal('assets/images/blogs/Screenshot-26.png')">
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="image-container">
                                <img src="assets/images/blogs/Screenshot-27.png" class="img-fluid rounded" alt="Image 3" (click)="openModal('assets/images/blogs/Screenshot-27.png')">
                            </div>
                        </ng-template>
                    </owl-carousel-o>

                    <div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="imageModalLabel">Image</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <img id="modalImage" src="" class="img-fluid" alt="Modal Image">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="post-footer d-flex align-items-center flex-wrap">
                        <div class="article-share text-md-end">
                            <ul class="social ps-0 mb-0 mt-0 list-unstyled">
                                <li class="d-inline-block mb-0"><span class="fw-medium position-relative d-inline-block">Source code:</span></li>
                                <li class="d-inline-block mb-0"><a href="https://github.com/zung31?tab=repositories" class="github d-block rounded-circle text-center" target="_blank">
                                    <i class='bx bxl-github'></i>
                                </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>